= form_for [:admin, @product_line, @product, @product_image] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      = f.error_messages

  .box-body        
    .form-group
      = f.label :product_image_file
      = f.file_field :product_image_file, :class => "form-control"
    - if @product_image.product_image_file.file?
      .form-group
        =image_tag(@product_image.product_image_file.url("internal"))
    .form-group 
      = f.label :published
      = f.check_box :published
  .box-footer
    =f.submit nil, class: "btn btn-primary"