-if product_image.published
  -show_class = ""
-else
  -show_class = "line_unpublished"
%tr{:class => "table-line #{show_class}",:"data-id" => "#{product_image.id}"}
  %td= image_tag(product_image.product_image_file.url("thumb"))
  %td.class_published= show_boolean(product_image.published)
  %td  
    = link_to t("show"), [:admin, @product_line, @product, product_image], class: "btn btn-default"
    = link_to t("edit"), edit_admin_product_line_product_product_image_path(@product_line, @product, product_image), class: "btn btn-default"
    = link_to t("destroy"),[:admin, @product_line, @product, product_image],  method: :delete , data:{confirm: t("msg_delete")}, class: "btn btn-danger"
    %span.btn-change-published
      -if product_image.published
        = link_to t("unpublished"), unpublished_admin_product_line_product_product_image_path(@product_line, @product, product_image), class: "btn btn-warning", remote: true
      -else
        = link_to t("published"), published_admin_product_line_product_product_image_path(@product_line, @product, product_image), class: "btn btn-success", remote: true