-content_for :globalvar do
  %script
    var url_put= "#{sort_admin_product_line_product_product_images_path(@product_line, @product)}";
%section.content-header

  %h1
    ="#{ProductImage.model_name.human()} - #{@product.title}"    
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=ProductImage.model_name.human()  
/ Main content
%section.content
  .col-xs-12
    %p= link_to "Nova #{ProductImage.model_name.human()} ", new_admin_product_line_product_product_image_path(@product_line, @product), class: "btn btn-primary"
    .box
      .box-header
        %h3.box-title="#{ProductImage.model_name.human(count: 2)} Cadastrados - #{@product.title}"
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %thead
            %tr
              %th=t("activerecord.attributes.product_image.product_image_file")
              %th=t("activerecord.attributes.product_image.published")
              %th=t("actions")
          %tbody.sortable
            - for product_image in @product_images
              =render product_image
    %p
      = link_to "Nova #{ProductImage.model_name.human()} ", new_admin_product_line_product_product_image_path(@product_line, @product), class: "btn btn-primary"
      = link_to "Voltar", admin_product_line_products_path(@product_line), class: "btn btn-success"