$("tr[data-id='#{@product_image.id}']").addClass('line_unpublished');
$("tr[data-id='#{@product_image.id}'] td.class_published").html("#{show_boolean(@product_image.published)}");
$("tr[data-id='#{@product_image.id}'] .btn-change-published").html('#{link_to t("published"), published_admin_product_line_product_product_image_path(@product_line, @product, @product_image), class: "btn btn-success btn-change-published", remote: true}');

