.container-fluid
  .row#toys-card-nav-bg
    %section#toys-main-nav.text-center
      -@product_categories.each do |product_categorie|        
        .col-md-1.show_categories
          .row
            =link_to toys_category_path(product_categorie) do
              %div.toys-main-nav-card{id: product_categorie.class_toys}
                =image_tag(product_categorie.icon_category.url("otimize"), class: "img-responsive center-block")
                - category_name = product_categorie.title.split(" ", 2)
                %span
                  =category_name[0]
                -if category_name[1]
                  %span
                    =category_name[1]
