.col-md-3.show-box
  .toy-box
    -if @product.product_images.all_active.exists?
      = image_tag(@product.product_images.all_published(("priority ASC, id")).first.product_image_file.url("medium"), class: "img-responsive")
    %p.toy-name
      =@product.title
  =link_to(@conf.title_more, toys_product_path(@product))