-content_for :footer do
  %script
    $(window).load(function(){
    $('#da-slider').cslider({
    bgincrement	: 30,
    autoplay : false,
    interval : 6000
    });

        
    });
   
.container
  .row
    -if !@product_featureds.blank?
      #da-slider.da-slider.col-md-8.col-lg-8
        -@product_featureds.each do |product_featured|
          .da-slide
            %h2
              - product_name = product_featured.title.split(" ", 2)
              %span.greenarmy
                =product_name[0]
              %span.bold
                =product_name[1]
            =link_to(@conf.title_see_the_product, furnitures_product_path(product_featured),class: "da-link")
              
            =image_tag(product_featured.image_prod.url("medium"), class: "da-img img-responsive")
        %nav.da-arrows
          %span.da-arrows-prev
          %span.da-arrows-next
        %nav.da-dots
    .col-lg-3
      =image_tag("banner-download-catalogo.jpg", width: "262", height: "144")
      %p.text-center.cta-furniture
        =@conf.title_download_virtual_catalog
      %p.text-center.cta-phrase
        =@conf.text_download_virtual_catalog
      -if @conf.catalog_furniture.file?
        .text-center
          =link_to(@conf.title_download,@conf.catalog_furniture.url, class: "btn btn-default",target: "_blank")
%section#main-content
  .container
    .row
      -if !@product_categories.blank? 
        -@product_categories.each do |product_category|
          -if product_category.featured
            .col-xs-12.col-sm-12.col-md-3.col-lg-3
              .row
                .card
                  =image_tag(product_category.image_category.url("home"), width: "292.5")
                  =link_to furnitures_category_path(product_category), class: "card-action card-dark" do
                    =product_category.title
-if @products_news
  .container
    .row
      .col-lg-12
        %h3
          %span.new-product-grey
            produtos
          %span.new-product-blue
            novos
      .col-lg-12
        .flexslider
          %ul.slides
            /%li
            /  %a{:href => "cadeira.html"}
            /    %img{:src => "images/new-chair.jpg"}/
            /%li
            /  %img{:src => "images/new-chair.jpg"}/
            /%li
            /  %img{:src => "images/new-chair.jpg"}/
            /%li
            /  %img{:src => "images/new-chair.jpg"}/
            /%li
            /  %img{:src => "images/new-chair.jpg"}/
            /%li
            /  %img{:src => "images/new-chair.jpg"}/
            /%li
            /  %img{:src => "images/new-chair.jpg"}/
            /%li
            /  %img{:src => "images/new-chair.jpg"}/
            /%li
            /  %img{:src => "images/new-chair.jpg"}/
            /%li
            /  %img{:src => "images/new-chair.jpg"}/
            /%li
            /  %img{:src => "images/new-chair.jpg"}/
            /%li
            /  %img{:src => "images/new-chair.jpg"}/