.container
  %section#display-products.row
    -if !@products.blank?
      -i = 1
      - count = 0
      -@products.each do |product|
        -if product.published && product.active && product.product_category.published && product.product_category.active && product.product_line_id == 1
          - count = count + 1
          .col-md-4.text-center.product-card
            .product-image
              .img_show
                -if product.image_prod.file?
                  =image_tag(product.image_prod.url("medium"))
              %p=product.title
              =link_to(@conf.title_more,furnitures_product_path(product))
          -if i == 3
            .row
            -i = 1
          -else
            -i = i +1
      -if count == 0
        .col-md-12.text-center.product-null
          %p=@conf.title_nothing_found
    -else
      .col-md-12.text-center.product-null
        %p=@conf.title_nothing_found
