-content_for :footer do 
  = stylesheet_link_tag "luminous-basic.min", media: "all"
  =javascript_include_tag 'Luminous.min'
  %script
    new Luminous(document.querySelector('.zoom'));
    -if @products_news
      $(document).ready(function () {
      $('.flexslider').flexslider({
      animation: "slide",
      animationLoop: false,
      itemWidth: 210,
      itemMargin: 5
      });
      });
    
.container
  %section#furniture-product
    .row
      -# Nome do Produto e Referência
      .col-md-12
        %h1
          =@product.title
        %p.product-ref
          = "ref.: #{@product.reference}"
      .col-md-6.product-image-shadow
        .product-image-box
          =link_to @product.image_prod.url("big"), class: "zoom", id: "link_big_image" do
            =image_tag(@product.image_prod.url("internal"), class: "img-responsive", id: "show_big_image")
            %i.fa.fa-search-plus
      .col-md-6
        -if !@product.description.blank?
          %p.furniture-product-specs-title
            =@conf.title_description
          %p
            =@product.description
        %p.furniture-product-specs-title
          =@conf.title_product_data
        /%img{:src => "images/ref-100-specs.jpg"}
        %table.table
          %tr
            %th
              =@conf.title_length
            %th
              =@conf.title_width
            %th
              =@conf.title_height
            %th
              =@conf.title_weight
              %span
                (kg)
            %th
              =@conf.title_colors
          %tr
            %td
              =@product.product_length
            %td
              =@product.product_width
            %td
              =@product.product_height
            %td
              =@product.product_weight
            %td
              =@product.product_colors
        
        -if !@product_images.blank?
          %p.furniture-product-specs-title    
            .row
              .col-md-3
                =link_to(homes_load_image_path(prod: @product.id), remote: true, class: "thumbnail") do
                  =image_tag(@product.image_prod.url("internal_thumb"), class: "img-responsive")
              -@product_images.each do |product_image|
                .col-md-3
                  =link_to(homes_load_image_path(image_prod: product_image.id), remote: true, class: "thumbnail") do
                    =image_tag(product_image.product_image_file.url("internal_thumb"), class: "img-responsive")
        .row
          .col-md-6
            %p.furniture-product-specs-title
              =@conf.title_share 
            .addthis_inline_share_toolbox
          -if @product.product_download.file?
            .col-md-6
              %p.furniture-product-specs-title
                =@conf.title_download_images
              %p
                =link_to(@conf.title_download,@product.product_download.url, class: "btn btn-default",target: "_blank")


        
-if @products_news
  .container
    .row
      .col-lg-12
        %h3
          %span.new-product-grey
            produtos
          %span.new-product-blue
            novos
      .col-lg-12
        .flexslider
          %ul.slides
            %li
              %a{:href => "cadeira.html"}
                %img{:src => "images/new-chair.jpg"}/
            %li
              %img{:src => "images/new-chair.jpg"}/
            %li
              %img{:src => "images/new-chair.jpg"}/
            %li
              %img{:src => "images/new-chair.jpg"}/
            %li
              %img{:src => "images/new-chair.jpg"}/
            %li
              %img{:src => "images/new-chair.jpg"}/
            %li
              %img{:src => "images/new-chair.jpg"}/
            %li
              %img{:src => "images/new-chair.jpg"}/
            %li
              %img{:src => "images/new-chair.jpg"}/
            %li
              %img{:src => "images/new-chair.jpg"}/
            %li
              %img{:src => "images/new-chair.jpg"}/
            %li
              %img{:src => "images/new-chair.jpg"}/
