= form_for [:admin, @product_line], html: { multipart: true } do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      = f.error_messages

  .box-body
    #tabs.nav-tabs-custom
      %ul.nav.nav-tabs
        - ProductLine.globalize_locales.sort!{|x,y| y <=> x }.each do |show|
          - if ProductLine.globalize_locales.first == show
            - class_locales = "active "
          - else
            - class_locales = ""
          %li{class: class_locales}
            =link_to(translate_option(show), "##{show}", "data-toggle": "tab")
      .tab-content
        - ProductLine.globalize_locales.sort!{|x,y| y <=> x }.each do |show|
          - if ProductLine.globalize_locales.first == show
            - class_locales = "active "
          - else
            - class_locales = ""
          - class_locales = "#{class_locales}tab-pane"
          %div{id: show, class: class_locales}
            - ProductLine.globalize_attribute_names.each do |lang|       
              - if lang[-2, 2] == "#{show[-2,2].downcase}"
                .form-group 
                  = f.label lang
                  -if lang[0, 4] == "desc"
                    = f.text_area lang, rows: "3", :class => "form-control"
                  -else
                    = f.text_field lang, :class => "form-control"
    .form-group
      = f.label :product_line_image
      = f.file_field :product_line_image, :class => "form-control"
    - if @product_line.product_line_image.file?
      .form-group
        =image_tag(@product_line.product_line_image.url)
    .form-group 
      = f.label :slug
      = f.text_field :slug, :class => "form-control"
    .form-group 
      = f.label :published
      = f.check_box :published
  .box-footer
    =f.submit nil, :class => "btn btn-primary"