%section.content-header
  %h1
    Linhas de Produtos   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active Linhas de Produtos 
/ Main content
%section.content
  .col-xs-12
    %p= link_to "Nova Linha de Produto", new_admin_product_line_path, :class => "btn btn-primary"
    .box
      .box-header
        %h3.box-title="Linhas de Produtos Cadastrados"
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %tr
            %th=t("activerecord.attributes.product_line.title")
            %th=t("activerecord.attributes.product_line.slug")
            %th=t("activerecord.attributes.product_line.published")
            %th=t("actions")
          - for product_line in @product_lines
            %tr
              %td= product_line.title
              %td= product_line.slug
              %td= show_boolean(product_line.published)
              %td  
                = link_to t("show"), [:admin, product_line], :class => "btn btn-default"
                = link_to t("edit"), edit_admin_product_line_path(product_line), :class => "btn btn-default"
                = link_to t("destroy"), [:admin, product_line], :confirm => t("msg_delete"), :method => :delete, :class => "btn btn-default"
    %p= link_to "Nova Linha de Produto", new_admin_product_line_path, :class => "btn btn-primary"
