%section.content-header
  %h1
    Admin/Product Line  
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active Admin/Product Line


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title="Admin/Product Line"
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product_line.title")}:"
            %br
            = @product_line.title
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product_line.short_description")}:"
            %br
            = @product_line.short_description
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product_line.description")}:"
            %br
            = @product_line.description
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product_line.slug")}:"
            %br
            = @product_line.slug
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product_line.published")}:"
            %br
            = @product_line.published
            
        
  = link_to t("back_list"), admin_product_lines_path, :class => "btn btn-default"
  = link_to t("edit"), edit_admin_product_line_path(@product_line), :class => "btn btn-default" 
  = link_to "Novo Admin/Product Line", new_admin_product_line_path, :class => "btn btn-primary"


