!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title
      = content_for?(:title) ? t("site_name") + " - " + yield(:title) : t("site_name")
    %meta{'name' => 'viewport', :content => 'width=device-width, initial-scale=1'}
    = render 'application/favicon'
    = csrf_meta_tag
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag "application"
  %body
    .container-fluid#highlight
      .row
        .container
          .row
            .col-md-3
              #logo
                =link_to(image_tag("logo.png"),root_path)
            .col-md-9.text-right
              %nav#language-nav
                %ul.list-unstyled.list-inline
                  = language_links
              %nav#main-nav
                %ul.list-unstyled.list-inline.text-right
                  %li
                    =link_to(@conf.title_institutional, about_path())
                  %li
                    =link_to(@conf.title_assistance, assistance_path())
    .container-fluid
      %section#breadcrumb
        .row
          %ol.breadcrumb{:id => "breadcrumbs"}
            %li
              =link_to("Xplast", root_path)
            %li
              =link_to(@conf.title_news, news_index_path)
    .container-fluid
      %section#lista-noticias
        .row
          .col-md-12
            %h1
              =@conf.title_news
        -@notices.each do |notice|
          - notice.notice_image.file? ? show_notice = "col-md-7" : show_notice = "col-md-12"
          .row.new-box
            %div{class: "col-xs-12 #{show_notice}"}
              %h2
                =notice.title
                %span -
                %span
                  =l(notice.created_at, :format => :date_show)
              %p
                =truncate(strip_tags(notice.description.html_safe), :length => 200, :separator => ' ')
              =link_to(@conf.title_know_more, news_path(notice))
            -if notice.notice_image.file?
              .col-md-5.col-xs-12
                =image_tag(notice.notice_image.url("home"), class: "img-responsive")
    .container-fluid#company-social
      .row
        .container
          %section#social
            .row
              -if !@conf.link_facebook.blank?
                .col-md-4
                  #facebook.text-center
                    %a{:href => @conf.link_facebook, target: "_blank"}
                      =image_tag("fb-icon-big.png")
                      %p
                        facebook
              -if !@conf.link_instagram.blank?
                .col-md-4
                  #instagram.text-center
                    %a{:href => @conf.link_instagram, target: "_blank"}
                      =image_tag("insta-icon-big.png")
                      %p
                        instagram
              -if !@conf.link_linkedin.blank?
                .col-md-4
                  #linkedin.text-center
                    %a{:href => @conf.link_linkedin, target: "_blank"}
                      =image_tag("in-icon-big.png")
                      %p
                        linkedin
    .container-fluid#bring-your-production
      .row
        .col-md-12.text-center.text-uppercase
          %h1
            =@conf.title_production_xplast
          %p.text-lowercase=@conf.title_contact_us
          =link_to(@conf.sac_mail,"mailto:#{@conf.sac_mail}", class: "text-lowercase")
    .container-fluid#market
      .row
        .container
          .row.market-box
            .col-md-12
              .row
                .col-md-4
                  .row
                    %h3.text-uppercase
                      =@conf.title_currency_exchange
                .col-md-2

                .col-md-3.show_finance
                  .row
                    %p
                      =raw(@value1)
                .col-md-3.show_finance
                  .row
                    %p
                      =raw(@value2)

    %footer#portal
      =render "layouts/footer_data"
    .container
      .row
        .col-md-12.text-center
          =link_to(image_tag("logo-lemon-pepper.jpg"),"http://www.lemonp.com.br", target: "_blank")

  =javascript_include_tag 'application'
  = render 'analytics/code'
