!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title
      = content_for?(:title) ? t("site_name") + " - " + yield(:title) : t("site_name")
    %meta{'name' => 'viewport', :content => 'width=device-width, initial-scale=1'}
    = render 'application/favicon'
    = csrf_meta_tag
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "luminous-basic.min"
  %body
    .container-fluid#highlight
      .row
        .container
          .row
            .col-md-3
              #logo
                =link_to(image_tag("logo.png"),root_path)
            .col-md-9.text-right
              %nav#language-nav
                %ul.list-unstyled.list-inline
                  = language_links
              %nav#main-nav
                %ul.list-unstyled.list-inline.text-right
                  %li
                    =link_to(@conf.title_institutional, about_path())
                  %li
                    =link_to(@conf.title_assistance, assistance_path())
    .container-fluid
      .row
        %section#breadcrumb
          .row
            %ol.breadcrumb{:id => "breadcrumbs"}
              %li
                =link_to("Xplast", root_path)
              %li
                =link_to(@conf.title_news, news_index_path)
    .container-fluid
      %section#corpo-noticia
        .row
          .col-md-12#img-corpo-noticia
            -if @notice.notice_image.file?
              =image_tag(@notice.notice_image.url)
          .col-md-12
            %h1
              ="#{@notice.title} - "
              %span
                =l(@notice.created_at, :format => :date_show)
          .col-md-12
            =raw(@notice.description)
          
          -if !@notice.title_source.blank?
            .col-md-12
              %p
                ="#{@conf.title_source_news}:"
                %br
                -if @notice.link_source.blank?
                  %b=@notice.title_source
                -else
                  =link_to(@notice.title_source, @notice.link_source, target: "_blank")
          .col-md-12
            .addthis_inline_share_toolbox

          .row
          -if @notice_images.any?
            %section.top-35
              -@notice_images.each do |notice_image|
                .col-md-3
                  =link_to(image_tag(notice_image.image_notice.url("internal")), image_path(notice_image.image_notice.url("big")), class: "thumbnail zoom")
    .container-fluid#company-social
      .row
        .container
          %section#social
            .row
              -if !@conf.link_facebook.blank?
                .col-md-4
                  #facebook.text-center
                    %a{:href => @conf.link_facebook, target: "_blank"}
                      =image_tag("fb-icon-big.png")
                      %p
                        facebook
              -if !@conf.link_instagram.blank?
                .col-md-4
                  #instagram.text-center
                    %a{:href => @conf.link_instagram, target: "_blank"}
                      =image_tag("insta-icon-big.png")
                      %p
                        instagram
              -if !@conf.link_linkedin.blank?
                .col-md-4
                  #linkedin.text-center
                    %a{:href => @conf.link_linkedin, target: "_blank"}
                      =image_tag("in-icon-big.png")
                      %p
                        linkedin
    .container-fluid#bring-your-production
      .row
        .col-md-12.text-center.text-uppercase
          %h1
            =@conf.title_production_xplast
          %p.text-lowercase=@conf.title_contact_us
          =link_to(@conf.sac_mail,"mailto:#{@conf.sac_mail}", class: "text-lowercase")

    %footer#portal
      =render "layouts/footer_data"
    .container
      .row
        .col-md-12.text-center
          =link_to(image_tag("logo-lemon-pepper.jpg"),"http://www.lemonp.com.br", target: "_blank")

  =javascript_include_tag 'application'
  =javascript_include_tag 'Luminous.min'
  = render 'analytics/code'
  %script
    new LuminousGallery(document.querySelectorAll('.zoom'));
