= form_for [:admin, @product_label] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      = f.error_messages

  .box-body        
    .form-group 
      = f.label :title
      = f.text_field :title, class: "form-control"
    .form-group
      = f.label :image_label
      = f.file_field :image_label, :class => "form-control"
    - if @product_label.image_label.file?
      .form-group
        =image_tag(@product_label.image_label.url())
    .form-group 
      = f.label :published
      = f.check_box :published
  .box-footer
    =f.submit nil, class: "btn btn-primary"