%section.content-header
  %h1
    =ProductLabel.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=ProductLabel.model_name.human()  
/ Main content
%section.content
  .col-xs-12
    %p= link_to "Novo #{ProductLabel.model_name.human()} ", new_admin_product_label_path, class: "btn btn-primary"
    .box
      .box-header
        %h3.box-title="#{ProductLabel.model_name.human(count: 2)} Cadastrados"
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %tr
            %th=t("product_label.image_label")
            %th=t("activerecord.attributes.product_label.title")
            %th=t("activerecord.attributes.product_label.published")
            %th=t("actions")
          - for product_label in @product_labels
            %tr
              %td= image_tag(product_label.image_label.url("thumb"))
              %td= product_label.title
              %td= show_boolean(product_label.published)
              %td  
                = link_to t("show"), [:admin, product_label], class: "btn btn-default"
                = link_to t("edit"), edit_admin_product_label_path(product_label), class: "btn btn-default"
                = link_to t("destroy"),[:admin, product_label],  method: :delete , data:{confirm: t("msg_delete")}, class: "btn btn-default"
    %p= link_to "Novo #{ProductLabel.model_name.human()} ", new_admin_product_label_path, class: "btn btn-primary"
