%section.content-header
  %h1
    =ProductLabel.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=ProductLabel.model_name.human() 


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title=ProductLabel.model_name.human() 
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product_label.title")}:"
            %br
            = @product_label.title
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product_label.published")}:"
            %br
            = show_boolean(@product_label.published)
        
  = link_to t("back_list"), admin_product_labels_path, :class => "btn btn-default"
  = link_to t("edit"), edit_admin_product_label_path(@product_label), class: "btn btn-default"
  = link_to "Novo #{ProductLabel.model_name.human()} ", new_admin_product_label_path, class: "btn btn-primary"


