.container
  .row#toys-list
    %section.text-center
      -if !@products.blank?
        - i = 0
        -@products.each do |product|
          -if i == 0
            .row 
            =render file: "toys/_product.html.haml", product: @product = product
          -else
            =render file: "toys/_product.html.haml", product: @product = product
          -if i == 3
            -i = 0
          -else
            -i = i + 1