.container
  %section#display-products.row
    -if @products.blank?
      .col-md-12.text-center.product-null
        %p="Nehum produto cadastrado para categoria #{@product_category.title}!"
    -else
      -i = 1
      -@products.each do |product|
        .col-md-4.text-center.product-card
          .product-image
            .img_show
              -if product.image_prod.file?
                =image_tag(product.image_prod.url("medium"))
            %p=product.title
            =link_to(@conf.title_more,furnitures_product_path(product))
        -if i == 3
          .row
          -i = 1
        -else
          -i = i +1
