!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title
      = content_for?(:title) ? t("site_name") + " - " + yield(:title) : t("site_name")
    %meta{'name' => 'viewport', :content => 'width=device-width, initial-scale=1'}
    = render 'application/favicon'
    = csrf_meta_tag
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "luminous-basic.min"

  %body
    .container-fluid#highlight-institutional
      .row
        .col-md-12.text-right
          %nav#language-nav
            %ul.list-unstyled.list-inline
              = language_links
        .col-md-7.text-right
          =link_to(image_tag("logo.png"),root_path)
        .col-md-3.col-md-offset-2
          %nav#main-nav
            %ul.list-unstyled.list-inline.text-right
              %li
                =link_to("Home", root_path())
              %li
                =link_to(@conf.title_assistance, assistance_path())
        .col-md-12
          .row
            %section#header-institutional
              -show_title = @about.title_about.split(' ').in_groups(2, false)
              .col-md-5.col-md-offset-2
                %h1.text-center
                  =show_title[0].join(" ")
              .col-md-12
                %h2.text-center
                  =show_title[1].join(" ")
              .col-md-4
                -if @about.image_small.file?
                  =image_tag(@about.image_small.url, class: "img-responsive")
                .col-md-9.col-sm-offset-3
                  #newsletter-box
                    %h2
                      -show_title = @about.title_newsletter.split(' ')
                      -count_title = show_title.size
                      - if count_title%2 == 0
                        -show_title = show_title.in_groups_of(3, false)
                      -else
                        -show_title = show_title.in_groups(2, false)
                      %span
                        =show_title[0].join(" ")
                      %span.newsletter-blue
                        =show_title[1].join(" ")
                    =raw(@about.description_newsletter)
                    = form_for [@newsletter], :remote => true do |f|
                      .form-group
                        = f.text_field :title, :placeholder => true, :type => "text"
                        = f.text_field :email, :placeholder => true, :type => "email"
                        = f.submit @conf.title_send_button, class: "btn btn-primary"
              .col-md-6
                = raw(@about.description_about)
              .col-md-8
                -if @about.image_large.file?
                  =image_tag(@about.image_large.url, class: "img-responsive")
    #company-data.container-fluid
      .row
        .container
          -if !@about.movie_link.blank?
            .row
              %section#institutional
                .col-md-6
                  .embed-responsive.embed-responsive-16by9
                    %iframe.embed-responsive-item{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "#{@about.movie_link}", :webkitallowfullscreen => ""}
                .col-md-6
                  %h3
                    =raw(title_movie(@about.title_movie))
                  =raw(@about.description_movie)
          .row
            #insitutional-bottom
              #injetoras.text-center
                .col-md-4
                  -if @about.image_injectors.file?
                    =image_tag(@about.image_injectors)
                  %ul.list-unstyled
                    %li.injetoras-number
                      =@about.number_injectors
                    %li.injetoras-white
                      =@about.title_injectors
                    %li.injetoras-green
                      =@about.subtitle_injectors
              #ferramentaria.text-center
                .col-md-4
                  -if @about.image_tooling.file?
                    =image_tag(@about.image_tooling)
                  %ul.list-unstyled
                    %li.injetoras-white
                      =@about.title_tooling
                    %li.injetoras-green
                      =@about.subtitle_tooling
              #metalizacao.text-center
                .col-md-4
                  -if @about.image_metallization.file?
                    =image_tag(@about.image_metallization)
                  %ul.list-unstyled
                    %li.injetoras-white
                      =@about.title_metallization
                    %li.injetoras-green
                      =@about.subtitle_metallization
    .container-fluid
      .row
        .container
          .row
            %section#institutional-gallery
              .col-md-3
                =link_to(image_tag("img5.jpg"), image_path("img5.jpg"), class: "thumbnail zoom")
              .col-md-3                                     
                =link_to(image_tag("img4.jpg"), image_path("img4.jpg"), class: "thumbnail zoom")
              .col-md-3                                     
                =link_to(image_tag("img3.jpg"), image_path("img3.jpg"), class: "thumbnail zoom")
              .col-md-3                                     
                =link_to(image_tag("img2.jpg"), image_path("img2.jpg"), class: "thumbnail zoom")
    %footer#portal
      =render file: "layouts/_footer_data.html.haml"
    .container
      .row
        .col-md-12.text-center
          =link_to(image_tag("logo-lemon-pepper.jpg"),"http://www.lemonp.com.br", target: "_blank")

  =javascript_include_tag 'application'
  =javascript_include_tag 'Luminous.min'
  = render 'analytics/code'
  %script
    new LuminousGallery(document.querySelectorAll('.zoom'));
