!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title
      = content_for?(:title) ? t("site_name") + " - " + yield(:title) : t("site_name")
    %meta{'name' => 'viewport', :content => 'width=device-width, initial-scale=1'}
    = render 'application/favicon'
    = csrf_meta_tag
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag "application"

  %body
    .container-fluid#highlight-institutional
      .row
        .col-md-12.text-right
          %nav#language-nav
            %ul.list-unstyled.list-inline
              = language_links
        .col-md-7.text-right
          =link_to(image_tag("logo.png"),root_path)
        .col-md-3.col-md-offset-2
          %nav#main-nav
            %ul.list-unstyled.list-inline.text-right
              %li
                =link_to("Home", root_path())
              %li
                =link_to(@conf.title_institutional, about_path())
    .container.top-35
      .col-md-6
        %svg#svgImage{:height => "100%", :version => "1.1", :viewbox => "0 0 450 447.23", :width => "100%", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
          %path#AC{:d => "M81.8985 174.724l4.73622 1.60305 0 0c-1.60305,0.510041 -2.76876,0.291484 -4.15326,2.1858 -0.947156,1.31157 -1.67576,1.96724 -3.2788,2.76876 -1.60305,0.801525 -1.89431,0.218558 -3.93448,2.18602 -1.09301,1.02008 -1.67598,2.84147 -3.78885,2.84147 -5.75631,0 -3.13317,5.17334 -9.25367,5.61045 -1.31157,0.072926 -0.582747,-1.89431 -5.90172,-1.53012 -1.7489,0.072926 -6.26635,0 -8.59777,0 -1.82161,0 -2.33165,2.04016 -4.29889,2.04016 -1.09301,0 -1.53012,0 -1.67598,-0.655673 -2.98732,-0.582967 -2.25872,-2.55021 -2.25872,-6.55761 0,-3.2788 0.218558,-9.90934 0,-11.0023 -5.17312,2.11309 -3.20588,7.43206 -12.2408,7.2135 -1.96746,-0.072926 -3.42466,0.145632 -5.31897,-0.145852 0.0727057,-9.47201 -12.5325,-4.22596 -11.4395,-6.33905 0.655673,-0.87423 2.1858,-1.89431 2.1858,-3.42444 0,-2.1858 -4.66308,-4.51744 -4.66308,-5.17334 0,-3.06025 -1.96724,-1.31135 -2.40457,-3.06025 -0.947156,-3.49736 -1.31157,-2.69584 -3.06025,-4.37159 0.072926,-0.218558 0.437336,-0.947156 0.437336,-1.38449 0,-2.04016 -3.06025,-0.801525 -2.98732,-4.08033 0.0727057,-2.33143 2.69584,-1.16571 2.69584,-2.25872 0,-0.801304 -0.801525,-2.25872 -0.801525,-3.06025 4.80893,-0.145632 9.03489,4.44474 15.9569,5.31897 9.83641,1.23864 14.6453,2.76876 17.1955,3.06025 6.55761,0.655893 8.59777,2.25872 15.6654,5.68338 7.14058,3.42444 19.1628,8.74341 31.185,12.5323l0 0 0 0z"}
          %path#AL{:d => "M445.628 169.114c-1.16593,-0.728599 -2.62313,-1.74868 -4.29889,-1.74868 -0.655893,0 -2.18602,1.38449 -2.91462,0.510041 0,0 -3.71592,-1.16571 -5.68316,1.67598 -0.947377,1.38427 -1.16593,1.82139 -3.49758,2.40435 -0.87423,0.218558 -0.728599,1.09301 -2.84147,-0.291484 -0.510041,-0.291484 -1.02008,0.510041 -1.89453,0.510041 -3.13295,0 -4.59037,-5.53753 -7.50477,-4.15304 -0.437115,0.218558 -1.09301,-3.06025 -2.55021,-0.291484 -1.31157,0.947156 -2.84169,2.40435 -4.15326,2.40435 -0.291263,0 -0.582747,0.072926 -0.87423,0 0,1.45742 1.89431,2.25872 2.25872,2.84169 4.80893,2.55021 7.28621,4.22596 11.9495,6.55761 0.655673,0.291484 1.23864,1.74868 1.82139,2.62313 0.655893,1.02008 1.82161,1.02008 2.4775,1.31157 0.582747,0.364189 2.11287,2.11287 2.76876,2.76876 0.437115,-0.36441 0.655673,-0.437336 1.02008,-1.02008 3.2788,-4.6633 7.28621,-7.72354 11.3665,-12.824 0.655673,-0.801304 1.60283,-1.96724 2.55021,-3.2788l0 0 0 0z"}
          %path#AM{:d => "M181.866 142.81c-0.437336,0.655673 0,2.76876 -0.801525,4.37159 -0.218558,0.36441 -2.04016,0.874451 -2.04016,1.67598 0,1.16571 1.23864,1.74868 1.23864,2.84147 0,1.23864 -0.582967,1.82161 -1.23864,3.06025l0 0 0 4.736 0 0c-0.291484,0.218778 -0.874451,0.655893 -1.31157,1.02008l0 0 -33.7352 0 0 0c-0.36441,-0.582747 -3.64321,-1.38427 -4.6633,-1.23864 -2.25872,0.291484 -1.96724,-1.31135 -6.12049,-2.40435 -3.2788,-0.874451 -4.66308,-5.46482 -5.31897,-5.46482 -2.25872,0 -6.33905,0.291484 -8.59777,0.291484 0,1.16593 -1.53012,2.18602 -1.53012,2.55021 0.582967,1.96724 -3.2788,0.437115 -3.49736,2.62313 -0.145632,1.53012 -0.655673,0.947156 -0.655673,2.25872 0,3.35173 -2.76876,3.78885 -5.31897,4.15304 -5.02749,0.801525 -5.90194,6.4849 -7.43206,5.61045 -1.74868,-1.02008 -3.06025,2.04016 -5.75608,1.23864 -1.09301,-0.291263 -1.09301,-1.02008 -3.20588,-1.23864 -5.31897,-0.510041 -4.59037,3.2788 -10.2738,5.82901 -12.0222,-3.78885 -23.7529,-9.10782 -30.8935,-12.5323 -7.06765,-3.42466 -9.10782,-5.02749 -15.6654,-5.68338 -2.55021,-0.291484 -7.35913,-1.82161 -17.1955,-3.06025 -6.92202,-0.87423 -11.148,-5.4646 -15.9569,-5.31897 0,-5.17312 7.50477,-4.80893 6.63054,-8.379 -0.36441,-0.291484 -0.291484,-2.4775 -0.291484,-3.49758 0,-2.33143 2.40435,-2.47728 2.40435,-4.66308 0,-2.04016 -0.728599,-2.98732 0.291484,-5.61045 0.874451,-2.40435 3.49736,-1.89431 4.6633,-3.42444 3.13295,-3.9347 9.83641,-7.28621 16.1755,-7.28621 2.04016,0.145632 1.02008,-2.91462 4.80893,-2.98754 4.95456,-0.582747 5.68316,4.08033 6.99473,2.04016 1.60305,-6.63032 6.12049,-35.4839 6.12049,-35.4839 0.437115,-4.22618 -2.62313,-4.22618 -2.62313,-6.4849 0,-0.218558 0.510041,-0.291263 0.510041,-1.38427 0,-1.67598 -4.44452,-3.86177 -5.53753,-5.02749 -0.291484,-0.291484 -0.437115,-8.08773 -0.145632,-8.59777 0.510041,-0.145852 1.89431,0.218558 2.40435,-0.510041 0.510041,-0.291484 1.16593,-1.09301 1.89453,-0.874451 1.16571,0.36441 2.11287,-0.87423 2.40435,-0.947156 1.02008,0.145632 0.291484,0.655673 1.09301,1.31157 1.02008,1.23864 2.33165,0 2.33165,0 0.582747,-1.16593 0.510041,-4.95478 -2.18602,-4.80893 -1.67576,0.072926 -3.64299,-0.145852 -5.68316,-0.145852 -0.218558,0 0,-6.12027 0,-7.43184 0,-0.291484 2.9144,-1.38449 6.84909,-0.437115 1.53012,0.437115 7.6504,-0.36441 11.1478,-0.36441 1.23886,0 0,-1.60305 0,-2.04016 0,-0.364189 0.291484,-0.947156 0.728819,-0.947156 2.69584,-0.291484 0.801304,2.98732 3.86155,2.76876 1.67598,-0.801525 2.84169,-4.80893 5.10041,-4.80893 1.31157,0 3.86177,4.51744 4.44474,6.04757 0.291263,0.801525 -0.218778,4.29889 0,4.59037 0.655673,0.582967 1.74868,-0.655893 2.54999,-0.145852 2.55021,1.74868 5.24626,4.29889 6.77639,4.6633 3.35151,0.728599 5.82901,-3.06025 7.6504,-2.62313 1.16593,1.02008 -0.291484,2.40457 1.09301,3.49736 1.38449,0.145852 0.655673,-2.54999 3.20588,-3.13295 1.02008,0 1.23864,-1.4572 1.38449,-2.25872 1.67576,0 2.25872,-1.38449 3.42444,-1.67598 2.33165,0.072926 2.98732,-1.23864 4.44474,-2.62291 0.728599,-0.437115 0.728599,1.74868 1.74868,0.072926 0.0727057,-0.145852 2.62291,-1.16593 2.62291,-2.25894 0,-1.60283 -0.218558,-3.06003 1.02008,-3.42444 1.96746,0.437115 3.49758,-1.74868 4.80893,-2.47728l0 0 1.82161 0 0 0c0.36441,-0.291484 0.728599,-1.67598 0.582967,-2.04016 -0.728599,-2.25872 5.82901,5.68316 6.04757,6.92202 0.437115,2.1858 2.40435,2.25872 2.69584,3.78885 0.655893,3.71592 2.40457,2.25872 1.53012,10.2735 0.072926,1.89431 1.23864,4.51744 1.02008,6.70324 -0.218558,1.82161 2.40457,4.80893 0.072926,5.31897 -1.89453,-0.145632 -1.38449,1.38449 0.145632,1.89453 2.91462,1.23864 5.31897,4.51744 5.31897,4.51744 2.76876,2.33165 4.44474,0.87423 4.44474,-1.89453 -1.16593,-5.68316 2.98732,-7.06765 5.82901,-7.06765 1.74868,-0.364189 2.40435,3.9347 4.66308,4.08033 1.89453,0.218558 3.42466,-2.33165 3.42466,-2.33165 -0.145852,1.82161 -0.145852,-2.9144 1.60283,-4.0074 1.67598,-0.655673 2.04016,-1.53012 2.40457,-3.71592 0.291263,-1.60305 2.1858,-3.13317 4.736,-2.84169 2.47728,-0.437115 9.10782,-0.145632 9.10782,-0.145632 0,0 1.02008,8.74341 1.38427,9.32637 0.510041,0.87423 4.00762,6.84909 4.00762,6.84909 0,0 0.145632,2.62291 2.03994,2.55021 0.874451,0.87423 1.53012,2.62291 1.53012,2.62291 1.23864,1.38449 2.04016,0.291484 3.78885,0.655893 1.60305,0.364189 2.76876,1.53012 4.29889,0.364189 3.06025,0 5.82901,3.06025 5.82901,3.06025 2.91462,0.582967 1.60305,2.40457 4.29889,2.25872 1.89453,-0.364189 1.60305,2.76876 1.60305,2.76876l0 0 -21.8588 48.9635 0 0c0,0 -1.23864,2.04016 0,2.55021 2.18602,0.874451 2.98754,4.37181 2.4775,5.02771l0 0 0 0z"}
          %path#AP{:d => "M256.477 71.478c-0.364189,-7.9421 2.98732,-6.26613 5.17334,-10.8565 1.82161,-3.71592 5.53753,-3.13317 6.99473,-5.10041 2.11309,-2.84169 3.86177,-7.14058 5.3919,-6.84909 2.04016,0.291484 2.84169,-1.09301 3.06025,-4.88185 0.364189,-5.61023 -2.98732,-4.88163 -5.61045,-5.24604 -1.82161,-0.364189 -1.74868,-2.76876 -2.1858,-3.06025 -0.947377,0 0.0727057,0 -1.23886,0 -0.218558,-0.582747 -0.0727057,-2.04016 -0.291263,-2.69584 -1.67598,-4.6633 -3.2788,-5.97464 -3.9347,-11.148 -0.655673,-4.22596 -1.38427,-11.658 -4.95456,-11.9495 -1.74868,-1.31135 -0.874451,0.947377 -0.874451,0.947377 0.36441,0.582747 -0.655673,0.728599 0.218558,2.04016 0,0 -0.87423,0.364189 -1.38427,-0.655893 -0.510041,1.02008 -0.072926,2.69584 -1.09301,2.76876 -2.76876,0.36441 -4.736,6.99495 -5.61045,7.50499 -2.11287,1.23864 -1.09279,3.49736 -2.40435,4.37159 -1.23864,0.947156 -1.09301,2.91462 -2.25872,4.44474 -1.38449,1.89431 -3.06025,3.42444 -4.59037,3.42444 -1.16571,0 -2.11309,0.145632 -2.47728,-0.218558l0 0 -0.728599 -1.31157 0 0c-1.53012,-0.291484 -1.82161,0.801525 -3.06025,0.801525 -1.23864,0 -1.31157,-0.874451 -2.55021,-0.874451 -2.25872,0 -1.38449,2.40457 -5.24604,1.89453 -2.55021,-0.291484 -3.35173,-2.62313 -6.12049,-2.33165l0 0 -0.145852 4.88185 0 0c1.60305,0.801525 2.98754,-0.291484 4.73622,0.218558 1.74868,0.510041 2.62291,2.84169 3.78885,2.84169 1.02008,0 1.60283,1.67576 2.1858,1.67576 1.02008,0 0.655893,0 1.53012,0 2.91462,0 2.25872,2.47728 3.35173,5.3919 0.510041,1.38427 3.13295,0.87423 3.57029,1.74868 0.947156,1.82161 0.655673,6.12049 0.655673,7.86918 0,1.02008 0.947156,1.67576 1.02008,2.69584 2.11309,0 4.37181,1.82161 4.37181,3.57029 0,0.291484 0,0.728599 0,1.02008 0,2.04016 2.9144,5.97464 5.53753,7.06765l0 0 5.17312 0 0 0z"}
          %path#BA{:d => "M381.728 270.028c0.218558,-1.23864 0.655673,-0.801525 0,-1.89453 -0.874451,-1.5299 -2.04016,-2.33143 -2.69606,-4.22596 -0.582747,-0.87423 -2.40435,-1.89431 0.36441,-6.33905 0.655673,-1.02008 2.84169,0.655893 2.84169,-2.98732 0,-1.31157 2.11287,-2.9144 3.64299,-3.78885 1.74868,-1.02008 1.02008,-3.2788 -0.728599,-4.08033 -3.78885,-3.13295 -5.17334,-1.60283 -6.48468,-2.47728 -3.86177,-2.69584 -4.95478,0.36441 -6.84909,-0.510041 -1.89453,-0.87423 -0.218558,-2.69584 -2.11309,-4.22596 0,0 -1.67576,-3.42466 -7.35913,-2.98732 -2.11287,-1.45742 -5.39168,-3.13317 -7.21328,-4.59037 -1.38449,-1.09301 -1.31157,-1.74868 -4.0074,-2.11309 -2.69606,-0.437115 -2.91462,2.25872 -5.61045,1.02008 -0.36441,-0.218558 -2.47728,-0.655673 -2.47728,-1.53012 0,-1.02008 2.11287,-3.20588 -0.291484,-3.86177 -2.04016,-0.510041 -2.25872,-0.655673 -4.15326,-0.655673 -3.06025,0 -4.80893,1.60305 -6.33905,2.76876 -1.31135,1.02008 -1.02008,1.67576 -2.40435,1.74868 -1.89453,0.072926 -2.11309,1.60305 -2.91462,1.89453 -3.20588,1.16571 -2.9144,0.218558 -5.53753,2.98732 -4.08033,2.33165 -2.55021,-0.437115 -2.55021,-0.437115 0.510041,-1.31157 -0.218558,-1.45742 -0.218558,-2.33165 0.874451,-0.510041 1.53012,-1.38449 1.60305,-1.89453 0.145632,-0.582747 -0.218558,-2.1858 -0.218558,-3.57029 0,-3.2788 -3.35173,-0.510041 -3.57029,-7.50477 -0.145632,-4.51744 3.42444,-4.88185 1.89431,-6.26613 -0.801304,-0.437115 -0.728599,-0.874451 -0.728599,-2.04016 0,-0.655673 1.23864,-0.655673 1.23864,-1.23864 0,-1.02008 -1.53012,-1.31157 -1.53012,-2.33165 0,-1.09301 1.02008,-0.87423 1.02008,-2.1858 0,-1.38449 -2.25872,-0.291484 -2.03994,-4.37181 0.0727057,-1.96724 1.67576,-0.87423 2.33143,-2.9144 1.09301,-1.38449 -1.53012,-1.16593 -1.31157,-2.04016 -0.145632,-0.582967 2.25894,-0.36441 1.82161,-1.45742 -0.655673,-2.69584 -4.736,-0.582747 -4.736,-3.71592 0,-2.40435 1.31157,-3.13295 2.55021,-4.15304 1.09301,-0.947377 0.655673,-1.53012 0.728599,-2.04016 0.291484,-1.16593 4.59037,-2.62313 5.97464,-5.17334 0.582967,0 1.02008,0 1.74868,0.218558 2.33165,0.947377 0.582967,3.13317 2.40457,4.29889 1.67576,2.04016 3.35173,2.04016 5.10041,2.04016 3.78885,0 2.62291,-3.35173 7.43184,-2.47728 2.55021,0.437115 5.53753,-3.64321 6.84909,-6.26613 0.218558,-0.728599 -0.145632,-3.9347 -0.145632,-4.88185 -0.655893,-0.437115 -1.09301,-1.53012 -1.09301,-2.04016 0,-0.582747 1.31157,-0.510041 2.04016,-0.510041 1.31157,0 1.16571,-0.510041 2.11309,-0.87423 0.510041,-0.36441 1.67576,1.09279 2.55021,1.09279 0.87423,0 1.96724,-0.510041 2.47728,0 1.23864,1.23864 1.31157,1.67598 3.57029,1.67598 3.20588,0 5.17312,-2.91462 7.79625,-2.91462 1.31157,0 3.20588,-0.145632 3.57029,-2.04016 0.291484,-1.31135 2.76876,-1.09279 3.06025,-1.89431 0.510041,-1.4572 1.38427,-1.96724 2.1858,-2.47728 7.94188,2.11287 2.25872,5.02749 5.61045,5.90172 0.947156,0.218558 0.947156,2.76876 0.947156,3.06025 0,0.218558 0.437115,0.437115 1.16571,0.728599 0.510041,0.145852 0.728599,-1.38427 1.82161,-1.09279 2.55021,0.437115 -0.072926,-3.42466 3.78885,-2.91462 3.06025,0.36441 2.1858,-3.35173 3.9347,-3.06025 1.74868,0.218558 -0.874451,-2.1858 4.59015,-2.9144 1.89453,-0.218558 1.09301,3.13295 6.92202,3.42444 1.02008,0 0.145632,1.82161 1.23864,1.82161 1.09301,0 0.801525,-1.82161 1.82161,-1.02008l0 0 0.510041 1.82161 0 0c2.40435,0.291484 1.74868,1.16571 1.74868,2.9144 0,1.45742 1.89431,2.25872 2.25872,2.84169 1.02008,1.38449 0.36441,1.96724 0.655673,3.78885 0.291484,1.4572 3.13317,3.78885 2.04016,6.26613 -0.655673,1.38449 1.02008,6.19342 -2.40435,4.80893 -1.67598,-0.655673 -1.60305,-1.09279 -3.06025,-0.218558 -0.510041,1.02008 0.655673,2.76876 0.655673,2.76876 0.801525,1.38449 0.947377,1.53012 2.11309,2.11309 0.510041,1.31157 -1.23864,1.02008 -0.582967,2.84169 0.145852,0.437115 1.02008,0.364189 1.31157,0.364189 1.02008,0.145852 0.728599,1.38449 1.53012,1.74868 0.947156,0.510041 3.93448,-0.072926 3.93448,-0.072926 -1.4572,3.64321 -3.2788,6.77639 -5.53753,9.47223 -2.47728,2.84169 -6.55761,10.1279 -8.379,7.43206 -1.09301,-1.67598 0.291263,-2.25872 -0.874451,-3.71614 -0.218558,-0.364189 -0.728599,-0.0727057 -1.38427,-0.218558 -0.655893,-0.145632 -2.76898,1.31157 0.364189,3.20588 1.74868,1.02008 -1.96724,3.49758 -2.25872,2.62313 -0.072926,-0.218558 -1.09301,1.31157 -0.801525,2.1858 1.09301,3.13317 0.36441,4.59037 -0.728599,4.00762 -0.218558,-0.072926 -0.87423,1.67576 0.145632,2.33143 1.38449,0.801525 0.145852,2.25872 -0.364189,3.57029 -0.874451,2.33165 -1.82161,4.51744 -1.09301,11.2209 0.218558,1.74868 0.801525,1.74868 0.801525,3.20588 0,1.16571 -0.364189,2.84169 0.291484,3.64321 -1.31157,6.70324 -4.22596,10.8565 -5.10041,17.7783 -0.364189,2.62313 0.947156,3.2788 0.291484,4.73622 -0.437115,0.87423 -2.1858,1.74868 -2.91462,2.25872 -0.947156,0.728599 -2.03994,1.74868 -2.76876,3.42444 -2.54999,-1.02008 -3.42444,-2.9144 -5.82879,-4.51744l0 0 0 0z"}
          %path#CE{:d => "M405.335 151.554c0.218558,-1.09301 1.60305,-2.55021 2.04016,-3.2788 1.16571,-2.1858 -1.38449,-1.23864 -1.38449,-5.10041 0,-3.13317 1.53012,-3.57029 1.53012,-5.90194 0,-0.218558 -1.02008,-1.82139 0.655893,-3.2788 1.02008,-0.87423 1.89431,0.072926 2.9144,-0.87423 1.45742,-1.53012 1.82161,-1.60305 2.47728,-3.9347 0.655893,-2.33143 2.18602,-2.69584 2.69606,-4.29889 0.582967,-2.1858 1.16571,-2.33143 2.40435,-3.57007 1.16593,-1.23886 4.15326,-0.874451 4.37181,-2.25872 -1.4572,-1.02008 -3.64321,-1.09301 -4.51744,-2.11309 -0.801525,-1.02008 -1.74868,-2.47728 -3.42466,-3.35173 -3.42444,-1.82161 -0.655673,-2.11287 -6.33883,-6.84909 -1.60305,-1.31157 -4.00762,-2.40435 -6.19342,-4.29889 -2.25872,-1.96724 -3.57029,-2.40435 -6.33905,-4.0074 -1.82161,-1.02008 -3.93448,-3.42444 -7.14058,-3.42444 -1.16571,0 -2.9144,0 -4.08011,0.364189l0 0 -6.4849 -0.145632 0 0c-0.87423,1.02008 -0.291484,2.62291 -2.25872,3.71592 -1.53012,0.874451 -0.072926,1.60305 1.16593,2.04016 -0.145852,0.874451 -1.67598,1.02008 -1.31157,1.74868 0.947156,1.74868 1.02008,3.2788 1.89431,5.17334 0.291484,0.582747 1.16593,2.04016 1.16593,3.06025 0,1.82139 -1.02008,2.11287 -1.16593,3.93448 -0.218558,4.15326 1.53012,3.35173 1.4572,6.04757 -0.0727057,1.60305 -0.437115,3.64321 -0.437115,5.17334 0,2.1858 2.04016,2.40435 2.33165,4.44452 0.218558,2.11309 0.582967,3.06025 0.874451,4.95456 -0.145852,3.42466 3.64299,2.11309 3.64299,5.61045 0,1.67598 -1.60305,2.33165 -1.60305,3.49736 0,0.36441 -0.655673,2.25872 -0.510041,2.25872l0 0 4.15326 0.218558 0 0c1.31157,0 1.82161,0.655893 3.06025,0.145852 1.96724,-0.874451 6.1932,1.02008 7.06765,2.47728 1.16571,1.89453 2.40435,1.82161 2.76876,3.06025 0.655673,2.11309 2.47728,-1.38449 3.93448,-1.38449 0.218778,0 0.437336,0.072926 0.582967,0.145852l0 0 0 0z"}
          %path#DF{:d => "M289.775 244.308l0 -1.67598 0 0c0.364189,-0.218558 0.801304,-0.582747 0.801304,-1.02008 0,-0.87423 -0.801304,-0.655673 -0.801304,-1.67576 0,-0.947156 0.437115,-1.82161 0,-2.62313l0 0 11.3665 0.072926 0 0c0.655673,0.437115 1.74868,1.09301 1.74868,1.53012 0,0.728599 -0.655893,1.02008 -0.655893,1.67576 0,1.31157 1.31157,3.06025 1.60305,3.86177l0 0 -14.0624 -0.145632 0 0z"}
          %path#ES{:d => "M370.871 308.354c0.582747,-0.728599 1.38427,-1.23864 1.23864,-2.25872 -0.145852,-0.947156 -0.145852,-1.82161 1.23864,-2.1858 2.25872,-0.582967 2.76876,-1.16593 4.08033,-3.13317 1.02008,-1.67576 2.40435,-3.78885 2.98732,-5.31897 0.364189,-0.947156 1.09279,-2.04016 1.38427,-2.84147 0.655893,-1.60305 1.67598,-1.09301 2.84169,-2.25872 0.655673,-0.655893 0.801525,-2.11309 1.53012,-3.42466l0 0 0.510041 -7.65062 0 0c0,-1.96724 0.364189,-3.57029 0.87423,-4.736 -2.54999,-1.02008 -4.0074,-3.78885 -5.82879,-4.37181 -0.218778,-0.145632 -2.18602,-1.31135 -2.69606,-1.16571 -1.67576,0.437115 -2.69584,0.072926 -4.15304,0.510041 -1.23864,0.145632 -0.072926,0.801525 -0.072926,1.4572 0,1.31157 -1.09301,0.437115 -1.53012,0.437115 -0.655673,0 -2.84169,1.89453 -2.04016,2.55021 2.04016,1.60305 0.582967,2.62313 1.74868,3.86177 1.74868,2.04016 -1.09301,1.09301 -2.25872,1.31157 -1.89431,-0.145852 1.16571,1.38427 1.02008,2.04016 -0.437115,1.60283 1.23864,1.38427 1.09301,3.35173 -0.145852,2.69584 -2.98732,2.54999 -4.80893,8.379 -1.09301,4.29889 -5.02749,0.728819 -5.90194,3.42466 -0.218558,0.582967 -0.510041,4.66308 -0.510041,4.66308 -0.291484,0.291484 -0.655673,0.655893 -1.02008,1.09301 0.655893,0 1.38449,-0.728599 2.04016,0 -0.437115,6.77617 6.26613,2.98732 8.23359,6.26613l0 0 0 0z"}
          %path#GO{:d => "M316.297 218.514c-1.74868,-0.218337 -4.59037,0.145852 -5.75586,-0.801525 -1.96724,1.96724 -4.44474,-0.582747 -6.55783,1.5299 -0.437336,-0.801304 -0.874451,-1.09279 -1.82161,-1.5299 -0.655893,1.23886 -1.82139,1.31157 -2.04016,3.06025 -2.4775,0 -4.80893,-0.801525 -4.80893,-3.78885l0 0 -1.31135 0 0 0c-0.437336,0.218558 -0.801525,1.23842 -1.96746,1.23842 -1.2382,0 -1.5299,-3.05981 -2.25894,-3.57029 -0.364189,-0.291043 -4.517,-1.16549 -5.02705,-1.16549 -1.4572,0 -1.4572,2.55043 -2.84191,2.55043 -1.60305,0 -8.81655,-3.35195 -8.81655,-3.86199 0,-0.436895 0.291704,-4.08055 -0.290823,-5.61023 -2.33209,1.52968 -1.53034,2.33143 -3.27903,4.88163l0 0 -1.7489 0.728599 0 0c-0.291484,0.655893 -0.655673,1.31157 -1.31135,1.74868 -4.0074,2.98732 -0.583188,6.55761 -2.47728,7.86896 -1.16593,0.728599 0.218337,5.75653 -2.69606,8.74363 -1.60261,1.74868 -1.60261,-0.364189 -3.42444,1.31157 -5.53753,5.17334 -2.69584,5.75631 -4.15348,7.79647 -1.67553,2.33143 -3.35151,1.52968 -4.59015,1.89431 -0.436895,0.218337 -2.55021,2.40457 -2.47706,2.9144 0.145411,1.16571 -2.40479,2.33187 -3.06069,5.31919 -0.509601,2.62291 -3.06003,0.509821 -4.15259,5.46438 -0.36441,1.60305 -1.31157,1.01986 -1.67598,4.08055 -0.218778,2.11265 2.25828,2.2585 1.31157,6.04735 -2.69628,5.53753 3.35173,3.2788 3.2788,4.51767 -0.145852,1.38405 -1.16593,0.874451 -1.45764,2.1858 -0.291263,1.67576 3.71614,1.23864 5.75653,2.04016 0.87401,1.74846 2.47706,0 4.66308,3.13317 0.874451,1.2382 6.04735,0.801304 6.55761,2.18558 0.655673,1.60305 3.9347,0.947377 5.31875,2.98732 2.04016,-5.39146 3.42488,-2.03994 4.6633,-4.66308l0 0 1.0203 -2.76854 0 0c1.67598,-1.67598 3.56985,-1.38471 4.08011,-1.38471 1.82183,0 3.57029,-0.145411 4.51767,-1.01986 1.82117,-1.67598 1.96724,0.874451 2.84125,0.874451 1.09323,0 1.23886,-1.4572 1.89453,-2.25894 0.874451,-1.23886 3.35151,-0.655673 3.64321,-0.655673 2.04039,0 2.84169,0 6.04757,0 2.25894,0 2.47728,1.38427 4.736,1.38427 3.27858,0 2.98732,-2.54977 4.80915,-2.9144 3.49736,-0.728599 1.67553,-3.57007 1.67553,-3.78885 0,-1.23864 1.31157,-2.11309 0.655893,-3.64321 -0.291484,-0.874451 -3.49758,0.36441 -2.62313,-1.96702 1.31157,-1.67576 3.49758,-2.11331 3.78907,-5.02771 0.364189,-3.78885 -2.4775,-3.71592 -2.4775,-5.24626 0,-1.52968 1.89453,-1.60305 1.45764,-4.22596 -0.510262,-3.2788 4.22552,-1.02008 4.95456,-2.76854 0.655673,-1.67598 -0.655893,-2.91462 -0.655893,-4.15348 0,-1.09279 1.02008,-1.60305 1.02008,-2.33143 0,-0.509821 -0.218778,-1.67576 -0.510262,-1.96746 0.728599,-0.946936 0.728599,-1.09279 1.82183,-1.09279 0.582967,0 1.89453,1.09279 2.18536,0 0,0 0,-1.16593 0,-2.1858 0,-0.582967 0.801965,-1.31157 1.16615,-1.31157 1.4572,0 0.947156,2.40457 3.42444,2.55021 1.31135,0.0727057 2.76898,-1.60283 2.9144,-2.25872 0.145852,-0.655893 -0.218337,-2.18602 -0.218337,-3.64299 0,-3.2061 -3.35195,-0.437115 -3.57029,-7.43206l0 0 -0.145852 0 0 0zm-26.5221 25.7933l0 -1.67576 0 0c0.36485,-0.218778 0.801965,-0.583188 0.801965,-1.02008 0,-0.874451 -0.801965,-0.655893 -0.801965,-1.67576 0,-0.947156 0.437556,-1.82183 0,-2.62313l0 0 11.3668 0.072926 0 0c0.655893,0.436895 1.74868,1.09257 1.74868,1.53012 0,0.728599 -0.655893,1.02008 -0.655893,1.67576 0,1.31157 1.31157,3.06003 1.60305,3.86155l0 0 -14.0626 -0.145632 0 0z"}
          %path#MA{:d => "M320.669 177.711c-0.510041,-0.437115 -1.09279,-0.87423 -2.1858,-0.87423 -3.20588,0 -2.69584,-3.49736 -4.29889,-4.44474 -0.728599,-0.364189 0.072926,-2.33143 0.510041,-2.76876 1.02008,-1.74868 -3.06025,-1.09279 -3.20588,-4.0074 -0.072926,-3.06025 -1.89453,-1.53012 -1.89453,-2.55021 0,-1.74868 1.38449,-1.67576 1.67576,-3.13295 0.145852,-0.801525 0.072926,-2.62313 0.874451,-3.42466 1.38427,-1.4572 3.93448,1.74868 3.93448,-4.08033 0,-1.23864 -0.655673,-2.03994 -2.1858,-2.03994 -1.67576,0 -3.93448,1.01986 -4.51744,0.509821 -0.582967,-0.364189 -2.40457,-2.33143 -2.76876,-4.0074 -0.437115,-1.53012 -2.04016,-1.4572 -2.1858,-1.53012 -2.11309,-1.38427 1.5299,-1.16571 -1.02008,-2.33143 -0.145852,0 -2.04016,-0.291484 -1.23886,-1.23864 0.510041,-1.67598 2.25894,-0.801525 2.4775,-2.4775 0.728599,-4.59015 0.947156,-7.21328 0.947156,-11.5122 0,-3.78885 -2.25872,-6.19342 -2.84169,-6.19342 -2.98732,-0.291263 -0.947156,-2.84147 -5.17312,-2.40435 -1.45742,0.072926 -2.76876,-0.801525 -4.15326,-1.31157 1.67576,-1.23864 6.63054,-5.31897 7.43206,-5.53753 1.4572,-0.437115 0.728599,0.072926 2.40435,-0.510041 0.947156,-0.291484 2.47728,-3.49736 3.35173,-4.29889 1.96724,-2.04016 1.16571,-2.69584 2.98732,-3.42444 1.53012,-0.655893 -0.510041,-4.44474 4.22596,-7.35913 1.23864,-0.728599 1.74868,-4.29889 1.74868,-4.29889 -1.02008,-4.0074 2.76876,-1.89453 2.62313,-7.2135 -0.072926,-0.582747 1.16571,0.291484 2.47728,-4.15304 0.291484,-1.23864 -1.4572,-1.16593 -0.145632,-2.76876 0.947156,-1.23864 1.09279,-4.73622 1.38427,-5.61045 1.16593,0.364189 1.60305,1.23864 2.33165,1.74868l0 0 0.728599 -0.510041 0 0c0.728599,-0.291484 0.510041,0.655673 0.655893,1.02008 0.655673,-0.437115 0.364189,-1.02008 1.31135,-0.072926 0.510041,0.218558 0.728819,1.09301 0.728819,1.09301 0.947156,-0.145632 0.947156,0 1.5299,0 1.7489,0 -0.218558,5.31897 2.04016,4.0074 0.582967,-0.364189 1.02008,-1.23864 1.02008,-2.04016 1.96746,-0.510041 1.82161,0.582967 2.91462,0.582967 0.728599,0 2.62291,2.1858 4.95456,5.17312 1.02008,1.38449 -3.57029,4.37181 -1.53012,4.22618 3.13317,-5.61045 2.98732,1.53012 2.04016,0.655673 -0.218558,1.89453 -1.60283,2.33165 -1.82161,4.08033 0.510041,0.655673 1.31157,-1.31157 2.04016,0 -0.145632,1.38427 -0.364189,2.1858 -0.218558,2.98732 1.89453,1.09301 0.218558,-7.86918 2.62313,-7.57769 1.89431,-0.801525 -0.218558,4.15326 1.23864,4.15326 2.1858,0 1.16571,-2.69606 6.92202,-2.11309 2.33143,0.218558 -1.67598,-1.67576 3.35151,-1.53012 3.42466,0.145632 9.83641,5.90194 11.8766,5.24604 0,0 2.04016,0.801525 3.49736,0 0.510041,-0.218558 0.801525,-0.655673 1.31157,-0.655673 0,0.510041 -0.145632,1.4572 -0.145632,1.4572 0,2.04016 -3.49736,5.3919 -5.53753,5.90194 -1.31157,0.291484 -1.89453,0.437115 -2.62313,0.655673 -2.40435,0.728599 -1.31157,3.2788 -2.40435,4.37181 -1.45742,1.4572 -2.84169,1.67576 -2.84169,3.71592 0,1.02008 0.510041,2.04016 0.510041,3.06025 0,1.09301 -0.728599,1.4572 -0.728599,2.33165 0,1.82161 1.23864,3.13295 1.23864,5.24604 0,4.08033 -3.42466,3.86177 -3.42466,7.86918 0,3.93448 2.76876,3.78885 2.76876,6.33905 0,3.49736 -0.87423,4.736 -4.88163,4.736 -1.89453,0 -5.31897,-1.23864 -7.2135,-1.23864 -2.25872,0 -3.2788,2.33165 -4.29889,3.35173 -1.09279,1.09279 -2.69584,2.76876 -4.29889,2.98732 -3.42444,0.364189 -2.40435,2.40435 -5.82901,2.40435 -5.17312,0 -4.51744,4.80893 -5.31897,6.84909 -0.801304,2.18602 -1.89431,2.11309 -2.11287,4.6633 -0.291484,2.69584 -2.91462,1.89431 -2.69606,4.29889 -0.218558,3.06025 1.38449,4.59037 1.67598,6.12049l0 0 -0.510041 5.39168 0 0c0.291484,1.67598 -1.74868,2.62313 -2.11309,4.0074l0 0 0 0z"}
          %path#MG{:d => "M385.152 246.712c1.74868,0.801525 2.47728,3.06025 0.728599,4.08033 -1.53012,0.874451 -3.64299,2.47728 -3.64299,3.78885 0,3.64321 -2.18602,1.96724 -2.84169,2.98732 -2.76876,4.44474 -0.947156,5.46482 -0.36441,6.33905 0.655893,1.89453 1.82161,2.69606 2.69606,4.22596 0.655673,1.09301 0,0.874451 -0.145852,2.11309 -0.218558,-0.072926 -1.89431,-1.53012 -2.55021,-1.23864 -1.60283,0.655673 -2.69584,0.072926 -4.15304,0.510041 -1.23864,0.145632 -0.072926,0.801525 -0.072926,1.4572 0,1.31157 -1.09301,0.437115 -1.53012,0.437115 -0.655673,0 -2.84169,1.89453 -2.04016,2.55021 2.04016,1.60305 0.582967,2.62313 1.74868,3.86177 1.74868,2.04016 -1.09301,1.09301 -2.25872,1.31157 -1.89431,-0.145852 1.16571,1.38427 1.02008,2.04016 -0.437115,1.60283 1.23864,1.38427 1.09301,3.35173 -0.145852,2.69584 -2.98732,2.54999 -4.80893,8.379 -1.09301,4.29889 -5.02749,0.728819 -5.90194,3.42466 -0.218558,0.582967 -0.510041,4.66308 -0.510041,4.66308 -1.31157,1.38449 -5.68316,5.61045 -5.68316,9.3993 0,2.91462 -6.84909,4.0074 -8.23359,4.88185 -1.82161,1.16571 -4.15304,-0.36441 -6.55761,-0.36441 -1.74868,0 -4.22596,1.23864 -5.61045,1.67598 -3.06025,0.801525 -4.736,1.02008 -7.43184,2.55021 -0.36441,-0.145852 -0.801525,-0.145852 -1.31157,-0.145852 -2.84169,0 -2.33165,2.18602 -5.97464,2.18602 -0.655893,0 -1.02008,-0.874451 -1.67598,-0.874451 -1.67576,0.072926 -0.947156,2.47728 -1.96724,2.55021 -1.89431,0 -3.49736,1.31157 -4.37181,0.655673 -0.218558,-0.0727057 -2.11287,-2.25872 -2.11287,-2.84147 0.291484,-2.98754 -2.47728,-1.7489 -2.47728,-3.57029 0,-1.02008 0,-1.45742 0.145632,-2.69606 -0.291484,-0.0727057 0.072926,-1.53012 0.145632,-2.25872 0.218778,-3.78885 1.96746,-2.69584 1.74868,-4.29889 -0.582747,-3.78885 -4.44452,-0.145632 -5.4646,-2.69584 -0.072926,-0.218558 -1.67576,-4.95456 -1.67576,-5.75608 0,-1.09301 1.31157,-1.74868 1.31157,-2.84169 0,-1.31157 -1.67598,-0.582967 -1.67598,-1.89453 0,-0.364189 0.218558,-1.74868 0.218558,-2.33143 0,-1.82161 -1.31157,-1.45742 -2.1858,-2.69606 -0.655673,-0.291263 -1.4572,0.072926 -1.89453,0.36441 -0.582747,-0.655673 -1.02008,-0.145632 -2.03994,-0.36441 -0.510041,1.09301 0.145632,1.74868 -2.18602,1.53012 -1.60283,0.510041 -2.47728,-0.801304 -4.37181,-0.364189 -1.5299,0.364189 -2.1858,0.291484 -4.08011,0.582747 -1.53012,0.291484 -0.874451,1.89453 -0.874451,1.89453 -0.801525,0.874451 0.510041,-0.728599 -1.89431,-1.23864 -0.801525,-0.291484 -1.23886,1.02008 -1.89453,0.655673 -1.31157,-0.947156 -0.291484,-2.62291 -1.16571,-4.22596 -1.23864,0.291484 -4.37181,0 -5.24626,0 -0.947156,0 -3.2788,-0.655673 -4.37159,-0.728599 -1.38449,-0.145852 -1.31157,-0.291484 -2.76876,-1.38449 -0.728599,-0.510041 -1.23864,2.04016 -5.97486,3.2788 -0.145632,-4.95456 1.16593,-5.31897 1.16593,-7.35891 2.04016,-5.3919 3.42444,-1.89453 4.66308,-4.51767l0 0 1.02008 -2.84147 0 0c1.67598,-1.60305 3.57029,-1.38449 4.08033,-1.38449 1.82161,0 3.57029,-0.072926 4.51744,-1.02008 1.82161,-1.60283 1.96724,0.947156 2.76876,0.947156 1.16593,0 1.31157,-1.4572 1.96724,-2.33143 0.874451,-1.16593 3.35173,-0.582967 3.64321,-0.582967 2.04016,0 2.84169,0 6.04757,0 2.25872,0 2.47728,1.38427 4.6633,1.38427 3.35151,0 3.06025,-2.54999 4.80893,-2.9144 3.57029,-0.801525 1.74868,-3.64321 1.74868,-3.78885 0,-1.23864 1.31157,-2.1858 0.655673,-3.71592 -0.291484,-0.801525 -3.49736,0.437115 -2.62291,-1.89453 1.31135,-1.67576 3.49736,-2.11287 3.78885,-5.02749 0.364189,-3.78885 -2.4775,-3.78885 -2.4775,-5.24604 0,-1.53012 1.89453,-1.60305 1.45742,-4.22596 -0.510041,-3.2788 4.22596,-1.02008 4.95456,-2.76876 0.655673,-1.67598 -0.655673,-2.98754 -0.655673,-4.15326 0,-1.16571 1.01986,-1.60305 1.01986,-2.33165 0,-0.510041 -0.218558,-1.74868 -0.509821,-2.04016 0.728599,-0.87423 0.655673,-1.02008 1.82139,-1.02008 0.582967,0 1.82161,1.02008 2.18602,0 0,0 0,-1.23864 0,-2.1858 0,-0.655673 0.801304,-1.31157 1.16571,-1.31157 1.4572,0 0.874451,2.40457 3.42444,2.47728 0.437336,0.072926 0.947377,-0.145632 1.31157,-0.364189 0,0.87423 0.728599,1.02008 0.218558,2.33165 0,0 -1.53012,2.76876 2.55021,0.437115 2.62313,-2.76876 2.33165,-1.82161 5.53753,-2.98732 0.801525,-0.291484 1.02008,-1.82161 2.91462,-1.89453 1.38427,-0.072926 1.09301,-0.728599 2.40435,-1.74868 1.53012,-1.16571 3.2788,-2.76876 6.33905,-2.76876 1.89453,0 2.11309,0.145632 4.15326,0.655673 2.40435,0.655893 0.291484,2.84169 0.291484,3.86177 0,0.874451 2.11287,1.31157 2.47728,1.53012 2.69584,1.23864 2.9144,-1.4572 5.61045,-1.02008 2.69584,0.36441 2.62291,1.02008 4.0074,2.11309 1.82161,1.4572 5.10041,3.13295 7.21328,4.59037 5.68338,-0.437336 7.35913,2.98732 7.35913,2.98732 1.89453,1.53012 0.218558,3.35173 2.11309,4.22596 1.89431,0.874451 2.98732,-2.1858 6.84909,0.510041 1.31135,0.874451 2.69584,-0.655673 6.48468,2.47728l0 0 0 0z"}
          %path#MS{:d => "M263.18 282.415c-1.38449,-2.04016 -4.6633,-1.38449 -5.31897,-3.06025 -0.510041,-1.31157 -5.68338,-0.87423 -6.55761,-2.11309 -2.18602,-3.20588 -3.78885,-1.38427 -4.6633,-3.20588 -2.04016,-0.728599 -6.12049,-0.291484 -5.75608,-1.96724 0.291484,-1.31157 1.31157,-0.801525 1.4572,-2.1858 0.072926,-1.23886 -5.82901,1.16571 -3.13295,-4.37181 -2.11309,0.582967 -5.17334,-2.84169 -5.46482,-3.49736 -0.947156,-1.82161 0.510041,-4.59037 -2.1858,-4.59037 0,0 -1.38449,0.437115 -2.40457,1.82161 -1.82139,1.53012 -6.26613,-0.728599 -6.99473,-0.218558 -0.510041,0.364189 -3.13295,1.67576 -3.42444,1.74868 -1.74868,0.655673 -2.91462,-1.16593 -4.15326,-1.02008 -2.84169,0.364189 -6.1932,-5.31897 -10.9294,-3.13317 -1.02008,0.437115 -2.9144,1.23864 -3.49736,1.02008 -1.82161,-0.728599 -3.35151,4.29889 -5.61045,5.3919 -1.16571,0.655673 -1.89431,-0.218558 -2.9144,1.02008 -0.947156,1.16571 -0.218558,3.78885 -1.74868,4.44452 0.291484,2.40457 -2.25872,5.97464 -1.89453,10.3465 -0.510041,2.76876 -4.0074,6.19342 -3.57007,8.23337 0.145632,0.437336 2.98732,2.4775 2.84147,2.91462 -0.291484,0.582967 -1.60283,0.582967 -1.82139,1.23864 -0.145852,0.582967 -1.67598,-3.35173 -1.7489,-2.69584 -0.0727057,0.510041 -0.0727057,1.09279 -0.0727057,1.74868 0,6.26613 3.71592,5.75608 3.71592,11.7307 0,2.33165 -0.582967,4.95478 -0.510041,7.57769 0.145632,2.40457 -1.4572,4.6633 0.145632,4.6633 1.23886,0 0.874451,0 1.89453,0 1.60305,0 1.53012,1.02008 2.84169,1.02008 0.801525,0 1.96724,-0.072926 2.98732,-0.072926 2.11309,0 1.96724,0.874451 4.08033,0.874451 1.82161,0 2.76876,-1.31157 3.64299,-2.40457 1.89453,-0.655673 1.60305,2.62313 3.78885,2.25872 2.62313,-0.437115 3.78885,0.145852 4.44474,2.62313 0.218558,0.947156 1.09279,1.31157 1.09279,2.1858 0,1.23864 -0.291263,1.60305 -0.291263,2.62313 0,1.09301 0.801304,2.1858 1.31135,2.69584 0.437336,2.04016 0,4.6633 0,4.6633 1.74868,1.02008 -0.510041,4.95456 3.35173,5.17312 3.64321,0.291484 4.44452,-2.40435 6.70346,-2.40435 1.67576,0 3.13295,2.1858 3.2788,2.40435 0.87423,-1.09279 2.25872,-0.801525 2.69584,-2.11287 0.510041,-1.53012 0.218558,-3.9347 1.09301,-5.31897 0.87423,-1.23864 2.1858,-1.16593 2.54999,-2.40457 0.947377,-2.76876 0.947377,-4.44452 3.57029,-5.31897 5.3919,-1.74868 3.64321,-4.66308 8.74363,-6.04757 2.47728,-0.728599 5.4646,-5.90172 5.31897,-7.35913 -0.291484,-1.89431 1.4572,-0.510041 1.96724,-2.04016 0.145632,-4.66308 2.47728,-4.66308 2.62313,-5.82901 0.801304,-5.39168 2.76876,-4.22596 3.35151,-5.82879 1.02008,-2.62313 4.15326,0.145632 4.0074,-4.00762 -0.145632,-4.95456 1.16593,-5.31897 1.16593,-7.35891l0 0 0 0.145632 0 0z"}
          %path#MT{:d => "M189.881 268.498c-1.74868,-2.25872 -1.53012,-6.12049 -3.49736,-7.72332 -1.74868,-1.31157 -4.0074,-1.16593 -5.61045,-2.40457 -0.510041,-0.364189 -1.23864,-3.93448 -1.23864,-5.02749 0.145632,-2.84169 1.09301,-2.9144 1.09301,-3.71592 0,-2.84169 0.510041,-2.11309 0,-2.11309 0,0 -20.1831,0.510041 -20.1831,-0.145632 0,-0.874451 -0.437115,-7.06765 -0.655673,-8.88926 -0.36441,-1.74868 -4.29889,-2.40457 -3.49736,-4.22596 0.291484,0 1.53012,-0.437336 1.53012,-1.16593 0,-1.16571 -0.801525,-1.53012 -0.801525,-2.98732 0,-1.23864 0.801525,-1.16571 0.801525,-2.55021 0,-1.4572 -0.947156,-2.25872 -1.53012,-3.78885 -0.582967,-1.38427 0.728599,-1.60305 0.728599,-1.60305 0.582967,-1.4572 -2.11309,-3.57007 -4.59037,-4.88163 1.23864,-1.23864 2.84169,-1.89453 4.08033,-2.84169 1.16571,-0.874451 0.801525,-3.35173 1.74868,-4.80893 1.74868,-2.76876 3.78885,-2.9144 4.59037,-8.59777 0.582967,-4.66308 -2.84169,-4.736 -2.84169,-7.57769 0,-1.96724 2.33165,-1.82161 1.82161,-4.80893 -0.437115,-2.40435 -4.736,-1.82161 -7.72332,-2.9144 -1.23886,-0.510041 -5.82901,0.582747 -5.97486,-0.145852 -0.364189,-2.11287 -5.02749,-3.57029 -5.02749,-7.21328 0,-3.2061 2.04016,-5.10041 2.04016,-8.23359 0,-3.35151 -1.53012,-5.90172 -1.16571,-9.61786l0 0 33.7352 0 0 0c0.437115,-0.364189 1.02008,-0.801304 1.31157,-1.02008l0 0 0 -4.736 0 0c0.655673,-1.23864 1.23864,-1.82161 1.23864,-3.06025 0,-1.09279 -1.23864,-1.67576 -1.23864,-2.84147 0,-0.801525 1.82161,-1.31157 2.04016,-1.67598 0.801525,-1.60283 0.218558,-2.9144 0.801525,-4.37159 3.86155,3.86155 4.59015,8.30629 5.4646,14.718 0.291484,2.18602 3.2788,3.13317 5.3919,3.78885 1.09279,0.291484 1.16571,1.82161 1.53012,2.55021 0.87423,1.89453 2.69584,1.82161 3.71592,3.57029l0 0 74.6839 4.0074 0 0c-1.53012,2.91462 -2.76876,5.02749 -2.9144,6.55761 -0.145852,1.89453 -1.4572,1.16593 -1.89453,7.57769 -0.145632,2.62313 -1.96724,3.64321 -0.728599,7.72354 0.510041,1.74868 -0.582747,4.15304 0.072926,5.4646 1.16571,2.25872 0.728599,3.20588 0.437115,4.88185 -0.364189,2.40435 1.96724,2.84147 1.09301,4.29889 -0.728599,1.38427 -0.218558,4.44452 -2.25872,5.97464 -4.0074,2.98732 -0.582967,6.55761 -2.47728,7.86918 -1.16593,0.728599 0.218558,5.68316 -2.69606,8.74341 -1.60283,1.67598 -1.67576,-0.364189 -3.42444,1.23864 -5.53753,5.17334 -2.69606,5.82901 -4.15326,7.86918 -1.67576,2.25872 -3.35151,1.53012 -4.59037,1.89453 -0.510041,0.218558 -2.54999,2.40435 -2.47728,2.9144 0.072926,1.16593 -2.40435,2.25872 -3.06025,5.31897 -0.510041,2.62313 -3.06025,0.510041 -4.15304,5.46482 -0.36441,1.60283 -1.38449,1.01986 -1.67598,4.0074 -0.145632,1.60283 1.53012,2.40435 1.38449,4.08011l0 0 0.072926 2.18602 0 0c-2.11309,0.582967 -5.17334,-2.84169 -5.46482,-3.49736 -0.947156,-1.82161 0.510041,-4.59037 -2.1858,-4.59037 0,0 -1.38449,0.437115 -2.40457,1.82161 -1.82139,1.53012 -6.26613,-0.728599 -6.99473,-0.218558 -0.510041,0.364189 -3.13295,1.67576 -3.42444,1.74868 -1.74868,0.655673 -2.91462,-1.16593 -4.15326,-1.02008 -2.84169,0.364189 -6.1932,-5.31897 -10.9294,-3.13317 -1.02008,0.437115 -2.9144,1.23864 -3.49736,1.02008 -1.82161,-0.728599 -3.35151,4.29889 -5.61045,5.3919 -1.16571,0.655673 -1.89431,-0.218558 -2.9144,1.02008 -0.947156,1.16571 -0.218558,3.78885 -1.74868,4.44452l0 0 0 0z"}
          %path#PA{:d => "M321.907 72.7167c-0.291484,-0.072926 -0.582747,-0.072926 -1.02008,-0.072926 0.072926,-0.728599 -0.291263,-0.218558 -0.510041,-1.53012 -1.67576,-0.510041 -1.53012,0.218558 -1.53012,0.218558 0,0.801525 -1.16571,-1.4572 -2.9144,-0.582747 -0.291484,-1.96724 -0.291484,-1.16593 -1.89453,-1.16593 -0.655673,0 -0.145632,-0.291484 -1.5299,0 0.0727057,-0.582747 -0.655893,-0.218558 -0.728819,-1.16571 -1.31135,-0.874451 -1.16571,0.291484 -2.25872,-0.072926 -0.655673,-0.145632 -1.16571,-1.38427 -3.13295,-1.02008 -3.71614,0.728599 -1.67598,-0.87423 -2.47728,-0.947156 -2.11309,-0.218558 -1.02008,1.16571 -2.55021,1.09301 -1.09301,-0.145852 -1.09301,0.655673 -2.11309,0 -0.510041,-0.510041 -3.49736,3.2788 -4.08033,3.86155 -1.60283,1.82161 -0.801525,3.64321 -1.09301,4.29889 -3.57007,0 -2.62291,1.82161 -4.59015,2.91462 -2.11309,1.23864 1.53012,1.67576 -4.44474,3.57029 -1.23864,0.364189 -2.62291,8.08773 -4.0074,7.06765 -1.67576,-0.218558 3.9347,-8.23359 3.64321,-9.47223 -0.36441,-1.67576 -4.15326,0.655893 -4.15326,1.23864 -1.31157,0 -2.04016,0 -2.40435,0.655893 -0.728599,1.02008 -1.67598,-1.23864 -2.69606,-1.23864 -1.4572,0 -3.2788,1.23864 -4.15304,1.96724 -0.874451,0.801525 -4.95478,-5.10041 -4.95478,-8.59777 0,-0.36441 -1.4572,-0.582967 -0.728599,-1.74868 0.874451,-1.16593 0.291484,-2.25872 -0.655673,-1.89453 -2.11309,0.728599 -7.43206,6.84909 -10.3465,6.55761 -0.582967,0 -1.4572,-0.0727057 -1.4572,-1.02008 -0.072926,-3.78885 3.42444,-2.25872 3.35151,-4.15304l0 0 -5.17312 0 0 0c-2.62313,-1.09301 -5.53753,-5.02749 -5.53753,-7.06765 0,-0.291484 0,-0.728599 0,-1.02008 0,-1.74868 -2.25872,-3.57029 -4.37181,-3.57029 -0.072926,-1.02008 -1.02008,-1.67576 -1.02008,-2.69584 0,-1.74868 0.291484,-6.04757 -0.655673,-7.86918 -0.437336,-0.874451 -3.06025,-0.36441 -3.57029,-1.74868 -1.09301,-2.91462 -0.437115,-5.3919 -3.35173,-5.3919 -0.87423,0 -0.510041,0 -1.53012,0 -0.582967,0 -1.16571,-1.67576 -2.1858,-1.67576 -1.16593,0 -2.04016,-2.33165 -3.78885,-2.84169 -1.74868,-0.510041 -3.13317,0.582967 -4.73622,-0.218558l0 0 0.145852 -4.88185 0 0c0,0 -0.072926,-1.09301 -1.09301,-1.38427 -2.04016,-0.218778 -0.655673,-1.02008 -2.40435,-1.02008 -3.2061,0 -1.89453,2.33143 -7.57769,1.74868 -1.09301,-0.145852 -2.91462,-1.96724 -3.78885,-0.072926 -0.510041,1.02008 -0.874451,0.874451 -1.16593,1.67576 0.291484,2.11309 2.18602,1.67598 2.18602,3.9347 0,1.23864 -1.02008,1.02008 -2.04016,1.02008 -2.69606,0 -3.42466,-1.16593 -5.97486,-1.16593 -1.09279,0 -1.74868,0.655893 -3.13295,0.655893 -2.25872,0 -1.31157,-0.947156 -3.57029,-0.947156 -2.47728,0 -2.76876,1.5299 -4.0074,2.47728 -1.31157,1.02008 -2.40457,0.510041 -3.78885,0.947156 -1.53012,0.510041 -1.31157,2.04016 -3.57029,2.04016 -0.582967,0.072926 -0.874451,-0.437115 -1.53012,-0.510041 -2.9144,-0.510041 -2.25872,3.13317 -3.49736,3.13317 -2.40457,0 -3.57029,1.82139 -4.22596,0.510041 0,0 0.437115,7.35891 0.947156,10.2735 0,0 1.02008,8.74341 1.38427,9.32637 0.510041,0.87423 4.00762,6.84909 4.00762,6.84909 0,0 0.145632,2.62291 2.03994,2.55021 0.874451,0.87423 1.53012,2.62291 1.53012,2.62291 1.23864,1.38449 2.04016,0.291484 3.78885,0.655893 1.60305,0.364189 2.76876,1.53012 4.29889,0.364189 3.06025,0 5.82901,3.06025 5.82901,3.06025 2.91462,0.582967 1.60305,2.40457 4.29889,2.25872 1.89453,-0.364189 1.60305,2.76876 1.60305,2.76876l0 0 -21.8588 48.9635 0 0c0,0 -1.23864,2.04016 0,2.55021 2.18602,0.874451 2.98754,4.37181 2.4775,5.02771 3.86155,3.86155 4.59015,8.30629 5.4646,14.718 0.291484,2.18602 3.2788,3.13317 5.3919,3.78885 1.09279,0.291484 1.16571,1.82161 1.53012,2.55021 0.87423,1.89453 2.69584,1.82161 3.71592,3.57029l0 0 74.6839 4.0074 0 0c0,0 0.874451,-6.63054 6.33905,-10.6379 2.55021,-0.87423 4.59037,-6.55761 5.68338,-9.47201 1.67576,-4.29889 -1.60305,-2.91462 -1.60305,-5.31897 0,-1.74868 2.47728,-3.20588 1.74868,-6.19342 -0.655673,-2.55021 3.35173,-3.2788 4.80893,-3.57029 1.74868,-0.364189 1.31157,-0.87423 1.67576,-2.1858 0.36441,-1.60305 2.11309,-0.87423 2.33165,-3.35173 -0.0727057,-0.728599 1.82161,-0.510041 1.89453,-3.78885 0.0727057,-2.55021 2.04016,-2.84147 1.31157,-3.57007 -1.02008,-1.02008 -1.53012,-2.18602 -2.76898,-2.18602 -0.947156,-0.145632 -2.69584,-0.072926 -2.69584,-1.02008 0,-0.947156 1.09301,-1.53012 2.04016,-2.25872 1.67576,-1.23864 6.63054,-5.31897 7.43206,-5.53753 1.4572,-0.437115 0.728599,0.072926 2.40435,-0.510041 0.947156,-0.291484 2.47728,-3.49736 3.35173,-4.29889 1.96724,-2.04016 1.16571,-2.69584 2.98732,-3.42444 1.53012,-0.655893 -0.510041,-4.44474 4.22596,-7.35913 1.23864,-0.728599 1.74868,-4.29889 1.74868,-4.29889 -1.02008,-4.0074 2.76876,-1.89453 2.62313,-7.2135 -0.072926,-0.582747 1.16571,0.291484 2.47728,-4.15304 0.291484,-1.23864 -1.4572,-1.16593 -0.145632,-2.76876 0.947156,-1.23864 1.09279,-4.73622 1.38427,-5.61045l0 0 0 0z M281.906 62.0787c-3.13317,0 -5.17334,-1.4572 -8.52507,-1.4572 -2.9144,0 -5.53753,1.02008 -5.53753,3.2788 0,1.23864 -0.0727057,1.74868 0.801525,2.1858 -0.291484,1.09301 -1.53012,-0.291484 -1.53012,-0.291484 -0.87423,-0.291484 0,3.78885 0,4.95478 0,1.02008 2.55021,0.218558 2.25872,1.23864 0,0 -1.4572,0.510041 -2.1858,0.291484 -0.072926,0.801304 0,1.4572 0,1.74868 0,0.87423 0.437115,2.33165 0.801525,3.20588 0.364189,0.655673 0.947156,0.291484 1.02008,0.801525 0.291484,1.02008 0.655673,2.47728 1.67576,2.47728 1.16571,0 1.38449,-1.23864 1.96724,-1.23864 0.510041,0 0.510041,0.582967 1.23864,0.582967 0.801525,0 0.801525,-0.36441 1.09301,-0.801525 0.437115,0.655673 1.53012,1.31157 2.33165,1.31157 1.31157,0 1.4572,-1.38449 2.11287,-1.38449 0.728819,0 0.801525,0.072926 1.7489,0 0,-1.02008 1.01986,-2.04016 2.03994,-2.04016 0.582967,0 0.874451,0.437115 1.31157,0.437115 0.36441,0 1.31157,-1.31135 1.31157,-1.31135 0.582967,0.582747 1.09301,0.801304 1.89453,0.801304 0.801304,0 1.02008,-0.437115 1.53012,-0.655673 -0.510041,-0.947156 0.510041,-2.11309 0.510041,-2.47728 0,-0.947156 1.01986,-0.655893 1.5299,-0.947156 0.510041,-0.291484 0.218778,-0.801525 0.291484,-1.31157 0.291484,-0.874451 1.89453,-0.801525 1.89453,-1.74868 0,-0.947156 -0.36441,-1.16593 -0.582967,-1.82161 0.291484,-0.072926 0.947156,-1.09301 0.947156,-1.67576 0,-1.82161 1.31157,-0.947377 1.16593,-2.55021 -0.218558,-2.18602 -3.13317,-1.45742 -5.17334,-1.45742 -1.16571,0 -3.64299,-1.38427 -4.80893,-1.38427 -0.801525,0 -1.23864,0.437115 -1.74868,0.437115 0,0.291484 -1.02008,0.801525 -1.38427,0.801525l0 0 0 0z"}
          %path#PB{:d => "M405.262 151.554c0.728599,-1.67576 1.67598,-2.55021 2.11309,-3.2788 1.16571,-2.1858 -1.38449,-1.23864 -1.38449,-5.10041 0,-3.13317 1.53012,-3.57029 1.53012,-5.90194 0.437336,0 0.947377,0 0.947377,0 1.23864,0 2.11287,0.801525 3.93448,0.801525 4.37181,0 5.90194,-4.88163 10.2008,-4.88163 0.947156,0 1.53012,0.437115 1.53012,1.02008 0,2.76876 -4.0074,3.35151 -4.0074,6.41176 0,0.801525 2.33143,1.89453 3.42444,1.89453 1.23864,0 1.82161,-0.728599 2.84169,-0.728599 1.38427,0 1.31157,2.76876 2.69584,2.76876 1.53012,0 2.47728,-2.4775 2.47728,-3.35173 0,-0.801525 0,-1.60305 0,-1.74868 0,-0.655893 0.510041,-1.89453 1.60305,-1.89453 1.38427,0 1.60305,2.04016 3.06025,2.04016l0 0 3.2788 -0.437115 0 0c3.35173,0 5.53753,1.53012 9.10782,1.53012 0.291484,1.31157 0.510041,2.76876 0.510041,4.29889 0,1.02008 0.87423,3.71592 0.87423,4.88185 0,1.60283 -0.364189,1.74868 -0.510041,3.35151 -1.4572,-0.145632 -2.76876,-3.93448 -7.35913,-1.60283 -0.655673,0.364189 -0.364189,1.4572 -0.947156,2.04016 -1.31157,0.291263 -2.47728,0.218558 -3.35173,1.09279 -1.23864,0.728599 -5.75608,0 -5.75608,0 -0.655673,1.38449 -2.25872,0.072926 -3.2788,2.47728 -0.728599,1.67598 -1.31157,2.25872 -3.71592,2.25872 -1.82161,0 -0.947156,-2.47728 -2.11309,-2.9144 -0.510041,-0.072926 -1.60283,-0.218558 -1.38427,-0.947156 0.87423,-3.71614 2.47728,-3.2788 2.98732,-5.53753 -0.874451,-1.45742 -2.40457,-2.84169 -4.0074,-1.67598 -2.18602,2.11309 -6.12049,4.80893 -6.99495,4.6633 -1.60283,-0.218558 -2.25872,0.582967 -2.76876,0.582967 -1.23864,0 -0.218558,-1.31157 -2.03994,-1.09301 -1.60305,0.218558 -2.33165,-0.728599 -3.49758,-1.02008l0 0 0 0z"}
          %path#PE{:d => "M449.49 153.23c-1.4572,-0.145632 -2.76876,-3.93448 -7.35913,-1.60283 -0.655673,0.364189 -0.364189,1.4572 -0.947156,2.04016 -1.31157,0.291263 -2.47728,0.218558 -3.35173,1.09279 -1.23864,0.728599 -5.75608,0 -5.75608,0 -0.655673,1.38449 -2.25872,0.072926 -3.2788,2.47728 -0.728599,1.67598 -1.31157,2.25872 -3.71592,2.25872 -1.82161,0 -0.947156,-2.47728 -2.11309,-2.9144 -0.510041,-0.072926 -1.60283,-0.218558 -1.38427,-0.947156 0.87423,-3.71614 2.47728,-3.2788 2.98732,-5.53753 -0.874451,-1.45742 -2.40457,-2.84169 -4.0074,-1.67598 -2.18602,2.11309 -6.12049,4.80893 -6.99495,4.6633 -1.60283,-0.218558 -2.25872,0.582967 -2.76876,0.582967 -1.23864,0 -0.218558,-1.31157 -2.03994,-1.09301 -1.89453,0.218558 -2.40457,-1.16593 -4.00762,-1.16593 -1.4572,0 -3.2788,3.49758 -3.93448,1.38449 -0.36441,-1.23864 -1.60305,-1.16571 -2.76876,-3.06025 -0.874451,-1.4572 -5.10041,-3.35173 -7.06765,-2.47728 -1.23864,0.510041 -1.74868,-0.145852 -3.06025,-0.145852l0 0 -4.15326 -0.218558 0 0c-1.23864,0.36441 -0.947156,1.53012 -0.947156,2.98754 0,2.33143 1.89453,1.96724 1.31157,5.24604 -0.582967,3.06025 -5.75608,3.49736 -6.33905,4.37159 -0.655673,1.09301 -1.53012,1.45742 -2.47728,1.96746 7.94188,2.11287 2.25872,5.02749 5.61045,5.90172 0.947156,0.218558 0.947156,2.76876 0.947156,3.06025 0,0.218558 0.437115,0.437115 1.16571,0.728599 0.510041,0.145852 0.728599,-1.38427 1.82161,-1.09279 2.55021,0.437115 -0.072926,-3.42466 3.78885,-2.91462 3.06025,0.36441 2.1858,-3.35173 3.9347,-3.06025 1.74868,0.218558 -0.874451,-2.1858 4.59015,-2.9144 1.89453,-0.218558 1.09301,3.13295 6.92202,3.42444 1.02008,0 0.145632,1.82161 1.23864,1.82161 1.09301,0 0.801525,-1.82161 1.82161,-1.02008l0 0 0.510041 1.82161 0 0c2.40435,0.291484 1.74868,1.16571 1.74868,2.9144 0.291484,0.072926 0.582967,0 0.87423,0 1.31157,0 2.84169,-1.4572 4.15326,-2.40435 1.4572,-2.76876 2.11309,0.510041 2.55021,0.291484 2.9144,-1.38449 4.37181,4.15304 7.50477,4.15304 0.874451,0 1.38449,-0.801525 1.89453,-0.510041 2.11287,1.38449 1.96724,0.510041 2.84147,0.291484 2.33165,-0.582967 2.55021,-1.02008 3.49758,-2.40435 1.96724,-2.84169 5.68316,-1.67598 5.68316,-1.67598 0.728599,0.874451 2.25872,-0.510041 2.91462,-0.510041 1.67576,0 3.13295,1.02008 4.29889,1.74868 1.67576,-2.33143 3.35151,-5.10019 3.78885,-7.43184 0.291263,-1.82161 0.145632,-5.24604 0.218558,-7.06765 0,-0.582967 -0.145852,-1.02008 -0.145852,-1.38449l0 0 0 0z"}
          %path#PI{:d => "M378.522 95.2312c-0.87423,1.02008 -0.291484,2.62291 -2.25872,3.71592 -1.53012,0.874451 -0.072926,1.60305 1.16593,2.04016 -0.145852,0.874451 -1.67598,1.02008 -1.31157,1.74868 0.947156,1.74868 1.02008,3.2788 1.89431,5.17334 0.291484,0.582747 1.16593,2.04016 1.16593,3.06025 0,1.82139 -1.02008,2.11287 -1.16593,3.93448 -0.218558,4.15326 1.53012,3.35173 1.4572,6.04757 -0.0727057,1.60305 -0.437115,3.64321 -0.437115,5.17334 0,2.1858 2.04016,2.40435 2.33165,4.44452 0.218558,2.11309 0.582967,3.06025 0.874451,4.95456 -0.145852,3.42466 3.64299,2.11309 3.64299,5.61045 0,1.67598 -1.60305,2.33165 -1.60305,3.49736 0,0.36441 -0.655673,2.25872 -0.510041,2.25872 -1.23864,0.36441 -0.947156,1.53012 -0.947156,2.98754 0,2.33143 1.89453,1.96724 1.31157,5.24604 -0.582967,3.06025 -5.75608,3.49736 -6.33905,4.37159 -1.23864,2.18602 -3.57029,1.53012 -4.66308,4.44474 -0.291484,0.801525 -2.76876,0.582967 -3.06025,1.89431 -0.36441,1.89453 -2.25872,2.04016 -3.57029,2.04016 -2.62313,0 -4.59037,2.91462 -7.79625,2.91462 -2.25872,0 -2.33165,-0.437336 -3.57029,-1.67598 -0.510041,-0.510041 -1.60305,0 -2.47728,0 -0.874451,0 -2.04016,-1.4572 -2.55021,-1.09279 -0.947377,0.364189 -0.801525,0.87423 -2.11309,0.87423 -0.728599,0 -2.04016,-0.0727057 -2.04016,0.510041 0,0.510041 0.437115,1.60305 1.09301,2.04016 0,0.947156 0.364189,4.15326 0.145632,4.88185 -1.31157,2.62291 -4.29889,6.70324 -6.84909,6.26613 -4.80893,-0.874451 -3.64299,2.47728 -7.43184,2.47728 -1.74868,0 -3.42466,0 -5.10041,-2.04016 -1.82161,-1.16571 -0.072926,-3.35151 -2.40457,-4.29889 -1.31135,-0.510041 -1.96724,0 -3.57007,-0.218558 -0.437336,0 -0.801525,-0.437115 -1.16593,-0.801525 0.36441,-1.38427 2.40457,-2.33143 2.11309,-4.0074l0 0 0.510041 -5.39168 0 0c-0.291484,-1.53012 -1.89453,-3.06025 -1.67598,-6.12049 -0.218558,-2.40457 2.40457,-1.60305 2.69606,-4.29889 0.218558,-2.55021 1.31157,-2.47728 2.11287,-4.6633 0.801525,-2.04016 0.145852,-6.84909 5.31897,-6.84909 3.42466,0 2.40457,-2.04016 5.82901,-2.40435 1.60305,-0.218558 3.2061,-1.89453 4.29889,-2.98732 1.02008,-1.02008 2.04016,-3.35173 4.29889,-3.35173 1.89453,0 5.31897,1.23864 7.2135,1.23864 4.0074,0 4.88163,-1.23864 4.88163,-4.736 0,-2.55021 -2.76876,-2.40457 -2.76876,-6.33905 0,-4.0074 3.42466,-3.78885 3.42466,-7.86918 0,-2.11309 -1.23864,-3.42444 -1.23864,-5.24604 0,-0.874451 0.728599,-1.23864 0.728599,-2.33165 0,-1.02008 -0.510041,-2.04016 -0.510041,-3.06025 0,-2.04016 1.38427,-2.25872 2.84169,-3.71592 1.09279,-1.09301 0,-3.64321 2.40435,-4.37181 0.728599,-0.218558 1.31157,-0.364189 2.62313,-0.655673 2.04016,-0.510041 5.53753,-3.86177 5.53753,-5.90194 0,0 0.145632,-0.947156 0.145632,-1.4572 1.53012,0 0.582967,1.4572 1.31157,1.67576 1.96724,0.801525 4.15326,0.218558 5.75608,0.36441l0 0 0 0z"}
          %path#PR{:d => "M232.214 360.45c0.510041,0.437115 0.874451,1.09301 2.40457,0.510041 1.02008,-0.36441 3.93448,0.145632 4.51744,0.655673 1.38427,1.09301 2.1858,-0.218558 2.76876,0.072926 2.1858,1.16593 5.61045,0.510041 7.14058,2.18602 1.53012,1.74868 5.68316,0.509821 6.55761,1.4572 0.364189,0.145632 1.38427,0 2.76876,-0.072926 -0.291484,-1.02008 0,-1.4572 0,-2.62313 0,-2.84147 3.86177,-1.31135 5.31897,-2.33143 0.510041,-0.291484 0.655673,-1.89453 1.74868,-1.89453 1.02008,0 1.38427,0.36441 2.55021,0.36441 1.23864,0 2.25872,0 3.42444,-0.36441 2.55021,-0.728599 2.76876,2.55021 4.80893,2.55021 1.31157,0 2.25872,-2.40435 4.15326,-2.62313 2.11287,0 3.93448,-0.0727057 5.97464,-0.437115 0.218558,-1.02008 1.31157,-1.82161 1.74868,-2.98732 0.655893,-1.53012 -3.42444,0.582967 -2.9144,-2.40435 2.1858,1.60283 1.89431,-2.04016 3.20588,-1.38449 2.62313,0.36441 0,1.4572 0.728599,2.11309 1.74868,-0.582967 4.44474,-3.06025 3.78885,-3.06025 -2.9144,0 -2.1858,-3.2061 -4.95456,-3.57029 -0.218558,0.728599 -0.801525,1.38427 -1.53012,1.38427l0 0 0 -2.04016 0 0c0.801525,-0.655673 0.947156,-0.801304 1.02008,-2.03994 -1.02008,-0.437336 -1.82161,-0.437336 -2.69606,-1.02008l0 0 -4.88163 0 0 0c-0.437336,-0.291484 -1.02008,-0.728819 -1.02008,-1.31157 0,-0.582967 1.09279,-1.74868 1.31157,-1.89453 -0.582967,-0.947156 -3.86177,-5.61045 -3.86177,-6.1932 0,-3.9347 0.655673,-8.81633 -3.49736,-10.8565 -3.13317,-1.4572 -5.61045,0.218558 -9.10782,-0.510041 -1.67598,-0.291484 -4.08033,-2.98732 -5.75608,-2.98732 -0.947377,0 -1.67598,0.655673 -2.55021,0.655673 -2.11309,0 -3.35173,-1.67576 -4.88185,-1.67576 -2.55021,0 -6.63054,0.801304 -10.6379,0.218558 -0.728599,0.87423 -1.74868,1.67576 -3.86177,2.40435 -2.62291,0.874451 -2.62291,2.55021 -3.57029,5.31897 -0.364189,1.23864 -1.67576,1.16593 -2.54999,2.40457 -0.874451,1.38427 -0.582967,3.78885 -1.09301,5.31897 -0.437115,1.31135 -1.82161,1.02008 -2.69584,2.11287 0,0 -0.801525,1.31157 0,2.69606 1.23864,1.53012 0,2.54999 -0.145852,3.78885 -1.16571,8.74341 -1.16571,7.6504 -2.1858,8.30629 -1.4572,1.02008 -1.09301,3.49736 -0.582967,3.71592 1.09301,0.510041 2.40457,-1.38449 5.24604,-1.16571 1.23864,0.145632 3.2061,4.51744 3.78885,7.21328l0 0 0 0z"}
          %path#RJ{:d => "M370.944 307.99c-3.2788,-2.55021 -9.18052,0.364189 -8.30629,-5.90194 -0.655673,-0.728599 -1.38427,0 -2.04016,0 -1.82161,1.89453 -4.66308,5.24604 -4.66308,8.30629 0,2.91462 -6.84909,4.0074 -8.23359,4.88185 -1.82161,1.16571 -4.15304,-0.36441 -6.55761,-0.36441 -1.74868,0 -4.22596,1.23864 -5.61045,1.67598 -3.06025,0.801525 -4.736,1.02008 -7.43184,2.55021 0.87423,0.291263 1.23864,0.87423 1.82161,1.53012 0.801304,0.801304 4.37159,0.364189 4.88163,0.582747 1.02008,1.38449 -1.02008,2.33165 -1.89431,2.62313 -2.25872,0.801525 -5.17334,0.072926 -5.17334,3.71592 0,0.874451 1.74868,2.98732 1.74868,2.98732 0.874451,-0.291484 1.60305,-0.728599 1.74868,-1.74868 0.145852,-0.364189 -1.16571,-0.655673 -1.23864,-1.4572 0,-1.4572 1.60305,-0.291484 2.25872,-1.60305 1.38449,-0.728599 0.218558,1.16593 2.25872,1.16593 1.23886,0 1.23886,-1.38449 3.06025,-1.38449 0.36441,0 1.31157,0.145852 1.45742,0.510041 -0.145852,0.291484 -2.33165,0.145852 -2.11309,1.09301 2.25872,0 5.53753,-0.291484 7.72332,-0.291484l0 0 0.655893 -2.84169 0 0c0.801525,0.072926 1.38427,-0.510041 1.38427,0.510041 0,0.510041 -0.655673,1.02008 -0.655673,1.89453 1.23864,1.02008 7.21328,-0.510041 8.52485,0.145632 3.78885,1.89453 4.80893,-0.728599 4.0074,-1.38427 -0.87423,-0.801525 1.02008,-4.29889 4.15326,-5.31897 3.64299,-1.23864 7.50477,-1.31157 7.43184,-4.44474 0,-1.74868 -0.291263,-3.49736 0,-5.61023 0.145852,-0.582967 0.510041,-1.45742 0.801525,-1.82161l0 0 0 0z"}
          %path#RN{:d => "M407.374 137.166c0,-0.217456 -0.869824,-1.66694 0.797118,-3.11643 1.01479,-0.869824 1.8844,0.0724853 2.89919,-0.869824 1.44949,-1.52197 1.81191,-1.59446 2.46406,-3.91377 0.652368,-2.31909 2.17434,-2.68152 2.68174,-4.27597 0.579883,-2.17434 1.15955,-2.31931 2.3918,-3.55156 1.15955,-1.23203 4.13122,-0.869604 4.34868,-2.2466 0.434692,0.434692 0.869604,0.869604 1.08706,1.59446 2.17434,1.73943 4.85586,3.62383 8.76962,3.55134 8.04499,-0.144971 12.9736,1.01457 13.9881,9.56696 1.08728,0.652368 0.652368,2.10185 1.08728,4.34868 0.0724853,0.652148 0.289941,1.52197 0.507177,2.46428 -3.55134,0 -5.72568,-1.52219 -9.05957,-1.52219l0 0 -3.2614 0.434912 0 0c-1.44949,0 -1.66694,-2.02937 -3.04416,-2.02937 -1.08706,0 -1.59446,1.23225 -1.59446,1.8844 0,0.144971 0,0.942309 0,1.73943 0,0.869824 -0.942089,3.33411 -2.46428,3.33411 -1.377,0 -1.30452,-2.75422 -2.68152,-2.75422 -1.01479,0 -1.59446,0.724853 -2.82671,0.724853 -1.08706,0 -3.40637,-1.08728 -3.40637,-1.8844 0,-3.04416 3.98625,-3.62405 3.98625,-6.37805 0,-0.579883 -0.579883,-1.01479 -1.52197,-1.01479 -4.27619,0 -5.79817,4.85608 -10.1468,4.85608 -1.81191,0 -2.68174,-0.797339 -3.91377,-0.797339 0,0 -0.652368,-0.144971 -1.08706,-0.144971l0 0 0 0z"}
          %path#RO{:d => "M86.6347 176.327c2.04016,-0.582967 1.96724,-1.38449 4.59015,-1.38449 2.33165,0 2.4775,-0.145632 4.6633,0 1.53012,0.145852 1.74868,-1.74868 2.9144,-1.53012 1.67598,1.82161 0.801525,2.62313 0.801525,4.08033 0,0.874451 0.510041,2.11309 0.510041,2.11309 0,1.53012 -1.31157,1.74868 -1.31157,4.08033 0,2.25872 1.53012,2.25872 1.53012,4.15304 0,1.53012 -0.364189,2.76876 -0.364189,4.29889 0,2.11309 1.74868,4.51744 2.76876,4.80893 1.23864,0.437115 1.09301,3.06025 2.40435,3.2061 2.55021,0.218558 2.04016,2.33143 3.78885,2.40435 2.40457,0 0.874451,2.47728 4.0074,2.98732 3.64321,0.582967 3.9347,-0.582747 5.24626,-0.582747 3.20588,0 2.47728,0.437115 4.51744,2.25872 1.02008,0.87423 1.89431,-0.36441 2.9144,-0.36441 1.02008,0 1.60305,1.4572 2.04016,2.04016 1.74868,2.33165 4.6633,1.23864 7.06765,3.20588 0.728599,0.582967 0.874451,0 1.82161,-0.0727057 1.60305,-0.145852 0.874451,1.74868 2.33165,2.25872 1.53012,2.76876 2.9144,2.69584 5.97464,2.1858 1.67598,-0.291484 3.06025,-0.437115 4.29889,-0.437115 0.655893,0 1.96724,0.437115 3.2788,1.16571 1.23864,-1.23864 2.84169,-1.82161 4.08033,-2.76876 1.16571,-0.874451 0.801525,-3.35173 1.74868,-4.80893 1.74868,-2.76876 3.78885,-2.9144 4.59037,-8.59777 0.582967,-4.66308 -2.84169,-4.736 -2.84169,-7.57769 0,-1.96724 2.33165,-1.82161 1.82161,-4.80893 -0.437115,-2.40435 -4.736,-1.82161 -7.72332,-2.9144 -1.23886,-0.510041 -5.82901,0.582747 -5.97486,-0.145852 -0.364189,-2.11287 -5.02749,-3.57029 -5.02749,-7.21328 0,-3.2061 2.04016,-5.10041 2.04016,-8.23359 0,-3.35151 -1.53012,-5.90172 -1.16571,-9.61786 -0.36441,-0.582747 -3.64321,-1.38427 -4.6633,-1.23864 -2.25872,0.291484 -1.96724,-1.31135 -6.12049,-2.40435 -3.2788,-0.874451 -4.66308,-5.46482 -5.31897,-5.46482 -2.25872,0 -6.33905,0.291484 -8.59777,0.291484 0,1.16593 -1.53012,2.18602 -1.53012,2.55021 0.582967,1.96724 -3.2788,0.437115 -3.49736,2.62313 -0.145632,1.53012 -0.655673,0.947156 -0.655673,2.25872 0,3.35173 -2.76876,3.78885 -5.31897,4.15304 -5.02749,0.801525 -5.90194,6.4849 -7.43206,5.61045 -1.74868,-1.02008 -3.06025,2.04016 -5.75608,1.23864 -1.09301,-0.291263 -1.09301,-1.02008 -3.20588,-1.23864 -5.31897,-0.510041 -4.59037,3.2788 -10.2738,5.82901l0 0 5.02771 1.60305 0 0z"}
          %path#RR{:d => "M172.321 55.6668c0.510041,2.91462 0.145852,0.145852 0.145852,0.145852 0,0 -6.63054,-0.291484 -9.10782,0.145632 -2.55021,-0.291484 -4.44474,1.23864 -4.736,2.84169 -0.36441,2.1858 -0.728599,3.06025 -2.40457,3.71592 -1.74868,1.09301 -1.74868,5.82901 -1.60283,4.0074 0,0 -1.53012,2.55021 -3.42466,2.33165 -2.25872,-0.145632 -2.9144,-4.44452 -4.66308,-4.08033 -2.84169,0 -6.99495,1.38449 -5.82901,7.06765 0,2.76876 -1.67598,4.22618 -4.44474,1.89453 0,0 -2.40435,-3.2788 -5.31897,-4.51744 -1.53012,-0.510041 -2.04016,-2.04016 -0.145632,-1.89453 2.33165,-0.510041 -0.291484,-3.49736 -0.072926,-5.31897 0.218558,-2.1858 -0.947156,-4.80893 -1.02008,-6.70324 0.874451,-8.01481 -0.87423,-6.55761 -1.53012,-10.2735 -0.291484,-1.53012 -2.25872,-1.60305 -2.69584,-3.78885 -0.218558,-1.23886 -6.63054,-9.32659 -5.90194,-7.06787 0,-1.23864 -1.67576,-0.87423 -2.04016,-0.87423 -0.218558,0 -2.33143,0 -3.71592,0 -1.23864,0 -2.04016,-0.655673 -1.96724,-2.1858 0.218558,-4.00762 -2.40457,-3.42466 -2.40457,-5.82901 0,-0.291484 -0.145632,-2.55021 -0.145632,-3.78885 0,-2.84169 0,-2.91462 -4.51744,-5.31897 -1.23864,-0.582967 -2.04016,-3.64321 -1.53012,-3.64321 1.31157,0 1.4572,1.38449 2.40435,1.38449 0.728599,0 2.84169,-0.145852 3.57029,-0.145852 1.89453,0 1.09301,2.91462 2.62313,2.91462 0.582747,0 1.38427,-0.874451 2.76876,-0.874451 1.31157,0 1.60283,0.510041 2.9144,0.510041 0.801525,0 1.23864,-0.655673 2.04016,-0.655673 2.40457,0 2.47728,4.22596 5.31897,4.22596 1.02008,0 1.74868,-1.23864 1.74868,-1.67576 0,-0.510041 -1.16571,-1.23864 -0.437115,-2.91462 0.582967,-1.53012 2.62313,-0.582967 2.62313,-0.582967 0,0 0.0727057,-1.67576 1.38427,-1.89431 1.16593,-0.291484 1.60305,0.947156 2.76876,0.947156 1.02008,0 1.02008,-0.728599 2.25872,-0.728599 0.728599,0 0.801525,-0.218558 1.53012,-0.218558 1.09301,0 1.16593,-0.947156 3.13317,-0.947156 1.31157,-0.582967 0.145632,-1.96724 2.9144,-2.11309 1.67598,-2.1858 4.08033,-0.291484 4.44474,-1.02008 2.25872,-4.44452 3.93448,-1.02008 4.66308,-5.24604 -0.510041,-0.947156 -0.728599,-1.89453 -0.87423,-2.47728 0.801304,-0.291484 1.4572,-0.145852 3.2788,-0.145852 1.02008,0 1.38427,-0.87423 2.40435,-0.87423 1.67598,0 2.55021,2.25872 2.04016,4.44452 -0.364189,1.67598 -1.16571,1.96724 -1.38427,3.64321 -0.145852,1.16571 3.86155,0.582747 4.44452,1.16571 0.218558,0.728599 0.510041,1.67576 0.510041,2.40457 0,1.53012 1.74868,2.69584 1.38427,4.15304 -0.87423,3.2788 -2.54999,2.04016 -3.06003,3.57029 0,0.728599 0.145632,2.25872 0.145632,2.62313 0,2.55021 -1.74868,2.04016 -1.67576,6.48468 0.145632,5.90194 2.33143,4.22596 3.06025,6.1932 0.509821,1.38449 -0.874451,2.18602 0.145632,3.49758 1.02008,1.4572 4.80893,5.61023 6.55761,6.12027 0.874451,0.218778 1.82161,-0.437115 2.62313,1.23886 0,0 0.291263,7.21328 0.801304,10.1277l0 0 0 0z"}
          %path#RS{:d => "M231.048 371.598c-0.801525,0.801525 -1.96724,1.4572 -3.35173,2.04016 -1.53012,0.582967 -1.60283,1.23864 -3.13295,1.74868 -1.02008,0.291484 -3.78885,1.02008 -4.08033,1.89431 -0.728599,2.25894 -1.67598,2.25894 -4.0074,3.2788 -0.874451,0.36441 -4.44474,2.98754 -4.59037,3.78885 -0.145852,0.801525 -3.71592,3.2061 -4.29889,4.29889 -1.23864,2.04016 -2.40457,4.15326 -4.0074,5.46482 -2.4775,2.04016 -1.82161,4.95456 -4.59037,6.1932 -3.2788,1.38449 -4.15326,4.80893 -6.04757,6.84909 -0.437115,0.437115 2.25872,0.728599 3.13295,0.728599 1.31157,0 1.23864,-2.11287 3.42466,-2.25872 2.04016,-0.145632 2.84169,1.53012 2.9144,1.74868 0.947377,1.31157 2.62313,2.25872 3.9347,3.2061 3.64299,2.62291 2.11287,6.70324 3.2788,6.55761 2.62291,0 1.67576,-2.69606 3.78885,-2.69606 0.728599,0 3.06025,3.2788 3.13295,3.42466 0.437336,0.801525 4.08033,2.9144 5.10041,2.9144 2.33165,0 3.42466,3.06025 4.15326,4.29889 0.364189,0.728599 4.66308,1.53012 5.24604,2.18602 1.23864,1.16571 1.96724,3.2788 2.55021,4.88163 0.291484,0.947377 3.35173,2.76876 4.0074,2.91462 0,3.64299 -3.78885,3.13295 -3.78885,6.99473 0,2.40457 0.728599,3.35173 1.02008,5.17334 1.02008,-1.53012 3.57029,-2.04016 4.44452,-3.42466 0.291484,0.218558 3.2788,-2.76876 3.57029,-3.13295 0.582967,-0.874451 2.62313,-3.71614 2.62313,-5.17334 0,-4.736 3.93448,-6.63054 3.78885,-7.21328 -0.36441,-2.40457 -2.40457,0.510041 -1.74868,-0.801525 0.655673,-1.38449 -0.145852,-2.69606 0.145632,-2.91462 1.38449,-1.23864 1.82161,-1.23864 1.60305,-2.98732 -0.218558,-2.1858 2.47728,-2.84169 2.9144,-2.69584 2.04016,0.655673 0.728599,-1.4572 1.74868,-1.60305 1.02008,0 0.947377,-2.11309 0.947377,-2.40435 0,-0.728599 1.74868,0.728599 1.60283,-1.89453 1.02008,0.218558 0.437336,-1.96724 1.02008,-2.55021 0.291484,-0.291484 1.02008,-1.74868 2.40457,-1.60283 0.510041,0 -0.728599,-1.60305 0.291484,-2.4775 1.67576,-1.4572 2.69584,1.09301 4.0074,1.45742 0,0 0.0727057,1.09279 -0.728599,1.09279 -0.874451,0 -0.947377,1.38449 -0.947377,2.33165 0,0.36441 0.801525,1.31157 0.145852,2.25872 -0.510041,0.437115 -2.25872,0.072926 -2.62313,1.38449 -0.218558,0.582747 0.510041,1.89431 -0.437115,1.89431 -2.98732,-0.145632 -1.4572,1.96724 -2.40457,3.78885 -0.291263,0.582967 -1.09279,1.09301 -2.25872,1.09301 -0.437115,1.60283 -3.13295,2.84169 -4.59015,3.86177 -0.218778,0.145632 -0.437336,-1.53012 -1.31157,-0.655893 0,0.218558 0.510041,2.76876 0.728599,2.84169 0.728599,0.437115 1.4572,-1.96724 2.76876,-2.47728 12.1681,-7.43206 11.2936,-11.5124 16.467,-19.9643 1.38427,-2.98732 3.20588,-5.75631 4.95456,-8.08773 0,0 -1.16571,-1.74868 -3.13317,-1.74868 -0.582747,0 -1.96724,1.82139 -2.33143,0.0727057 -0.145852,-0.87423 1.02008,-1.16571 1.67576,-1.82139 1.31157,-1.31157 -0.510041,-2.33165 2.1858,-4.51767 0.437336,-0.364189 1.31157,-0.728599 1.31157,-1.16571 0,-1.09301 -0.510041,-1.82161 -3.49736,-1.60305 -2.55021,0.218778 -3.2788,0.510041 -5.4646,-0.87423 -1.60305,-1.02008 -2.98732,-3.57029 -4.0074,-5.10041 -0.947377,-1.4572 -5.3919,-4.88185 -7.79647,-5.17312 -2.62291,-0.291484 -2.40435,-2.55021 -6.55761,-3.13317 -1.60283,-0.291484 -2.76876,0.364189 -4.29889,-0.145632 -1.60283,-0.510041 -3.49736,-1.53012 -5.82901,-1.53012 -1.4572,0 -1.96724,1.23864 -3.78885,1.23864 -0.509821,0 -0.87423,-0.072926 -1.38427,-0.072926l0 0 0 0z"}
          %path#SC{:d => "M232.214 360.305c0.072926,0.510041 0.072926,1.09279 0.072926,1.38427 0,3.35173 0.291484,4.95478 -0.072926,7.72354 -0.145632,0.87423 -0.510041,1.53012 -1.16571,2.1858 0.510041,0 0.874451,0.072926 1.38427,0.072926 1.82161,0 2.33165,-1.23864 3.78885,-1.23864 2.33165,0 4.22618,1.02008 5.82901,1.53012 1.53012,0.509821 2.69606,-0.145852 4.29889,0.145632 4.15326,0.582967 3.9347,2.84169 6.55761,3.13317 2.40457,0.291263 6.84909,3.71592 7.79647,5.17312 1.02008,1.53012 2.40435,4.08033 4.0074,5.10041 2.1858,1.38427 2.9144,1.09301 5.4646,0.87423 2.98732,-0.218558 3.49736,0.510041 3.49736,1.60305 0,0.437115 -0.87423,0.801525 -1.31157,1.16571 -2.69584,2.18602 -0.87423,3.2061 -2.1858,4.51767 -0.655673,0.655673 -1.82161,0.947156 -1.67576,1.82139 0.364189,1.74868 1.74868,-0.0727057 2.33143,-0.0727057 1.96746,0 3.13317,1.74868 3.13317,1.74868 2.25872,-2.91462 4.44452,-5.24626 6.12049,-6.55761 1.02008,-0.874451 2.98732,-1.45742 2.84169,-2.04016 -0.072926,-0.510041 0.510041,-2.33165 1.53012,-2.33165 -0.145852,0.510041 0.364189,-1.82161 0.364189,-3.64321 0,-1.60283 2.76876,-2.40435 2.91462,-7.72332 0,-2.33165 -2.25872,-3.35173 -2.25872,-4.80893 0,-1.67576 -1.02008,-2.9144 -0.655893,-3.57029 3.06025,-4.88185 -0.364189,-1.16571 0.218558,-4.29889 0.655893,-0.582967 0.728599,-0.218558 1.4572,-0.218558 0.145852,0.728599 -0.655673,-1.53012 -0.145632,-4.08033 -2.04016,0.36441 -3.86177,0.437115 -5.97464,0.437115 -1.89453,0.218778 -2.84169,2.62313 -4.15326,2.62313 -2.04016,0 -2.25872,-3.2788 -4.80893,-2.55021 -1.16571,0.36441 -2.1858,0.36441 -3.42444,0.36441 -1.16593,0 -1.53012,-0.36441 -2.55021,-0.36441 -1.09301,0 -1.23864,1.60305 -1.74868,1.89453 -1.4572,1.02008 -5.31897,-0.510041 -5.31897,2.33143 0,1.16593 -0.291484,1.60305 0,2.62313 -1.38449,0.072926 -2.40457,0.218558 -2.76876,0.072926 -0.874451,-0.947377 -5.02749,0.291484 -6.55761,-1.4572 -1.53012,-1.67598 -4.95478,-1.02008 -7.14058,-2.18602 -0.582967,-0.291484 -1.38449,1.02008 -2.76876,-0.072926 -0.582967,-0.510041 -3.49736,-1.02008 -4.51744,-0.655673 -1.53012,0.582967 -1.89453,-0.218558 -2.40457,-0.655673l0 0 0 0z"}
          %path#SE{:d => "M417.794 197.457c1.4572,-3.64299 3.64299,-6.55761 6.99473,-8.45192 2.25872,-1.31157 4.29889,-1.45742 5.90194,-2.69606 -0.655893,-0.582747 -2.18602,-2.47728 -2.76876,-2.84147 -0.655893,-0.291484 -1.82161,-0.291484 -2.4775,-1.31157 -0.582747,-0.874451 -1.16571,-2.33165 -1.82139,-2.62313 -4.6633,-2.33165 -7.14058,-4.0074 -11.9495,-6.55761 1.02008,1.38449 0.36441,1.96724 0.655673,3.78885 0.291484,1.4572 3.13317,3.78885 2.04016,6.26613 -0.655673,1.38449 1.02008,6.19342 -2.40435,4.80893 -1.67598,-0.655673 -1.60305,-1.09279 -3.06025,-0.218558 -0.510041,1.02008 0.655673,2.76876 0.655673,2.76876 0.801525,1.38449 0.947377,1.53012 2.11309,2.11309 0.510041,1.31157 -1.23864,1.02008 -0.582967,2.84169 0.145852,0.437115 1.02008,0.364189 1.31157,0.364189 1.02008,0.145852 0.728599,1.38449 1.53012,1.74868 0.947156,0.510041 3.86177,0 3.86177,0l0 0 0 0z"}
          %path#SP{:d => "M329.485 330.577c-0.87423,0.291484 -1.82139,0.291484 -2.33143,0.291484 -1.89453,0.655893 -3.2788,1.89453 -5.53775,2.25872 0,0 -1.38427,0.510041 -1.23864,1.67598 -0.145632,0.655673 -1.09279,0.801304 -1.38427,0.582747 -0.947156,-0.655673 -2.33165,-0.582747 -3.57029,-0.510041 -1.23864,0.145852 -2.11309,1.89453 -3.42444,2.04016 -4.6633,0.510041 -5.75631,2.33165 -9.25367,5.10041 -1.96724,1.60305 -2.33165,1.38449 -4.51744,2.76876 -2.04016,1.23864 -3.06025,2.25872 -4.44452,2.98732 -2.4775,1.53012 1.02008,0.801525 -0.874451,2.40457 -2.9144,0 -2.1858,-3.2061 -4.95456,-3.57029 -0.218558,0.728599 -0.801525,1.38427 -1.53012,1.38427l0 0 0 -2.04016 0 0c0.801525,-0.655673 0.947156,-0.801304 1.02008,-2.03994 -1.02008,-0.437336 -1.82161,-0.437336 -2.69606,-1.02008l0 0 -4.88163 0 0 0c-0.437336,-0.291484 -1.02008,-0.728819 -1.02008,-1.31157 0,-0.582967 1.09279,-1.74868 1.31157,-1.89453 -0.582967,-0.947156 -3.86177,-5.61045 -3.86177,-6.1932 0,-3.9347 0.655673,-8.81633 -3.49736,-10.8565 -3.13317,-1.4572 -5.61045,0.218558 -9.10782,-0.510041 -1.67598,-0.291484 -4.08033,-2.98732 -5.75608,-2.98732 -0.947377,0 -1.67598,0.655673 -2.55021,0.655673 -2.11309,0 -3.35173,-1.67576 -4.88185,-1.67576 -2.55021,0 -6.55761,0.655673 -10.4923,0.0727057 1.09301,-1.38427 1.7489,-2.69584 4.73622,-3.49736 2.47728,-0.728599 5.4646,-5.90172 5.31897,-7.35913 -0.291484,-1.89431 1.4572,-0.510041 1.96724,-2.04016 0.145632,-4.66308 2.47728,-4.66308 2.62313,-5.82901 0.801304,-5.39168 2.76876,-4.22596 3.35151,-5.82879 1.02008,-2.62313 4.15326,0.145632 4.0074,-4.00762 4.73622,-1.23864 5.24626,-3.78885 5.97486,-3.2788 1.4572,1.09301 1.38427,1.23864 2.76876,1.38449 1.09279,0.072926 3.42444,0.728599 4.37159,0.728599 0.874451,0 4.00762,0.291484 5.24626,0 0.87423,1.60305 -0.145852,3.2788 1.16571,4.22596 0.655673,0.36441 1.09301,-0.947156 1.89453,-0.655673 2.40435,0.510041 1.09279,2.11309 1.89431,1.23864 0,0 -0.655673,-1.60305 0.874451,-1.89453 1.89431,-0.291263 2.55021,-0.218558 4.08011,-0.582747 1.89453,-0.437115 2.76898,0.87423 4.37181,0.364189 2.33165,0.218558 1.67598,-0.437115 2.18602,-1.53012 1.01986,0.218778 1.4572,-0.291263 2.03994,0.36441 0.437336,-0.291484 1.23886,-0.655673 1.89453,-0.36441 0.87423,1.23864 2.1858,0.874451 2.1858,2.69606 0,0.582747 -0.218558,1.96724 -0.218558,2.33143 0,1.31157 1.67598,0.582967 1.67598,1.89453 0,1.09301 -1.31157,1.74868 -1.31157,2.84169 0,0.801525 1.60283,5.53753 1.67576,5.75608 1.02008,2.55021 4.88185,-1.09301 5.4646,2.69584 0.218778,1.60305 -1.5299,0.510041 -1.74868,4.29889 -0.0727057,0.728599 -0.437115,2.18602 -0.145632,2.25872 -0.145632,1.23864 -0.145632,1.67598 -0.145632,2.69606 0,1.82139 2.76876,0.582747 2.47728,3.57029 0,0.582747 1.89431,2.76876 2.11287,2.84147 0.874451,0.655893 2.4775,-0.655673 4.37181,-0.655673 1.02008,-0.072926 0.291484,-2.47728 1.96724,-2.55021 0.655893,0 1.02008,0.874451 1.67598,0.874451 3.64299,0 3.13295,-2.18602 5.97464,-2.18602 1.96724,0 2.33165,0.801525 3.13317,1.67598 0.801304,0.801304 4.37159,0.364189 4.88163,0.582747 1.02008,1.38449 -1.02008,2.33165 -1.89431,2.62313 -2.25872,0.801525 -5.17334,0.072926 -5.17334,3.71592 0,0.874451 1.74868,2.98732 1.74868,2.98732l0 0 0 0z", :style => "background-color: rgb(0, 0, 0);"}
          %path#TO{:d => "M269.519 211.301c1.74868,-2.54999 0.947156,-3.2788 3.2788,-4.80893 0.582747,1.53012 0.291484,5.17334 0.291484,5.53775 0,0.510041 7.21328,3.86155 8.81633,3.86155 1.38427,0 1.38427,-2.55021 2.84147,-2.55021 0.510041,0 4.6633,0.947377 5.02771,1.23864 0.728599,0.510041 1.01986,3.57029 2.25872,3.57029 1.16571,0 1.53012,-1.02008 1.96724,-1.23864l0 0 1.31157 0 0 0c0,2.91462 2.33143,3.71592 4.80893,3.71592 0.218558,-1.67576 1.38427,-1.82139 2.03994,-2.98732 0.947377,0.36441 1.38449,0.655893 1.82161,1.53012 2.11309,-2.1858 4.59037,0.36441 6.55761,-1.53012 1.16593,0.874451 4.0074,0.582967 5.75631,0.801525 -0.145852,-4.59037 3.57007,-4.95456 2.03994,-6.33905 -0.801304,-0.437115 -0.728599,-0.87423 -0.728599,-2.04016 0,-0.655673 1.23864,-0.655673 1.23864,-1.23864 0,-1.02008 -1.53012,-1.31157 -1.53012,-2.33165 0,-1.09279 1.02008,-0.947156 1.02008,-2.25872 0,-1.31135 -2.25872,-0.291263 -2.03994,-4.29889 0.0727057,-1.96724 1.67576,-0.87423 2.33143,-2.9144 1.09301,-1.38449 -1.53012,-1.16571 -1.31157,-2.04016 -0.0727057,-0.655673 2.33165,-0.36441 1.82161,-1.4572 -0.582747,-2.69606 -4.736,-0.582967 -4.736,-3.71614 0,-2.40435 1.31157,-3.13295 2.55021,-4.15304 1.16571,-0.947156 0.655673,-1.53012 0.728599,-2.04016 0.291484,-1.16571 4.59037,-2.62313 5.97464,-5.17334 -0.510041,0.072926 -1.02008,0.145852 -1.82139,0 -0.437336,0 -0.728819,-0.437115 -1.16593,-0.801304 -0.437115,-0.437336 -1.09279,-0.874451 -2.1858,-0.874451 -3.20588,0 -2.69584,-3.49736 -4.29889,-4.44452 -0.728599,-0.36441 0.072926,-2.33165 0.510041,-2.76876 1.02008,-1.74868 -3.06025,-1.09301 -3.20588,-4.0074 -0.072926,-3.06025 -1.89453,-1.53012 -1.89453,-2.55021 0,-1.74868 1.38449,-1.67598 1.67576,-3.13317 0.145852,-0.874451 0.072926,-2.62313 0.874451,-3.42444 1.4572,-1.45742 3.93448,1.74868 3.93448,-4.08033 0,-1.23864 -0.655673,-2.04016 -2.1858,-2.04016 -1.67576,0 -3.93448,1.02008 -4.51744,0.510041 -0.510041,-0.36441 -2.33165,-2.33165 -2.76876,-4.0074 -0.437115,-1.53012 -1.96724,-1.45742 -2.1858,-1.53012 -2.11309,-1.38449 1.5299,-1.16593 -0.947377,-2.33165 -0.218558,0 -2.04016,-0.36441 -1.31157,-1.23864 0.510041,-1.67598 2.25894,-0.801525 2.4775,-2.55021 0.728599,-4.51744 0.947156,-7.14058 0.947156,-11.4395 0,-3.78885 -2.25872,-6.1932 -2.76876,-6.26613 -3.06025,-0.218558 -1.02008,-2.76876 -5.24604,-2.33165 -1.45742,0.072926 -2.69606,-0.801525 -4.15326,-1.31157 -0.947156,0.728819 -2.04016,1.31157 -2.04016,2.25872 0,0.947377 1.74868,0.874451 2.69584,1.02008 1.23886,0 1.7489,1.16593 2.76898,2.18602 0.728599,0.728599 -1.23886,1.02008 -1.31157,3.57029 -0.072926,3.2788 -1.96724,3.06025 -1.82161,3.71592 -0.291484,2.55021 -2.04016,1.82161 -2.40457,3.42444 -0.364189,1.31157 0.072926,1.82161 -1.67576,2.18602 -1.4572,0.291484 -5.4646,0.947156 -4.80893,3.49736 0.728599,3.06025 -1.74868,4.51744 -1.74868,6.26613 0,2.40457 3.2788,0.947156 1.60305,5.24604 -1.09301,2.98754 -3.13317,8.6707 -5.68338,9.54515 -5.39168,4.0074 -6.33905,10.6377 -6.33905,10.6377 -1.53012,2.91462 -2.76876,5.02771 -2.9144,6.55761 -0.145852,1.89453 -1.4572,1.09301 -1.89453,7.57791 -0.145632,2.62291 -1.96724,3.64299 -0.728599,7.72332 0.510041,1.74868 -0.582747,4.15304 0.072926,5.4646 1.16571,2.25872 0.728599,3.2061 0.437115,4.88185 -0.364189,2.40435 1.96724,2.84169 1.16593,4.29889 -0.582967,0.947156 -0.510041,2.69584 -1.02008,4.22596l0 0 1.74868 -0.801525 0 0z"}
      .col-md-6#representative
        %p=@conf.title_service_text
        %ul
          -@assistances.each do |assistance|
          
            %li{:style => "display: none;", :class => assistance.state}
              %strong=assistance.name
              -if !assistance.phone.blank?
                %br/
                ="#{@conf.title_phone}: "
                =assistance.phone
              -if !assistance.address.blank?
                %br/
                ="#{@conf.title_address}: "
                =assistance.address
              -if !assistance.district.blank?
                %br/
                ="#{@conf.title_neighborhood}: "
                =assistance.district
              -if !assistance.city.blank?
                %br/
                ="#{@conf.title_city}: "
                ="#{assistance.city}/#{assistance.state}"
              -if !assistance.zip_code.blank?
                %br/
                ="CEP: #{assistance.zip_code}"
              -if !assistance.email.blank?
                %br/
                ="#{@conf.title_email}:"
                =link_to(assistance.email, "mailto:#{assistance.email}")
              -if !assistance.site.blank?
                %br/
                ="#{@conf.title_site}: "
                =link_to(assistance.site, assistance.site, :target => "_blank")
              -if !assistance.observation.blank?
                %br/
                =assistance.observation
              %br/
              %br/
    
    %footer#portal
      =render file: "layouts/_footer_data.html.haml"
    .container
      .row
        .col-md-12.text-center
          =link_to(image_tag("logo-lemon-pepper.jpg"),"http://www.lemonp.com.br", target: "_blank")

  =javascript_include_tag 'application'
  =javascript_include_tag 'assistance'
  = render 'analytics/code'
