!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title
      = content_for?(:title) ? t("site_name") + " - " + yield(:title) : t("site_name")
    %meta{'name' => 'viewport', :content => 'width=device-width, initial-scale=1'}
    = render 'application/favicon'
    = csrf_meta_tag
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag "application"
  %body
    .container-fluid#highlight
      .row
        .container
          .row
            .col-md-3
              #logo
                =link_to(image_tag("logo.png"),root_path)
            .col-md-9.text-right
              %nav#language-nav
                %ul.list-unstyled.list-inline
                  = language_links
              %nav#main-nav
                %ul.list-unstyled.list-inline.text-right
                  %li
                    =link_to(@conf.title_institutional, about_path())
                  %li
                    =link_to(@conf.title_assistance, assistance_path())
          #header
            .icons
              .row
                -@product_lines.each do |product_line|
                  .col-md-3.icon
                    =image_tag(product_line.product_line_image.url)
                    =image_tag("xplast-icons.png")
                    %br
                    %p.subtitle
                      =product_line.title
                    %p.text-justify
                      =product_line.short_description
                    =link_to(@conf.title_enter, eval("#{product_line.slug}_root_path()"),class: "btn btn-default", role: "button")
                .col-md-3.icon
                  =image_tag(@about.image_icon)
                  =image_tag("xplast-icons.png")
                  %br
                  %p.subtitle
                    =@conf.title_institutional
                  %p.text-justify
                  =link_to(@conf.title_enter, about_path(), class: "btn btn-default", role: "button")
    .container-fluid#company-social
      .row
        .container
          %section#social
            .row
              -if !@conf.link_facebook.blank?
                .col-md-4
                  #facebook.text-center
                    %a{:href => @conf.link_facebook, target: "_blank"}
                      =image_tag("fb-icon-big.png")
                      %p
                        facebook
              -if !@conf.link_instagram.blank?
                .col-md-4
                  #instagram.text-center
                    %a{:href => @conf.link_instagram, target: "_blank"}
                      =image_tag("insta-icon-big.png")
                      %p
                        instagram
              -if !@conf.link_linkedin.blank?
                .col-md-4
                  #linkedin.text-center
                    %a{:href => @conf.link_linkedin, target: "_blank"}
                      =image_tag("in-icon-big.png")
                      %p
                        linkedin
    .container-fluid#bring-your-production
      .row
        .col-md-12.text-center.text-uppercase
          %h1
            =@conf.title_production_xplast
          %p.text-lowercase=@conf.title_contact_us
          =link_to(@conf.sac_mail,"mailto:#{@conf.sac_mail}", class: "text-lowercase")
    -if !@notices.blank?
      .container#news-and-events
        -if @events.blank?
          %section#news
            .col-md-12
              %h2=link_to(@conf.title_news, news_index_path)
            -@notices.each do |notice|
              .col-md-6
                .news-box
                  %p.news-title.text-uppercase=notice.title
                  %span=l(notice.created_at, :format => :date_show)
                  %p=truncate(strip_tags(notice.description.html_safe), :length => 200, :separator => ' ')
                  %div.text-right
                    =link_to(@conf.title_know_more, news_path(notice))
        -else
          %section#news
            .col-md-6
              %h2=link_to(@conf.title_news, news_index_path)
              -notices = @notices.in_groups_of(2, false)
              -notices[0].each do |notice|
                .news-box
                  %p.news-title.text-uppercase=notice.title
                  %span=l(notice.created_at, :format => :date_show)
                  %p=truncate(strip_tags(notice.description.html_safe), :length => 200, :separator => ' ')
                  %div.text-right
                    =link_to(@conf.title_know_more, news_path(notice))
          %section#events
            .col-md-6
              %h2=@conf.title_events
              #carousel-box
                #carousel-events.carousel.slide{:"data-ride" => "carousel"}
                  -# Caso queira usar os indicadores do carousel
                    %ol.carousel-indicators
                      -i = 0
                      -@events.each do |event|
                        - if i == 0
                          - show_class = "active"
                        -else
                          - show_class = ""
                        %li{:"data-target" => "#carousel-events", :"data-slide-to" => "#{i}",:class => "#{show_class}"}
                        - i = i +1
                  -# Wraper para os Slides
                  .carousel-inner{:role => "listbox"}
                    -i = 0
                    -@events.each do |event|
                      - if i == 0
                        - show_class = "active"
                      -else
                        - show_class = ""
                      .item{class: "#{show_class}"}
                        =link_to(image_tag(event.notice_image.url("home")), news_path(event))
                        .carousel-caption
                      - i = i +1
                    -# Controles do Carousel
                    %a.left.carousel-control{:href => "#carousel-events", :role => "button", :"data-slide" => "prev"}
                      %span.glyphicon.glyphicon-chevron-left{:"aria-hiden" => "true"}
                      %span.sr-only Anterior
                    %a.right.carousel-control{:href => "#carousel-events", :role => "button", :"data-slide" => "next"}
                      %span.glyphicon.glyphicon-chevron-right{:"aria-hiden" => "true"}
                      %span.sr-only Proximo
    -if !@erro_loading
      .container-fluid#market
        .row
          .container
            .row.market-box
              .col-md-12
                .row
                  .col-md-4
                    .row
                      %h3.text-uppercase
                        =@conf.title_currency_exchange
                  .col-md-2

                  .col-md-3.show_finance
                    .row
                      %p
                        =raw(@value1)
                  .col-md-3.show_finance
                    .row
                      %p
                        =raw(@value2)

    %footer#portal
      =render "layouts/footer_data"
    .container
      .row
        .col-md-12.text-center
          =link_to(image_tag("logo-lemon-pepper.jpg"),"http://www.lemonp.com.br", target: "_blank")

  =javascript_include_tag 'application'
  = render 'analytics/code'
