.col-lg-3
  .ud-product-box.text-center
    -if @product.image_prod.file?
      = image_tag(@product.image_prod.url("ud_home"), class: "")
    %p="#{@product.reference} - #{@product.title}"
    =link_to(@conf.title_more, domestic_utilities_product_path(@product))
