= form_for [:admin, @notice, @notice_image], :html => { :multipart => true } do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      = f.error_messages

  .box-body 
    -if @notice_image.id.blank?
      .form-group
        %label Imagens
        %input{:multiple => "multiple", :name => "notice_image[attachments_array][]", :type => "file"}/    
    -else
      #tabs.nav-tabs-custom
        %ul.nav.nav-tabs
          - NoticeImage.globalize_locales.sort!{|x,y| y <=> x }.each do |show|
            - if NoticeImage.globalize_locales.first == show
              - class_locales = "active "
            - else
              - class_locales = ""
            %li{class: class_locales}
              =link_to(translate_option(show), "##{show}", "data-toggle": "tab")
        .tab-content
          - NoticeImage.globalize_locales.sort!{|x,y| y <=> x }.each do |show|
            - if NoticeImage.globalize_locales.first == show
              - class_locales = "active "
            - else
              - class_locales = ""
            - class_locales = "#{class_locales}tab-pane"
            %div{id: show, class: class_locales}
              - NoticeImage.globalize_attribute_names.each do |lang|       
                - if lang[-2, 2] == "#{show[-2,2].downcase}"
                  -if !(lang[0, 4] == "slug")
                    .form-group
                      = f.label lang
                      -if lang[0, 4] == "desc"
                        = f.text_area lang, rows: "3", :class => "form-control tinymce"
                      -else
                        = f.text_field lang, :class => "form-control"
      .form-group
        = f.label :image_notice
        = f.file_field :image_notice, :class => "form-control"
      - if @notice_image.image_notice.file?
        .form-group
          =image_tag(@notice_image.image_notice.url("internal"))
      .form-group 
        = f.label :published
        = f.check_box :published
  .box-footer
    =f.submit nil, class: "btn btn-primary"