-if notice_image.published
  -show_class = ""
-else
  -show_class = "line_unpublished"
%tr{:class => "table-line #{show_class}",:"data-id" => "#{notice_image.id}"}
  %td
    -if notice_image.image_notice.file?
      = image_tag(notice_image.image_notice.url("thumb"))
  %td= notice_image.title
  %td.class_published= show_boolean(notice_image.published)
  %td  
    = link_to t("show"), [:admin, @notice, notice_image], class: "btn btn-default"
    = link_to t("edit"), edit_admin_notice_notice_image_path(@notice, notice_image), class: "btn btn-default"
    = link_to t("destroy"),[:admin, @notice, notice_image],  method: :delete , data:{confirm: t("msg_delete")}, class: "btn btn-danger"
    %span.btn-change-published
      -if notice_image.published
        = link_to t("unpublished"), unpublished_admin_notice_notice_image_path(@notice, notice_image), class: "btn btn-warning", remote: true
      -else
        = link_to t("published"), published_admin_notice_notice_image_path(@notice, notice_image), class: "btn btn-success", remote: true