-content_for :globalvar do
  %script
    var url_put= "#{sort_admin_notice_notice_images_path(@notice)}";
%section.content-header
  %h1
    =NoticeImage.model_name.human()
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=NoticeImage.model_name.human()  
/ Main content
%section.content
  .row
    .col-xs-12
      %p= link_to "Nova #{NoticeImage.model_name.human()} ", new_admin_notice_notice_image_path(@notice), class: "btn btn-primary"
      .box
        .box-header
          %h3.box-title="#{NoticeImage.model_name.human(count: 2)}  - #{@notice.title}"
        .box-body.table-responsive.no-padding
          %table.table.table-hover
            %thead
              %tr
                %th=t("activerecord.attributes.notice_image.notice_images")
                %th=t("activerecord.attributes.notice_image.title")
                %th=t("activerecord.attributes.notice_image.published")
                %th=t("actions")
            %tbody.sortable
              - for notice_image in @notice_images
                =render notice_image
      %p= link_to "Nova #{NoticeImage.model_name.human()} ", new_admin_notice_notice_image_path(@notice), class: "btn btn-primary"
