$("tr[data-id='#{@notice_image.id}']").removeClass('line_unpublished');
$("tr[data-id='#{@notice_image.id}'] td.class_published").html("#{show_boolean(@notice_image.published)}");
$("tr[data-id='#{@notice_image.id}'] .btn-change-published").html('#{link_to t("unpublished"), unpublished_admin_notice_notice_image_path(@notice, @notice_image), class: "btn btn-warning", remote: true}');