%section.content-header
  %h1
    =NoticeImage.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=NoticeImage.model_name.human() 


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title=NoticeImage.model_name.human() 
        .box-body  
          %p
            %b="#{t("activerecord.attributes.notice_image.title")}:"
            %br
            = @notice_image.title
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.notice_image.published")}:"
            %br
            = show_boolean(@notice_image.published)
        - if @notice_image.image_notice.file?
          .box-body  
            %p
              %b="#{t("activerecord.attributes.notice_image.image_notice")}:"
              %br
              =image_tag(@notice_image.image_notice.url("big"))
        
  = link_to t("back_list"), admin_notice_notice_images_path(@notice), :class => "btn btn-default"
  = link_to t("edit"), edit_admin_notice_notice_image_path(@notice,@notice_image), class: "btn btn-default"
  = link_to "Novo #{NoticeImage.model_name.human()} ", new_admin_notice_notice_image_path(@notice), class: "btn btn-primary"


