$("tr[data-id='#{@notice_image.id}']").addClass('line_unpublished');
$("tr[data-id='#{@notice_image.id}'] td.class_published").html("#{show_boolean(@notice_image.published)}");
$("tr[data-id='#{@notice_image.id}'] .btn-change-published").html('#{link_to t("published"), published_admin_notice_notice_image_path(@notice, @notice_image), class: "btn btn-success btn-change-published", remote: true}');

