
= form_for [:admin, @about] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      = f.error_messages

  .box-body 
    #tabs.nav-tabs-custom
      %ul.nav.nav-tabs
        - About.globalize_locales.sort!{|x,y| y <=> x }.each do |show|
          - if About.globalize_locales.first == show
            - class_locales = "active "
          - else
            - class_locales = ""
          %li{class: class_locales}
            =link_to(translate_option(show), "##{show}", "data-toggle": "tab")
      .tab-content
        - About.globalize_locales.sort!{|x,y| y <=> x }.each do |show|
          - if About.globalize_locales.first == show
            - class_locales = "active "
          - else
            - class_locales = ""
          - class_locales = "#{class_locales}tab-pane"
          %div{id: show, class: class_locales}
            - About.globalize_attribute_names.each do |lang|       
              - if lang[-2, 2] == "#{show[-2,2].downcase}"
                .form-group 
                  = f.label lang
                  -if lang[0, 4] == "desc"
                    = f.text_area lang, rows: "3", :class => "form-control tinymce"
                  -else
                    = f.text_field lang, :class => "form-control"
                    
    .form-group
      = f.label :movie_link
      = f.text_field :movie_link, :class => "form-control"        
    .form-group
      = f.label :number_injectors
      = f.text_field :number_injectors, :class => "form-control"            
    .form-group
      = f.label :image_small
      = f.file_field :image_small, :class => "form-control"
    - if @about.image_small.file?
      .form-group
        =image_tag(@about.image_small.url)
    .form-group
      = f.label :image_large
      = f.file_field :image_large, :class => "form-control"
    - if @about.image_large.file?
      .form-group
        =image_tag(@about.image_large.url)
    .form-group
      = f.label :image_icon
      = f.file_field :image_icon, :class => "form-control"
    - if @about.image_icon.file?
      .form-group
        =image_tag(@about.image_icon.url)        
    .form-group
      = f.label :image_injectors
      = f.file_field :image_injectors, :class => "form-control"
    - if @about.image_injectors.file?
      .form-group.bkgd-dark
        =image_tag(@about.image_injectors.url)
    .form-group
      = f.label :image_tooling
      = f.file_field :image_tooling, :class => "form-control"
    - if @about.image_tooling.file?
      .form-group.bkgd-dark
        =image_tag(@about.image_tooling.url)
    .form-group
      = f.label :image_metallization
      = f.file_field :image_metallization, :class => "form-control"
    - if @about.image_metallization.file?
      .form-group.bkgd-dark
        =image_tag(@about.image_metallization.url)

  .box-footer
    =f.submit nil, class: "btn btn-primary"