%section.content-header
  %h1
    =About.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=About.model_name.human()  
/ Main content
%section.content
  .col-xs-12
    %p= link_to "Novo #{About.model_name.human()} ", new_admin_about_path, class: "btn btn-primary"
    .box
      .box-header
        %h3.box-title="#{About.model_name.human(count: 2)} Cadastrados"
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %tr
            %th=t("activerecord.attributes.about.title_about")
            %th=t("activerecord.attributes.about.description_about")
            %th=t("activerecord.attributes.about.title_newsletter")
            %th=t("activerecord.attributes.about.description_newsletter")
            %th=t("activerecord.attributes.about.movie_link")
            %th=t("activerecord.attributes.about.title_movie")
            %th=t("activerecord.attributes.about.description_movie")
            %th=t("activerecord.attributes.about.published")
            %th=t("actions")
          - for about in @abouts
            %tr
              %td= about.title_about
              %td= about.description_about
              %td= about.title_newsletter
              %td= about.description_newsletter
              %td= about.movie_link
              %td= about.title_movie
              %td= about.description_movie
              %td= show_boolean(about.published)
              %td  
                = link_to t("show"), [:admin, about], class: "btn btn-default"
                = link_to t("edit"), edit_admin_about_path(about), class: "btn btn-default"
                = link_to t("destroy"),[:admin, about],  method: :delete , data:{confirm: t("msg_delete")}, class: "btn btn-default"
    %p= link_to "Novo #{About.model_name.human()} ", new_admin_about_path, class: "btn btn-primary"
