%section.content-header
  %h1
    =About.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=About.model_name.human() 


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title=About.model_name.human() 
        .box-body  
          %p
            %b="#{t("activerecord.attributes.about.title_about")}:"
            %br
            = @about.title_about
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.about.description_about")}:"
            %br
            = @about.description_about
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.about.title_newsletter")}:"
            %br
            = @about.title_newsletter
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.about.description_newsletter")}:"
            %br
            = @about.description_newsletter
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.about.movie_link")}:"
            %br
            = @about.movie_link
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.about.title_movie")}:"
            %br
            = @about.title_movie
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.about.description_movie")}:"
            %br
            = @about.description_movie
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.about.published")}:"
            %br
            = show_boolean(@about.published)
        
  = link_to t("back_list"), admin_abouts_path, :class => "btn btn-default"
  = link_to t("edit"), edit_admin_about_path(@about), class: "btn btn-default"
  = link_to "Novo #{About.model_name.human()} ", new_admin_about_path, class: "btn btn-primary"


