= form_for [:admin, @configuration] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      = f.error_messages
  .box-body 
    #tabs.nav-tabs-custom
      %ul.nav.nav-tabs
        - ::Configuration.globalize_locales.sort!{|x,y| y <=> x }.each do |show|
          - if ::Configuration.globalize_locales.first == show
            - class_locales = "active "
          - else
            - class_locales = ""
          %li{class: class_locales}
            =link_to(translate_option(show), "##{show}", "data-toggle": "tab")
      .tab-content
        - ::Configuration.globalize_locales.sort!{|x,y| y <=> x }.each do |show|
          - if ::Configuration.globalize_locales.first == show
            - class_locales = "active "
          - else
            - class_locales = ""
          - class_locales = "#{class_locales}tab-pane"
          %div{id: show, class: class_locales}
            - ::Configuration.globalize_attribute_names.each do |lang|       
              - if lang[-2, 2] == "#{show[-2,2].downcase}"
                .form-group 
                  = f.label lang
                  -if lang[0, 4] == "desc"
                    = f.text_area lang, rows: "3", :class => "form-control tinymce"
                  -else
                    = f.text_field lang, :class => "form-control"      
    .form-group 
      = f.label :sac_mail
      = f.text_field :sac_mail, class: "form-control"
    .form-group 
      = f.label :link_facebook
      = f.text_field :link_facebook, class: "form-control"
    .form-group 
      = f.label :link_instagram
      = f.text_field :link_instagram, class: "form-control"
    .form-group 
      = f.label :link_linkedin
      = f.text_field :link_linkedin, class: "form-control"
    .form-group
      = f.label :catalog_furniture
      = f.file_field :catalog_furniture, :class => "form-control"
    - if @configuration.catalog_furniture.file?
      .form-group
        =link_to("Catalogo Atual de Moveis", @configuration.catalog_furniture.url, :target => "_blank")
    .form-group
      = f.label :catalog_toys
      = f.file_field :catalog_toys, :class => "form-control"
    - if @configuration.catalog_toys.file?
      .form-group
        =link_to("Catalogo Atual de Brinquedos", @configuration.catalog_toys.url, :target => "_blank")            
    .form-group
      = f.label :catalog_domestic_utility
      = f.file_field :catalog_domestic_utility, :class => "form-control"
    - if @configuration.catalog_domestic_utility.file?
      .form-group
        =link_to("Catalogo Atual de Utilidade Domestica", @configuration.catalog_domestic_utility.url, :target => "_blank")
  .box-footer
    =f.submit nil, class: "btn btn-primary"