%section.content-header
  %h1
    =Configuration.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=Configuration.model_name.human()  
/ Main content
%section.content
  .col-xs-12
    %p= link_to "Novo #{Configuration.model_name.human()} ", new_admin_configuration_path, class: "btn btn-primary"
    .box
      .box-header
        %h3.box-title="#{Configuration.model_name.human(count: 2)} Cadastrados"
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %tr
            %th=t("activerecord.attributes.configuration.title_telesales")
            %th=t("activerecord.attributes.configuration.title_contact")
            %th=t("activerecord.attributes.configuration.title_institutional")
            %th=t("activerecord.attributes.configuration.title_virtual_catalog")
            %th=t("activerecord.attributes.configuration.title_download_virtual_catalog")
            %th=t("activerecord.attributes.configuration.text_download_virtual_catalog")
            %th=t("activerecord.attributes.configuration.title_download")
            %th=t("activerecord.attributes.configuration.title_search")
            %th=t("activerecord.attributes.configuration.title_more")
            %th=t("activerecord.attributes.configuration.title_product_data")
            %th=t("activerecord.attributes.configuration.title_length")
            %th=t("activerecord.attributes.configuration.title_width")
            %th=t("activerecord.attributes.configuration.title_height")
            %th=t("activerecord.attributes.configuration.title_weight")
            %th=t("activerecord.attributes.configuration.title_colors")
            %th=t("activerecord.attributes.configuration.title_description")
            %th=t("activerecord.attributes.configuration.title_product_specifications")
            %th=t("activerecord.attributes.configuration.title_quantity")
            %th=t("activerecord.attributes.configuration.title_colors")
            %th=t("activerecord.attributes.configuration.title_see_the_product")
            %th=t("activerecord.attributes.configuration.title_production_xplast")
            %th=t("activerecord.attributes.configuration.title_contact_us")
            %th=t("activerecord.attributes.configuration.published")
            %th=t("actions")
          - for configuration in @configurations
            %tr
              %td= configuration.title_telesales
              %td= configuration.title_contact
              %td= configuration.title_institutional
              %td= configuration.title_virtual_catalog
              %td= configuration.title_download_virtual_catalog
              %td= configuration.text_download_virtual_catalog
              %td= configuration.title_download
              %td= configuration.title_search
              %td= configuration.title_more
              %td= configuration.title_product_data
              %td= configuration.title_length
              %td= configuration.title_width
              %td= configuration.title_height
              %td= configuration.title_weight
              %td= configuration.title_colors
              %td= configuration.title_description
              %td= configuration.title_product_specifications
              %td= configuration.title_quantity
              %td= configuration.title_colors
              %td= configuration.title_see_the_product
              %td= configuration.title_production_xplast
              %td= configuration.title_contact_us
              %td= show_boolean(configuration.published)
              %td  
                = link_to t("show"), [:admin, configuration], class: "btn btn-default"
                = link_to t("edit"), edit_admin_configuration_path(configuration), class: "btn btn-default"
                = link_to t("destroy"),[:admin, configuration],  method: :delete , data:{confirm: t("msg_delete")}, class: "btn btn-default"
    %p= link_to "Novo #{Configuration.model_name.human()} ", new_admin_configuration_path, class: "btn btn-primary"
