%section.content-header
  %h1
    =Configuration.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=Configuration.model_name.human() 


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title=Configuration.model_name.human() 
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration.title_telesales")}:"
            %br
            = @configuration.title_telesales
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration.title_contact")}:"
            %br
            = @configuration.title_contact
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration.title_institutional")}:"
            %br
            = @configuration.title_institutional
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration.title_virtual_catalog")}:"
            %br
            = @configuration.title_virtual_catalog
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration.title_download_virtual_catalog")}:"
            %br
            = @configuration.title_download_virtual_catalog
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration.text_download_virtual_catalog")}:"
            %br
            = @configuration.text_download_virtual_catalog
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration.title_download")}:"
            %br
            = @configuration.title_download
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration.title_search")}:"
            %br
            = @configuration.title_search
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration.title_more")}:"
            %br
            = @configuration.title_more
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration.title_product_data")}:"
            %br
            = @configuration.title_product_data
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration.title_length")}:"
            %br
            = @configuration.title_length
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration.title_width")}:"
            %br
            = @configuration.title_width
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration.title_height")}:"
            %br
            = @configuration.title_height
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration.title_weight")}:"
            %br
            = @configuration.title_weight
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration.title_colors")}:"
            %br
            = @configuration.title_colors
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration.title_description")}:"
            %br
            = @configuration.title_description
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration.title_product_specifications")}:"
            %br
            = @configuration.title_product_specifications
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration.title_quantity")}:"
            %br
            = @configuration.title_quantity
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration.title_colors")}:"
            %br
            = @configuration.title_colors
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration.title_see_the_product")}:"
            %br
            = @configuration.title_see_the_product
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration.title_production_xplast")}:"
            %br
            = @configuration.title_production_xplast
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration.title_contact_us")}:"
            %br
            = @configuration.title_contact_us
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration.published")}:"
            %br
            = show_boolean(@configuration.published)
        
  = link_to t("back_list"), admin_configurations_path, :class => "btn btn-default"
  = link_to t("edit"), edit_admin_configuration_path(@configuration), class: "btn btn-default"
  = link_to "Novo #{Configuration.model_name.human()} ", new_admin_configuration_path, class: "btn btn-primary"


