%section#ud-products-list
  .container-fluid
    .row
      .container
        .row
          - i = 0
          -@products.each do |product|
            -if i == 0
              .row 
              =render file: "domestic_utilities/_product.html.haml", product: @product = product
            -else
              =render file: "domestic_utilities/_product.html.haml", product: @product = product
            -if i == 3
              -i = 0
            -else
              -i = i + 1