-content_for :footer do
  = tinymce_assets
  = tinymce
= form_for [:admin, @product_line, @product] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      = f.error_messages

  .box-body        
    .form-group 
      = f.label :product_category_id
      =f.select :product_category_id, @product_categories,{}, {:class => "form-control"}
    -if @product_line.id == 2
      .form-group
        =f.label :product_label_id
        =f.select :product_label_id, @product_labels,{}, {:class => "form-control"}
    #tabs.nav-tabs-custom
      %ul.nav.nav-tabs
        - Product.globalize_locales.sort!{|x,y| y <=> x }.each do |show|
          - if Product.globalize_locales.first == show
            - class_locales = "active "
          - else
            - class_locales = ""
          %li{class: class_locales}
            =link_to(translate_option(show), "##{show}", "data-toggle": "tab")
      .tab-content
        - Product.globalize_locales.sort!{|x,y| y <=> x }.each do |show|
          - if Product.globalize_locales.first == show
            - class_locales = "active "
          - else
            - class_locales = ""
          - class_locales = "#{class_locales}tab-pane"
          %div{id: show, class: class_locales}
            - Product.globalize_attribute_names.each do |lang|       
              - if lang[-2, 2] == "#{show[-2,2].downcase}"
                -if !(lang[0, 4] == "slug")
                  .form-group
                    = f.label lang
                    -if lang[0, 4] == "desc"
                      = f.text_area lang, rows: "3", :class => "form-control tinymce"
                    -else
                      = f.text_field lang, :class => "form-control"
    /.form-group 
    /  = f.label :title
    /  = f.text_field :title, class: "form-control"
    /.form-group 
    /  = f.label :description
    /  = f.text_field :description, class: "form-control"
    .form-group 
      = f.label :reference
      = f.text_field :reference, class: "form-control"
    .form-group 
      = f.label :ean
      = f.text_field :ean, class: "form-control"
    .form-group 
      = f.label :product_minimum_age
      = f.text_field :product_minimum_age, class: "form-control"
    .form-group 
      = f.label :product_length
      = f.text_field :product_length, class: "form-control"
    .form-group 
      = f.label :product_width
      = f.text_field :product_width, class: "form-control"
    .form-group 
      = f.label :product_height
      = f.text_field :product_height, class: "form-control"
    .form-group 
      = f.label :product_weight
      = f.text_field :product_weight, class: "form-control"
    .form-group 
      = f.label :product_parts
      = f.text_field :product_parts, class: "form-control"
    .form-group 
      = f.label :product_packed_length
      = f.text_field :product_packed_length, class: "form-control"
    .form-group 
      = f.label :product_packed_width
      = f.text_field :product_packed_width, class: "form-control"
    .form-group 
      = f.label :product_packed_height
      = f.text_field :product_packed_height, class: "form-control"
    .form-group 
      = f.label :product_packed_weight
      = f.text_field :product_packed_weight, class: "form-control"
    .form-group 
      = f.label :product_packed_quantity
      = f.text_field :product_packed_quantity, class: "form-control"

    -if @product_line.id != 2
      .form-group
        = f.label :image_prod
        = f.file_field :image_prod, :class => "form-control"
      - if @product.image_prod.file?
        .form-group
          =image_tag(@product.image_prod.url("internal"))
    .form-group
      = f.label :product_download
      = f.file_field :product_download, :class => "form-control"
    - if @product.product_download.file?
      .form-group.bkgd-dark
        =image_tag(@product.product_download.url)
    .form-group 
      = f.label :movie_link
      = f.text_field :movie_link, class: "form-control"   
    -if @product_line.id != 2
      .form-group 
        = f.label :featured
        = f.check_box :featured
    .form-group 
      = f.label :new
      = f.check_box :new
    .form-group 
      = f.label :published
      = f.check_box :published
  .box-footer
    =f.submit nil, class: "btn btn-primary"