%section.content-header
  %h1
    ="#{Product.model_name.human()}  de #{@product_line.title}"   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=Product.model_name.human()  
/ Main content
%section.content.clearfix
  .col-xs-12
    %p= link_to "Novo #{Product.model_name.human()} ", new_admin_product_line_product_path(@product_line), class: "btn btn-primary"
    .box
      .box-header
        %h3.box-title="#{Product.model_name.human(count: 2)} Cadastrados"
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %tr
            %th
            %th=t("activerecord.attributes.product.product_category_id")
            %th=t("activerecord.attributes.product.reference")
            %th=t("activerecord.attributes.product.title")
            %th=t("activerecord.attributes.product.new")
            -if @product_line.id != 2
              %th=t("activerecord.attributes.product.featured")
            %th=t("activerecord.attributes.product.published")
            %th=t("actions")
          - for product in @products
            %tr
              %td
                -if @product_line.id == 2
                  -if product.product_images.all_active.exists?
                    = image_tag(product.product_images.all_published(("priority ASC, id")).first.product_image_file.url("thumb"))
              %td= product.product_category.title if !product.product_category_id.blank?
              %td= product.reference
              %td= product.title
              %td= show_boolean(product.new)
              -if @product_line.id != 2
                %td= show_boolean(product.featured)
              %td= show_boolean(product.published)
              %td  
                = link_to t("show"), [:admin, @product_line, product], class: "btn btn-default"
                = link_to t("edit"), edit_admin_product_line_product_path(@product_line,product), class: "btn btn-default"
                = link_to t("destroy"),[:admin, @product_line, product],  method: :delete , data:{confirm: t("msg_delete")}, class: "btn btn-default"
                = link_to "+ #{ProductImage.model_name.human()}",admin_product_line_product_product_images_path(@product_line, product), class: "btn btn-success"
    %p= link_to "Novo #{Product.model_name.human()} ", new_admin_product_line_product_path(@product_line), class: "btn btn-primary"
