%section.content-header
  %h1
    =Product.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=Product.model_name.human() 


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title=Product.model_name.human() 
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.product_category_id")}:"
            %br
            = @product.product_category.title
        -if @product_line.id == 2
          .box-body  
            %p
              %b="#{t("activerecord.attributes.product.product_label_id")}:"
              %br
              = @product.product_label.title
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.reference")}:"
            %br
            = @product.reference
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.title")}:"
            %br
            = @product.title
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.description")}:"
            %br
            =raw(@product.description)
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.ean")}:"
            %br
            = @product.ean
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.product_length")}:"
            %br
            = @product.product_length
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.product_width")}:"
            %br
            = @product.product_width
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.product_height")}:"
            %br
            = @product.product_height
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.product_weight")}:"
            %br
            = @product.product_weight
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.product_parts")}:"
            %br
            = @product.product_parts
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.product_colors")}:"
            %br
            = @product.product_colors
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.product_minimum_age")}:"
            %br
            = @product.product_minimum_age
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.product_packed_length")}:"
            %br
            = @product.product_packed_length
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.product_packed_width")}:"
            %br
            = @product.product_packed_width
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.product_packed_height")}:"
            %br
            = @product.product_packed_height
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.product_packed_weight")}:"
            %br
            = @product.product_packed_weight
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.product_packed_quantity")}:"
            %br
            = @product.product_packed_quantity
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.movie_link")}:"
            %br
            = @product.movie_link
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.new")}:"
            %br
            = show_boolean(@product.new)
        -if @product_line.id != 2    
          .box-body  
            %p
              %b="#{t("activerecord.attributes.product.featured")}:"
              %br
              = show_boolean(@product.featured)
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.published")}:"
            %br
            = show_boolean(@product.published)
        
  = link_to t("back_list"), admin_product_line_products_path(@product_line), :class => "btn btn-default"
  = link_to t("edit"), edit_admin_product_line_product_path(@product_line,@product), class: "btn btn-default"
  = link_to "Novo #{Product.model_name.human()} ", new_admin_product_line_product_path(@product_line), class: "btn btn-primary"


