-content_for :footer do 
  = stylesheet_link_tag "luminous-basic.min", media: "all"
  =javascript_include_tag 'Luminous.min'
  %script
    new Luminous(document.querySelector('.zoom'));

%section#ud-products-list
  .container-fluid
    .row
      .container
        %section#ud-product
          .row
            .col-md-12
              %h1
                =@product.title
              %p.product-ref
                = "ref.: #{@product.reference}"
            .col-md-6.product-image-shadow
              .product-image-box
                =link_to @product.image_prod.url("big"), class: "zoom", id: "link_big_image" do
                  =image_tag(@product.image_prod.url("internal"), class: "img-responsive", id: "show_big_image")
                  %i.fa.fa-search-plus
            .col-md-6
              -if !@product.description.blank?
                %p.furniture-product-specs-title
                  =@conf.title_description
                %p
                  =@product.description
              %p.furniture-product-specs-title
                =@conf.title_product_data
              %table.table
                %tr
                  %th
                    =@conf.title_length
                  %th
                    =@conf.title_width
                  %th
                    =@conf.title_height
                  %th
                    =@conf.title_weight
                    %span
                      (kg)
                  %th
                    ean
                %tr
                  %td
                    =@product.product_length
                  %td
                    =@product.product_width
                  %td
                    =@product.product_height
                  %td
                    =@product.product_weight
                  %td
                    =@product.ean
              -if !@product_images.blank?
                %p.furniture-product-specs-title    
                  .row
                    .col-md-3
                      =link_to(homes_load_image_path(prod: @product.id), remote: true, class: "thumbnail") do
                        =image_tag(@product.image_prod.url("internal_thumb"), class: "img-responsive")
                    -@product_images.each do |product_image|
                      .col-md-3
                        =link_to(homes_load_image_path(image_prod: product_image.id), remote: true, class: "thumbnail") do
                          =image_tag(product_image.product_image_file.url("internal_thumb"), class: "img-responsive")
              .row
                .col-md-6
                  %p.furniture-product-specs-title
                    =@conf.title_share            
                  .addthis_inline_share_toolbox
                -if @product.product_download.file?
                  .col-md-6
                    %p.furniture-product-specs-title
                      =@conf.title_download_images 
                    %p
                      =link_to(@conf.title_download,@product.product_download.url, class: "btn btn-default",target: "_blank")
