{
	"name": "lemonp_xplast",
	"icons": [
		{
			"src": "<%= asset_path 'favicon/android-chrome-192x192.png' %>",
			"sizes": "192x192",
			"type": "image\/png"
		},
		{
			"src": "<%= asset_path 'favicon/android-chrome-256x256.png' %>",
			"sizes": "256x256",
			"type": "image\/png"
		}
	],
	"theme_color": "#ffffff",
	"display": "standalone"
}
