= form_for [:admin, @product_line, @product_category] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      = f.error_messages

  .box-body        
    #tabs.nav-tabs-custom
      %ul.nav.nav-tabs
        - ProductCategory.globalize_locales.sort!{|x,y| y <=> x }.each do |show|
          - if ProductCategory.globalize_locales.first == show
            - class_locales = "active "
          - else
            - class_locales = ""
          %li{class: class_locales}
            =link_to(translate_option(show), "##{show}", "data-toggle": "tab")
      .tab-content
        - ProductCategory.globalize_locales.sort!{|x,y| y <=> x }.each do |show|
          - if ProductCategory.globalize_locales.first == show
            - class_locales = "active "
          - else
            - class_locales = ""
          - class_locales = "#{class_locales}tab-pane"
          %div{id: show, class: class_locales}
            - ProductCategory.globalize_attribute_names.each do |lang|       
              - if lang[-2, 2] == "#{show[-2,2].downcase}"
                -if !(lang[0, 4] == "slug")
                  .form-group
                    = f.label lang
                    -if lang[0, 4] == "desc"
                      = f.text_area lang, rows: "3", :class => "form-control"
                    -else
                      = f.text_field lang, :class => "form-control"
    -if @product_line.id == 1
      .form-group
        = f.label :image_category
        = f.file_field :image_category, :class => "form-control"
      - if @product_category.image_category.file?
        .form-group
          =image_tag(@product_category.image_category.url)
      .form-group 
        = f.label :featured
        = f.check_box :featured
    - if @product_line.id == 2
      .form-group 
        = f.label :class_toys
        = f.text_field :class_toys, :class => "form-control"         
      .form-group
        = f.label :icon_category
        = f.file_field :icon_category, :class => "form-control"
      - if @product_category.icon_category.file?
        .form-group
          =image_tag(@product_category.icon_category.url, style: "background-color: #999;")
    
    .form-group 
      = f.label :published
      = f.check_box :published
  .box-footer
    =f.submit nil, class: "btn btn-primary"