%section.content-header
  %h1
    ="#{ProductCategory.model_name.human()} de #{@product_line.title}"   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=ProductCategory.model_name.human()  
/ Main content
%section.content
  .col-xs-12
    %p= link_to "Novo #{ProductCategory.model_name.human()} ", new_admin_product_line_product_category_path(@product_line), class: "btn btn-primary"
    .box
      .box-header
        %h3.box-title="#{ProductCategory.model_name.human(count: 2)} Cadastrados"
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %tr
            %th=t("activerecord.attributes.product_category.product_line_id")
            %th=t("activerecord.attributes.product_category.title")
            %th=t("activerecord.attributes.product_category.published")
            %th=t("actions")
          - for product_category in @product_categories
            %tr
              %td= product_category.product_line.title
              %td= product_category.title
              %td= show_boolean(product_category.published)
              %td  
                = link_to t("show"), [:admin, @product_line, product_category], class: "btn btn-default"
                = link_to t("edit"), edit_admin_product_line_product_category_path(@product_line, product_category), class: "btn btn-default"
                = link_to t("destroy"),[:admin,@product_line, product_category],  method: :delete , data:{confirm: t("msg_delete")}, class: "btn btn-default"
    %p= link_to "Novo #{ProductCategory.model_name.human()} ", new_admin_product_line_product_category_path(@product_line), class: "btn btn-primary"
