%section.content-header
  %h1
    =ProductCategory.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=ProductCategory.model_name.human() 


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title=ProductCategory.model_name.human() 
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product_category.product_line_id")}:"
            %br
            /= @product_category.product_line_id
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product_category.title")}:"
            %br
            = @product_category.title
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product_category.published")}:"
            %br
            = show_boolean(@product_category.published)
        
  = link_to t("back_list"), admin_product_line_product_categories_path(@product_line), :class => "btn btn-default"
  = link_to t("edit"), edit_admin_product_line_product_category_path(@product_line,@product_category), class: "btn btn-default"
  = link_to "Novo #{ProductCategory.model_name.human()} ", new_admin_product_line_product_category_path(@product_line), class: "btn btn-primary"


