.nav-tabs-custom{
  border: 1px solid #d2d6de;
}
.bkgd-dark{
  background-color: #dadada;
}

.line_unpublished{
  background-color: #f7f7f7;
}
.line_unpublished img{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
