.top-35{
  margin-top: 35px;
}
.sr .show-box {
 visibility: hidden;
 }
body {
  font-family: "Myriad Pro";
  font-size: 16px;
}
.flex-direction-nav a:before {
  font-family: 'FontAwesome';
  content: '\f137';
}
.btn-default {
  color: #fff;
  background-color: #004c88;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.btn-default:hover {
  color: #fff;
  background-color: #00a650;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.btn {
  border: none;
  border-radius: 20px;
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 18px;
  padding-right: 18px;
}
#highlight {
  background: url(bg-map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
#header {
  padding-top: 180px;
  height: auto;
}
#logo {
  padding-top: 20px
}
#main-nav {
  padding-top: 10px
}
#main-nav ul li img{
  padding-bottom: 4px;
}
#main-nav ul li a{
  text-transform: uppercase;
}
#header .icons {
  height: auto;
  color: #c6c6c6;
  font-size: 1em;
  text-align: center;
  padding-bottom: 164px;
}

#header .icons .icon .subtitle {
  color: #00a650;
  font-size: 1em;
  text-transform: uppercase;
  text-align: right;
  padding-right: 58px;
}
#header .scroll-down {
  padding-top: 100px;
  padding-bottom: 14px;
}
#company-social {
  /*padding-top: 42px;
  padding-bottom: 49px;*/
  /*position: relative;
  background-size: cover;
  background-attachment: fixed;*/
  /*background-position: center;*/
  background-image: url(bg-company-social.jpg);
}
#social {

}
#facebook, #instagram, #linkedin {
  padding-top: 61px;
  padding-bottom: 61px;
}
#social a:hover {
  text-decoration: none;
}
#social p {
  font-weight: 600;
  /*text-transform: uppercase;*/
  line-height: 1;
  color: #fff;
  font-size: 1.87em;
  letter-spacing: 1.8px;
  padding-top: 50px;
  margin: 0;
}
#injetoras .injetoras-number {
  color: #fff;
  padding-top: 40px;
  font-size: 4.5em;
}
#injetoras .injetoras-white {
  color: #fff;
  font-size: 1.87em;
}
#injetoras .injetoras-green {
  color: #00a650;
  font-size: 1.87em;
}
#ferramentaria .injetoras-white {
  color: #fff;
  font-size: 1.7em;
  padding-top: 85px;
}
#ferramentaria .injetoras-green {
  color: #00a650;
  font-size: 2.5em;
}
#metalizacao .injetoras-white {
  color: #fff;
  font-size: 1.92em;
  padding-top: 85px;
}
#metalizacao .injetoras-green {
  color: #00a650;
  font-size: 1.92em;
}
/*Traga sua produção*/
#bring-your-production {
    background: url(bg-producao.jpg);
    padding-top: 32px;
    padding-bottom: 32px;
    color: #fff;
    /*background-position: center;*/
}
#bring-your-production h1 {
  font-size: 1.87em;
  font-weight: bold;
}
#bring-your-production p {
  font-size: 1.5em;
  font-weight: normal;
  padding-bottom: 6px;
}
#bring-your-production a {
  color: #fff;
  font-size: 2.25em;
  font-weight: bold;
}
/*Noticias*/
#news-and-events h2 {
  font-size: 2.25em;
  font-weight: bold;
  color: #777777;
  text-transform: uppercase;
}
#news-and-events h2 a{
  color: #777777;
  text-decoration:none;
}
#news-and-events p, span {
  color: #777777;
  font-weight: 100;
  font-size: 0.87em;
}
#news-and-events .news-title{
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 1px;
}
#news-and-events {
  padding-bottom: 30px;
}
#news .news-box {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #aeaeae;
}
#news a {
  color: #00a650;
}
/*eventos*/
#carousel-box {
  padding-top: 20px;
}
#carousel-box .carousel-caption {
  padding-bottom: 0;
}
/*market*/
#market {
  background-color: #eee;
}
#market .market-box{
  padding: 10px 0 10px;
}

#market h3 {
  font-weight: bold;
  color: #777;
  font-size: 20px;
}
.show_finance{
  color: #777;
}
  .show_finance p{
    font-size: 18px;
    margin-top: 10px;
  }
  .show_finance span{

  }
  .show_finance span.title{
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
  }

  .show_finance span.finance_down{
    margin-left: 6px;
    background-color: red;
    color: white;
    padding: 8px 5px 5px;
    font-size: 15px;
  }
  .show_finance span.finance_up{
    margin-left: 6px;
    background-color: rgb(40,216,40);
    color: white;
    padding: 8px 5px 5px;
    font-size: 15px;
  }

/*market end */

/*footer*/
footer#portal {
  background-color: #d2d2d2;
  padding: 30px 0 10px 0;

}
footer#portal p {
  font-size: 14px;
  color: #4d4d4d;
}
footer#portal .sac {
  font-size: 14px;
  color: #004580;
}
footer#portal .televendas {
  padding-top: 20px;
  text-align: left;
}
footer#portal .televendas img {
}
footer#portal .televendas p:first-child {
  padding-top: 10px;
}
footer#portal .televendas p {
  font-size: 1.62em;
  font-weight: bold;
  color: #00a04a;
  margin: 0;
}
footer#portal a:hover {
  text-decoration: none;
}
footer#portal ul {
  margin-bottom: 0;
}
footer#portal ul li a {
  /*padding-right: 40px;*/
}
footer#portal .logo-footer {
  /*padding: 30px;*/
}
footer#portal .logo-footer p {
  padding: 15px 0 0 0;
  font-weight: normal;
  font-size: 1.62em;
}


#encontre-representantes {
  background-image: url(bg-moveis-representantes.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: 'Open Sans';
}
#encontre-representantes h2 {
  color: #fff;
  margin: 0;
  font-size: 40px;
  font-weight: 100;
  padding-bottom: 50px;
}
#encontre-representantes h2 span {
  font-size: 40px;
  color: rgb(14, 108, 185);
  font-weight: bold;
  margin: 0;
}
#encontre-representantes a {
  background-color: rgb(14, 108, 185);
  padding: 5px 30px 5px 30px;
  color: #fff;
  border-radius: 20px;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
}
#encontre-representantes a:hover {
  text-decoration: none;
  background-color: rgb(0, 166, 80);
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
}

/*produtos novos*/
h3 span {
  font-size: 1.5em;
}
h3 span.new-product-grey {
  font-family: "Open Sans", "Myriad Pro";
  text-transform: uppercase;
  color: #868686;
  font-weight: lighter;
}
h3 span.new-product-blue {
  font-family: "Open Sans", "Myriad Pro";
  text-transform: uppercase;
  color: rgb(14, 108, 185);
  font-weight: bold;
}

/*footer*/

footer#footer-moveis {
  color: #fff;
  background-color: #004b88;
  padding: 30px 0 10px 0;
}
footer#footer-moveis span {
  color: #fff;
}
footer#footer-moveis .televendas {
  padding-top: 20px;
  text-align: left;
}
footer#footer-moveis .televendas p:first-child {
  padding-top: 10px;
}
footer#footer-moveis .televendas p {
  font-size: 1.62em;
  font-weight: bold;
  margin: 0;
}
footer#footer-moveis .logo-footer a:hover {
  text-decoration: none;
}
footer#footer-moveis ul {
  margin-bottom: 0;
}
footer#footer-moveis ul li a {
  /*padding-right: 40px;*/
}
footer#footer-moveis .logo-footer a p {
  color: #fff;
}
footer#footer-moveis .logo-footer p {
  padding: 15px 0 0 0;
  font-weight: normal;
  font-size: 1.62em;
}
/*Fecha Móveis*/
/*abre Institucional*/
#highlight-institutional {
  background: url('institucional-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-bottom: 20px;
}
#highlight-institutional #header {
  padding-top: 20px;
}

#header-institutional p{
  font-size: 0.87em;
  color: rgb(184, 184, 184);
  padding: 0 0 10px 0;
}
#header-institutional h1, h2 {
  text-transform: uppercase;
}
#header-institutional h1 {
  color: rgb(162, 162, 162);
  font-size: 1.75em;
  letter-spacing: 2px;
  margin-bottom: 0;
}
#header-institutional h2 {
  color: rgb(8, 168, 84);
  font-size: 2.57em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 40px;
}
#newsletter-box {
  padding: 8px;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
}
#newsletter-box h2{
  font-size: 1.5em;
  color: rgb(184, 184, 184);
}
#newsletter-box input[type="text"], #newsletter-box input[type="email"] {
  width: 100%;
  margin: 0 0 15px;
  background-color: rgb(220, 220, 220);
  border: 0;
  padding: 5px 0 5px 5px;
}
.newsletter-blue {
  color: rgb(12, 80, 138);
}
#company-data {
  padding-top: 82px;
  padding-bottom: 60px;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url(parallax-bg.jpg);
}
#institutional {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
}
#institutional p {
  font-weight: lighter;
  font-size: 0.87em;
  color: #fff;
  font-family: "Myriad Pro";
  text-transform: none;
  letter-spacing: 2px;
  padding-right: 30px;
}

#institutional h3 {
  color: #FFF;
  font-size: 1.25em;
  letter-spacing: 2px;
  font-weight: lighter;
}
#institutional h3 span{
  color: #00a650;
  font-size: 1.12em;
  font-weight: lighter;
  font-family: "Myriad Pro";
}
#header-institutional {
  padding-top: 30px;
}
#insitutional-bottom {
  padding-top: 50px;
  text-transform: uppercase;
}
#institutional-gallery {
  padding: 30px 0;
}
#injetoras .injetoras-number {
  color: #fff;
  padding-top: 40px;
  font-size: 4.5em;
}
#injetoras .injetoras-white {
  color: #fff;
  font-size: 1.87em;
}
#injetoras .injetoras-green {
  color: #00a650;
  font-size: 1.87em;
}
#ferramentaria .injetoras-white {
  color: #fff;
  font-size: 1.7em;
  padding-top: 85px;
}
#ferramentaria .injetoras-green {
  color: #00a650;
  font-size: 2.5em;
}
#metalizacao .injetoras-white {
  color: #fff;
  font-size: 1.92em;
  padding-top: 85px;
}
#metalizacao .injetoras-green {
  color: #00a650;
  font-size: 1.92em;
}
/*Fecha Institucional*/

/*abre Assistencias*/
path { fill:#DDDDDD; }
path:hover { fill:#BBBBBB; }
path.possui { fill:#3399cc; }
path.possui:hover { fill:#003366; cursor:pointer; }
path.sobre { fill:#003366; }
/*Fecha Assistencias*/

/* pesquisas */
.product-null{
  font-size:22px;
  margin-top:150px;
  margin-bottom:150px;
  color: rgb(27, 123, 200);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  padding: 0 20px;
}
/* fim pesquisas */

/*Media Queries*/
@media (max-width: 767px) {

  #bring-your-production a {
   font-size: 1.54em;
  }

}
@media only screen and (max-width: 991px){
  #company-social {
    background-position: center;
  }
  #header .icons .icon {
    margin: 20px 0;
  }
}
@media (max-width: 1199px) {
  #header {
    padding-top: 30px;
  }
  #header .icons .icon .subtitle{
    text-align: center;
    padding-right: 0px;
  }
  #header .icons{
   padding-bottom: 30px; 
  }
  /* simula o img-responsive center-block do Bootstrap */
  .image_logo_footer{
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    height: auto
  }
}
