

/*Móveis*/
#product-nav {
  background-color: rgb(0, 75, 136);
}
#product-nav .navbar-default .navbar-collapse {
  border: 0;
  background-color: rgb(0, 75, 136);
}
.navbar-default {
  background-color: rgb(0, 75, 136);
  border-color: rgb(0, 75, 136);
  border-radius: 0;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  background-color: rgb(0, 60, 109);
  min-width: 150px;
  text-align: center;
  font-family: "Open Sans", "Myriad Pro";
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 0.75em
}
.navbar-default .navbar-nav > li > a.nav-light-blue {
  background-color: rgb(14, 108, 185);
}
.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover {
  background-color: rgb(0, 60, 109);
  color: rgb(14, 108, 185);
}
.navbar-default .navbar-nav > li > a.nav-light-blue:hover {
  background-color: rgb(14, 108, 185);
  color: rgb(0, 60, 109);
}
#main-slider h1{
  padding-left: 80px;
  padding-top: 80px;
  text-transform: uppercase;
}
#main-slider img{
  padding-right: 60px;
}
.cta-furniture {
  color: #f1b336;
  text-transform: uppercase;
  font-size: 1.12em;
  font-weight: bolder;
  letter-spacing: 3px;
  padding: 10px;
}
.cta-phrase {
  font-size: 0.75em;
  color: #8b8b8b;
  letter-spacing: 1px;
  padding: 0 33px;
  line-height: 1.12em;
}
/*cards*/
.card a.card-action, .card-right a.card-action {
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;
  color: #fff;
  font-family: "Open Sans", "Myriad Pro";
  padding-top: 33px;
  padding-bottom: 33px;
  transform: translate(0, -100px);
  display: inline-block;
}
#main-content {
  margin-top: 20px;
  margin-bottom: 20px;
}
.card a:hover.card-action, .card-right a:hover.card-action {
  text-decoration: none;
}

.card a.card-light, .card-right a.card-light {
  background-color: rgba(14, 108, 185, 0.7);
}
.card a.card-dark, .card-right a.card-dark {
  background-color: rgba(0, 60, 109, 0.7);
}
.card, .card-right {
  height: 700px;
  position: relative;
}
.card:hover {
  box-shadow: 14px 3px 28px -20px #000;
  z-index: 1;
}
.card-right:hover {
  box-shadow: -14px 3px 28px -20px #000;
  z-index: 1;
}
.product-card {
  margin-bottom: 20px;
  text-transform: uppercase;
}
.product-card:hover {
  box-shadow: 1px 2px 10px #ddd;
}
.product-image {
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
}
.product-image .img_show{
  min-height: 250px;
  max-height: 306px;
}
.product-image img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.product-image:hover img{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.product-image p, a {
  position: relative;
}
.product-image a {
  color: rgb(255, 255, 255);
  padding: 8px 20px 5px 20px;
  background-color: rgb(14, 108, 185);
  border-radius: 20px;
  text-decoration: none;
  /*background-color: rgb(0, 166, 80);*/
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
}
.product-image a:hover {
  text-decoration: none;
  background-color: rgb(0, 166, 80);
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
}
.product-image p {
  color: rgb(14, 108, 185);
  font-weight: bold;
  padding-bottom: 10px;
}
/*interna de produto Móveis*/
#furniture-product {
  font-family: "Open Sans", "Myriad Pro";
}
#furniture-product h1 {
  color: rgb(14, 108, 185);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}
#furniture-product .product-ref {
  color: rgb(14, 108, 185);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
#furniture-product p {
  font-size: 12px;
  color: rgb(128, 128, 128);
}
#furniture-product .product-image-shadow {
  /*position: relative;*/
  /*width: auto;*/
  /*height: auto;*/
}
#furniture-product .product-image-shadow:hover {
  box-shadow: 0 0 20px 0 #cacaca;
  -moz-box-shadow: 0 0 20px 0 #cacaca;
  -webkit-box-shadow: 0 0 20px 0 #cacaca;
}
#furniture-product .product-image-box i {
  position: absolute;
  /*top: -50px;*/
  width: 26px;
  height: 26px;
  transform: translate(-15px, -26px);
  color: #fff;
  background: rgb(14, 108, 185);
  padding-top: 5px;
  padding-left: 6px;
  display: none;
}
#furniture-product .product-image-box:hover i {
  display: block;
}
#furniture-product table {
  font-size: 12px;
  text-transform: uppercase;

}
#furniture-product table span{
  font-size: 10px;
  color: rgb(0, 166, 80);

}
#furniture-product table > tbody > tr > th{
  border-top: 0;
  color: rgb(0, 166, 80);
  text-align: center;
}
#furniture-product table > tbody > tr{
  border-bottom: 1px solid #ddd;
  color: rgb(128, 128, 128);
  text-align: center;
}
#furniture-product .furniture-product-specs-title {
  font-size: 18px;
  font-weight: bolder;
  color: rgb(14, 108, 185);
  text-transform: uppercase;
  padding: 20px 0;
}
#furniture-product ul li:nth-child(2) {
  padding: 0 8px;
}
.da-img{
  height: auto !important;
}

@media screen and (max-width: 900px){
  #main-content {
    margin-top: 65px;
  }
  .card img{
    display: none;
  }
  .card, .card-right{
    height: 103px;
    /*overflow: hidden;*/
  }
  .card a.card-action, .card-right a.card-action{
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    color: #fff;
    font-family: "Open Sans", "Myriad Pro";
    padding-top: 33px;
    padding-bottom: 33px;
    transform: translate(0, 0);
    display: inline-block;
    border-top: 2px solid rgb(14, 108, 185);
    border-bottom: 2px solid rgb(14, 108, 185);
  }
  .da-slider{
    display: none;
  }


}
