// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#breadcrumb
  //padding-left: 30px
  #breadcrumbs
    padding-left: 30px
#lista-noticias
  padding: 0 30px
  color: rgb(119, 119, 119)
  h1
    text-transform: uppercase
    font-size: 36px
    font-weight: bold
  h2
    font-size: 20px
    span
      font-size: 14px
  a
    color: rgb(0, 166, 80)
  .new-box
    padding-bottom: 30px
    border-bottom: 1px solid rgb(119, 119, 119)
    margin-bottom: 30px
#corpo-noticia
  color: rgb(119, 119, 119)
  font-weight: normal
  text-align: justify
  padding: 0 30px 100px 30px
  p
    font-size: 14px
    padding-bottom: 15px
  h1
    text-transform: uppercase
    font-size: 20px
    font-weight: bold
    span
      font-size: 14px
