.sortable-placeholder {
border: 1px dashed #CCC;
height: 150px;
margin-bottom: 10px;
}
  .sortable-placeholder-td{
    border: 1px dashed #CCC;
    background-color: #f9f9f9;
  }
.sortable {
/*display: list-item; */
}