/*Abre Brinquedos*/
#highlight-toys {
  background: url('/assets/bg-map.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  /*padding-bottom: 550px;*/
}
#highlight-toys-product {
  background: url('/assets/toy-highlight.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-bottom: 0;
}
.flexslider {
  overflow: hidden;
  border: 0;
  border-radius: 0;
  margin: 0

}
#toys-nav-bg {
  /*background-color: rgba(255, 255, 255, 0.8);*/
}
/*navegação dos brinquedos*/
#toys-card-nav-bg {
  background-image: url("/assets/toys-nav-bg.jpg");
  background-repeat: repeat-x;
  min-height: 120px;
}

#toys-main-nav span{
  color: #fff;
  font-family: 'Myriad Pro';
  font-weight: normal;
  font-size: 14px;
}
#toys-main-nav a{
  text-decoration: none;
}

.toys-main-nav-card {
  height: 100px;
  padding: 6px 8px 0;
  position: relative;
  z-index: 99;
  transition: height 0.5s;
  line-height: 16px;
}
.toys-main-nav-card:hover {
  height: 120px;
  transition: height 0.5s;
}
#motorized-vehicles {
  background: rgb(158, 35, 31);
}
#baby-vehicles {
  background: rgb(227, 30, 37);
}
#pedal-vehicles {
  background: rgb(239, 127, 26);
}
#water-fun {
  background: rgb(102, 195, 209);
}
#radio {
  background: rgb(0, 110, 54);
}
#friction {
  background: rgb(0, 152, 71);
}
#freewheel {
  background: rgb(150, 193, 43);
}
#bloc {
  background: rgb(0, 96, 170);
}
#kits {
  background: rgb(243, 157, 163);
}
#licensed {
  background: rgb(168, 38, 131);
}
#tents {
  background: rgb(255, 7, 7);
}
#dolls {
  background: rgb(230, 10, 128);
}
#pedal_tricycles{
  background: rgb(254, 204, 0);  
}
#early_childhood{
  background: rgb(135, 195, 235);   
}
#beach{
  background: rgb(0, 160, 227);   
}
#playground{
  background: rgb(167, 146, 53); 
}
#kids_house_line{
  background: rgb(220, 207, 115); 
}
#toys-list {
  margin-top: 20px;
  padding-bottom: 60px;
}
#toys-list .toy-box {
  min-height: 360px;
  padding-top: 70px
}
.toy-bullet {
  height: 10px;
  width: 10px;
  border-radius: 5px;
}
.color-one {
  background-color: rgb(41, 98, 173);
}
.color-two {
  background-color: rgb(217, 73, 234);
}
.color-three {
  background-color: rgb(244, 8, 8);
}
#toys-list .toy-name {
  color: rgb(27, 123, 200);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  padding: 0 20px;
  line-height: 24px;
}
#toys-list a {
  text-transform: uppercase;
  background-color: rgb(27, 123, 200);
  color: rgb(255, 255, 255);
  padding: 8px 20px 4px 20px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: normal;
  transition: background 1s;
  margin-bottom: 30px
}
#toys-list a:hover {
  background-color: rgb(73, 174, 255);
  text-decoration: none;
  transition: background 1s;
}
/*fecha navegação dos brinquedos*/
#toy-product-box {
  padding: 70px 0;
}


#toy-product-box  .product-image-shadow {
  /*position: relative;*/
  /*width: auto;*/
  /*height: auto;*/
}
#toy-product-box  .product-image-shadow:hover {
  box-shadow: 0 0 20px 0 #cacaca;
  -moz-box-shadow: 0 0 20px 0 #cacaca;
  -webkit-box-shadow: 0 0 20px 0 #cacaca;
}
#toy-product-box  .product-image-box i {
  position: absolute;
  /*top: -50px;*/
  width: 26px;
  height: 26px;
  transform: translate(-15px, -26px);
  color: #fff;
  background: rgb(0, 166, 80);
  padding-top: 5px;
  padding-left: 6px;
  display: none;
}
#toy-product-box .product-image-box:hover i {
  display: block;
}


#toy-product h1 {
  color: rgb(27, 123, 200);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 48px;
  padding: 0;
  text-align: center;
  line-height: 64px;
}
#recomended-age {
  height: 60px;
  min-width: 60px;
}
#toy-product-description-header {
  color: rgb(27, 123, 200);
  font-size: 26px;
}
.box_toy-product-description-text p{
  font-size: 22px;
  color: #999;  
}
.toy-product-description-text {
  font-size: 22px;
  color: #999;
}
#recomended-age p {
  transform: translateY(15%);
  font-size: 36px;
  color: #fff;
}
.some-color {
  background-color: rgb(255, 154, 16);
}
.lum-lightbox.lum-open {
  z-index: 99;
}
/*Fecha Brinquedos*/

@media (max-width: 767px) {
  .toys-main-nav-card{
   height:80px; 
  }
  .toys-main-nav-card:hover{
   height:100px; 
  }
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
  #toys-main-nav span{
    font-size: 12px;
  }
  .show_categories{
    width:6.25%;
  }
    .toys-main-nav-card{
     padding-left:0px;
     padding-right:0px;
    }

}

@media (min-width: 1200px) {
  .toys-main-nav-card{
   padding-left:0px;
   padding-right:0px;
  }
  
  #toys-main-nav{
    max-width: 1680px; 
    margin:auto;
  }
  .toys-main-nav-card{
    max-width:105px;
  }
  .show_categories{
    width:6.25%;
  }
}







