/*Abre UD*/
#ud-navbar-bg {
  background-color: rgb(0, 165, 78);
  border-radius: 0;
  border: 0;
}
#ud-navbar .ud-nav .navbar-default .navbar-collapse {
  border: 0;
  background-color: rgb(0, 165, 78);
}
#ud-navbar > li {
  border-left: 2px solid rgb(0, 139, 66);
}
#ud-navbar > li > a {
  color: #fff;
  background-color: rgb(0, 204, 96);
  /*width: 171px;*/
  text-align: center;
  font-family: "Open Sans", "Myriad Pro";
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 0.75em
}
#ud-navbar  > li > a.nav-light-blue {
  background-color: rgb(14, 108, 185);
}
#ud-navbar > li > a {
  text-transform: uppercase;
}
#ud-navbar > li > a:hover {
  background-color: rgb(0, 139, 66);
  color: rgb(255, 255, 255);
}
#ud-navbar .active a {
  background-color: rgb(0, 132, 66);
  color: rgb(255, 255, 255);
}
#ud-navbar .navbar-default .navbar-nav > li > a.nav-light-blue:hover {
  background-color: rgb(14, 108, 185);
  color: rgb(0, 60, 109);
}
#ud-products-slider .da-slider {
  min-width: 100%;
  background-image: none;
  height: 473px;
}
#ud-products-slider .da-dots span {
  background: rgb(0, 139, 66);
}
#ud-products-slider .da-arrows span {
  top: 75%;
}
#ud-products-slider .da-slide h2 {
  color: rgb(0, 139, 66);
  font-size: 40px;
}
#ud-products-slider .da-slide p {
  color: rgb(0, 139, 66);
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  top: 230px;
  font-weight: bold;
}
#ud-products-slider .da-slide .dots {
  top: 203px;
  letter-spacing: 6px;
}
#ud-products-slider .da-slide .da-link {
  background-color: rgb(0, 139, 66);
  margin-top: 40px;
}
#ud-products-slider .da-slide .da-link:hover {
  background-color: rgb(0, 165, 78);
}
#ud-products-list {
  /*background-image: url(ud-list-product-bg.jpg);*/
  background-repeat: repeat-y;
  background-position: center center;
  margin-top: 60px;
}
.ud-product-box {
  text-transform: uppercase;
  padding-top: 15px;
  margin-bottom: 42px;
  min-height: 278px;
  position: relative;
}
.ud-product-box p {
  font-size: 0.87em;
  color: rgb(0, 139, 66);
  font-family: "Open Sans";
  font-weight: bold;
  padding: 0 15px 15px 15px;
  min-height: 54px;
}
.ud-product-box a {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 139, 66);
  padding: 8px 30px 5px 30px;
  font-family: "Myriad Pro";
  font-weight: 100;
  border-radius: 15px;
  font-size: 0.87em;
  height: auto;
}

/*Fecha UD*/
/*interna de produto UD*/
#ud-product {
  font-family: "Open Sans", "Myriad Pro";
  padding-bottom: 50px;
}
#ud-product h1 {
  color: rgb(0, 166, 80);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}
#ud-product .product-ref {
  color: rgb(0, 166, 80);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
#ud-product p {
  font-size: 12px;
  color: rgb(128, 128, 128);
}
#ud-product .product-image-shadow {
  /*position: relative;*/
  /*width: auto;*/
  /*height: auto;*/
}
#ud-product .product-image-shadow:hover {
  box-shadow: 0 0 20px 0 #cacaca;
  -moz-box-shadow: 0 0 20px 0 #cacaca;
  -webkit-box-shadow: 0 0 20px 0 #cacaca;
}
#ud-product .product-image-box i {
  position: absolute;
  /*top: -50px;*/
  width: 26px;
  height: 26px;
  transform: translate(-15px, -26px);
  color: #fff;
  background: rgb(0, 166, 80);
  padding-top: 5px;
  padding-left: 6px;
  display: none;
}
#ud-product .product-image-box:hover i {
  display: block;
}
#ud-product table {
  font-size: 12px;
  text-transform: uppercase;

}
#ud-product table span{
  font-size: 10px;
  color: rgb(0, 166, 80);

}
#ud-product table > tbody > tr > th{
  border-top: 0;
  color: rgb(0, 166, 80);
  text-align: center;
}
#ud-product table > tbody > tr{
  border-bottom: 1px solid #ddd;
  color: rgb(128, 128, 128);
  text-align: center;
}
#ud-product .furniture-product-specs-title {
  font-size: 18px;
  font-weight: bolder;
  color: rgb(0, 166, 80);
  text-transform: uppercase;
  padding: 20px 0;
}
#ud-product ul li:nth-child(2) {
  padding: 0 8px;
}
@media screen and (max-width: 900px){
  #ud-products-slider{
    display: none;
  }
}
