%section.content-header
  %h1
    =Newsletter.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=Newsletter.model_name.human()  
/ Main content
%section.content
  .row
    .col-xs-12
      %p= link_to "Nova #{Newsletter.model_name.human()} ", new_admin_newsletter_path, class: "btn btn-primary"
      .box
        .box-header
          %h3.box-title="#{Newsletter.model_name.human(count: 2)} Cadastrados"
        .box-body.table-responsive.no-padding
          %table.table.table-hover
            %tr
              %th=t("activerecord.attributes.newsletter.title")
              %th=t("activerecord.attributes.newsletter.email")
              %th=t("activerecord.attributes.newsletter.created_at")
              %th=t("actions")
            - for newsletter in @newsletters
              %tr
                %td= newsletter.title
                %td= newsletter.email
                %td= l(newsletter.created_at, :format => :long)
                %td  
                  = link_to t("edit"), edit_admin_newsletter_path(newsletter), class: "btn btn-default"
                  = link_to t("destroy"),[:admin, newsletter],  method: :delete , data:{confirm: t("msg_delete")}, class: "btn btn-danger"
      %p= link_to "Nova #{Newsletter.model_name.human()} ", new_admin_newsletter_path, class: "btn btn-primary"
