%section.content-header
  %h1
    Admin/User  
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active Admin/User


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title="Admin/User"
        .box-body  
          %p
            %b="#{t("activerecord.attributes.user.email")}:"
            %br
            = @user.email
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.user.password")}:"
            %br
            = @user.password
            
        
  = link_to t("back_list"), admin_users_path, :class => "btn btn-default"
  = link_to t("edit"), edit_admin_user_path(@user), :class => "btn btn-default" 
  = link_to "Novo Admin/User", new_admin_user_path, :class => "btn btn-primary"


