-content_for :footer do
  %script
    $(document).ready(function () {
    $('#da-slider').cslider({
    autoplay : true,
    interval : 3000
    });
    });
    
-if !@product_featureds.blank?
  %section#ud-products-slider
    .container
      .row
        #da-slider.da-slider.col-md-12.col-lg-12
          - content = "..................................................."
          -@product_featureds.each do |product_featured|
            .da-slide
              %h2=product_featured.title
              %p.dots=content
              %p=product_featured.product_category.title
              =link_to(@conf.title_see_the_product, domestic_utilities_product_path(product_featured), class: "da-link")
              =image_tag(product_featured.image_prod.url(), class: "da-img img-responsive")

          %nav.da-arrows
            %span.da-arrows-prev
            %span.da-arrows-next
%section#ud-products-list
  .container-fluid
    .row
      .container
        .row
          - i = 0
          -@products.shuffle.take(12).each do |product|
            -if i == 0
              .row 
              =render file: "domestic_utilities/_product.html.haml", product: @product = product
            -else
              =render file: "domestic_utilities/_product.html.haml", product: @product = product
            -if i == 3
              -i = 0
            -else
              -i = i + 1