%section#ud-products-list
  .container-fluid
    .row
      .container
        .row
          -if !@products.blank?
            - i = 0
            - count = 0
            -@products.each do |product|
              -if product.published && product.active && product.product_category.published && product.product_category.active && product.product_line_id == 3
                - count = count + 1
                -if i == 0
                  .row 
                  =render file: "domestic_utilities/_product.html.haml", product: @product = product
                -else
                  =render file: "domestic_utilities/_product.html.haml", product: @product = product
                -if i == 3
                  -i = 0
                -else
                  -i = i + 1
            -if count == 0
              .col-md-12.text-center.product-null
                %p=@conf.title_nothing_found
              
          -else
            .col-md-12.text-center.product-null
              %p=@conf.title_nothing_found
