%link{:href => "#{asset_path 'favicon/apple-touch-icon.png'}", :rel => "apple-touch-icon", :sizes => "180x180"}/
%link{:href => "#{asset_path 'favicon/favicon-32x32.png'}", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
%link{:href => "#{asset_path 'favicon/favicon-16x16.png'}", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
%link{:href => "#{asset_path 'favicon/manifest.json'}", :rel => "manifest"}/
%link{:color => "#5bbad5", :href => "#{asset_path 'favicon/safari-pinned-tab.svg'}", :rel => "mask-icon"}/
%link{:href => "#{asset_path 'favicon/favicon.ico'}", :rel => "shortcut icon"}/
%meta{:content => "lemonp_xplast", :name => "apple-mobile-web-app-title"}/
%meta{:content => "lemonp_xplast", :name => "application-name"}/
%meta{:content => "#{asset_path 'favicon/browserconfig.xml'}", :name => "msapplication-config"}/
%meta{:content => "#ffffff", :name => "theme-color"}/

