.container
  .row#toys-list
    %section.text-center
      -if !@products.blank?
        - i = 0
        - count = 0
        -@products.each do |product|
          -if product.published && product.active && product.product_category.published && product.product_category.active && product.product_line_id == 2
            - count = count + 1
            -if i == 0
              .row 
              =render file: "toys/_product.html.haml", product: @product = product
            -else
              =render file: "toys/_product.html.haml", product: @product = product
            -if i == 3
              -i = 0
            -else
              -i = i + 1
        -if count == 0
          %p.text-center.product-null
            =@conf.title_nothing_found
      -else
        %p.text-center.product-null
          =@conf.title_nothing_found
          