=content_for :footer do
  = tinymce_assets
  = tinymce
  
= form_for [:admin, @notice] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      = f.error_messages

  .box-body        
    #tabs.nav-tabs-custom
      %ul.nav.nav-tabs
        - Notice.globalize_locales.sort!{|x,y| y <=> x }.each do |show|
          - if Notice.globalize_locales.first == show
            - class_locales = "active "
          - else
            - class_locales = ""
          %li{class: class_locales}
            =link_to(translate_option(show), "##{show}", "data-toggle": "tab")
      .tab-content
        - Notice.globalize_locales.sort!{|x,y| y <=> x }.each do |show|
          - if Notice.globalize_locales.first == show
            - class_locales = "active "
          - else
            - class_locales = ""
          - class_locales = "#{class_locales}tab-pane"
          %div{id: show, class: class_locales}
            - Notice.globalize_attribute_names.each do |lang|       
              - if lang[-2, 2] == "#{show[-2,2].downcase}"
                -if !(lang[0, 4] == "slug")
                  .form-group
                    = f.label lang
                    -if lang[0, 4] == "desc"
                      = f.text_area lang, rows: "3", :class => "form-control tinymce"
                    -else
                      = f.text_field lang, :class => "form-control"
    .form-group 
      = f.label :title_source
      = f.text_field :title_source, class: "form-control"      
    .form-group 
      = f.label :link_source
      = f.text_field :link_source, class: "form-control"
    .form-group
      = f.label :notice_image
      = f.file_field :notice_image, :class => "form-control"
    - if @notice.notice_image.file?
      .form-group
        =image_tag(@notice.notice_image.url)  
    .form-group 
      = f.label :its_an_event
      = f.check_box :its_an_event
    .form-group 
      = f.label :start_event
      = f.date_select :start_event
    .form-group 
      = f.label :stop_event
      = f.date_select :stop_event
    .form-group 
      = f.label :published
      = f.check_box :published
  .box-footer
    =f.submit nil, class: "btn btn-primary"