%section.content-header
  %h1
    =Notice.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=Notice.model_name.human()  
/ Main content
%section.content
  .row
    .col-xs-12
      %p= link_to "Nova #{Notice.model_name.human()} ", new_admin_notice_path, class: "btn btn-primary"
      .box
        .box-header
          %h3.box-title="#{Notice.model_name.human(count: 2)} Cadastrados"
        .box-body.table-responsive.no-padding
          %table.table.table-hover
            %tr
              %th=t("activerecord.attributes.notice.notice_image")
              %th=t("activerecord.attributes.notice.title")
              %th=t("activerecord.attributes.notice.published")
              %th=t("actions")
            - for notice in @notices
              %tr
                %td
                  -if notice.notice_image.file?
                    =image_tag(notice.notice_image.url("thumb"))
                %td= notice.title
                %td= show_boolean(notice.published)
                %td  
                  = link_to t("show"), [:admin, notice], class: "btn btn-default"
                  = link_to t("edit"), edit_admin_notice_path(notice), class: "btn btn-default"
                  = link_to t("destroy"),[:admin, notice],  method: :delete , data:{confirm: t("msg_delete")}, class: "btn btn-default"
                  = link_to NoticeImage.model_name.human(count: 2), admin_notice_notice_images_path(notice), class: "btn btn-success"
      %p= link_to "Nova #{Notice.model_name.human()} ", new_admin_notice_path, class: "btn btn-primary"
