%section.content-header
  %h1
    =Notice.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=Notice.model_name.human() 


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title=Notice.model_name.human() 
        .box-body  
          %p
            %b="#{t("activerecord.attributes.notice.title")}:"
            %br
            = @notice.title
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.notice.description")}:"
            %br
            = raw(@notice.description)
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.notice.title_source")}:"
            %br
            = @notice.title_source
        - if @notice.notice_image.file?
          .box-body  
            %p
              %b="#{t("activerecord.attributes.notice.notice_image")}:"
              %br
              =image_tag(@notice.notice_image.url)  
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.notice.published")}:"
            %br
            = show_boolean(@notice.published)
        
  = link_to t("back_list"), admin_notices_path, :class => "btn btn-default"
  = link_to t("edit"), edit_admin_notice_path(@notice), class: "btn btn-default"
  = link_to "Novo #{Notice.model_name.human()} ", new_admin_notice_path, class: "btn btn-primary"


