= form_for [:admin, @assistance] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      = f.error_messages
  .box-body        
    .form-group 
      = f.label :state
      /= f.select :state, ["AC", "AL", "AP", "AM", "BA", "CE", "DF", "ES", "GO", "MA", "MT", "MS", "MG", "PA", "PB", "PR", "PE", "PI", "RJ", "RN", "RS", "RO", "RR", "SC", "SP", "SE", "TO"]
      = f.select :state, [["Acre", "AC"],["Alagoas", "AL"],["Amapá", "AP"],["Amazonas", "AM"],["Bahia", "BA"],["Ceará", "CE"],["Distrito Federal", "DF"],["Espírito Santo", "ES"],["Goiás", "GO"],["Maranhão", "MA"],["Mato Grosso", "MT"],["Mato Grosso do Sul", "MS"],["Minas Gerais", "MG"],["Pará", "PA"],["Paraíba", "PB"],["Paraná", "PR"],["Pernambuco", "PE"],["Piauí", "PI"],["Rio de Janeiro", "RJ"],["Rio Grande do Norte", "RN"],["Rio Grande do Sul", "RS"],["Rondônia", "RO"],["Roraima", "RR"],["Santa Catarina", "SC"],["São Paulo", "SP"],["Sergipe", "SE"],["Tocantins", "TO"]], class: "form-control"
    .form-group 
      = f.label :name
      = f.text_field :name, class: "form-control"
    .form-group 
      = f.label :phone
      = f.text_field :phone, class: "form-control"
    .form-group 
      = f.label :address
      = f.text_field :address, class: "form-control"
    .form-group 
      = f.label :district
      = f.text_field :district, class: "form-control"
    .form-group 
      = f.label :city
      = f.text_field :city, class: "form-control"
    .form-group 
      = f.label :zip_code
      = f.text_field :zip_code, class: "form-control"
    .form-group 
      = f.label :email
      = f.text_field :email, class: "form-control"
    .form-group 
      = f.label :site
      = f.text_field :site, class: "form-control"
    .form-group 
      = f.label :observation
      = f.text_area :observation, class: "form-control"
    .form-group 
      = f.label :published
      = f.check_box :published
  .box-footer
    =f.submit nil, class: "btn btn-primary"