%section.content-header
  %h1
    =Assistance.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=Assistance.model_name.human()  
/ Main content
%section.content
  .row
    .col-xs-12
      %p= link_to "Nova #{Assistance.model_name.human()} ", new_admin_assistance_path, class: "btn btn-primary"
      .box
        .box-header
          %h3.box-title="#{Assistance.model_name.human(count: 2)} Cadastrados"
        .box-body.table-responsive.no-padding
          %table.table.table-hover
            %thead
              %tr
                %th=t("activerecord.attributes.assistance.state")
                %th=t("activerecord.attributes.assistance.name")
                %th=t("activerecord.attributes.assistance.published")
                %th=t("actions")
            %tbody
              - for assistance in @assistances
                %tr
                  %td= assistance.state
                  %td= assistance.name
                  %td= show_boolean(assistance.published)
                  %td  
                    = link_to t("show"), [:admin, assistance], class: "btn btn-default"
                    = link_to t("edit"), edit_admin_assistance_path(assistance), class: "btn btn-default"
                    = link_to t("destroy"),[:admin, assistance],  method: :delete , data:{confirm: t("msg_delete")}, class: "btn btn-default"
      %p= link_to "Nova #{Assistance.model_name.human()} ", new_admin_assistance_path, class: "btn btn-primary"
