%section.content-header
  %h1
    =Assistance.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=Assistance.model_name.human() 


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title=Assistance.model_name.human() 
        .box-body  
          %p
            %b="#{t("activerecord.attributes.assistance.state")}:"
            %br
            = @assistance.state
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.assistance.name")}:"
            %br
            = @assistance.name
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.assistance.phone")}:"
            %br
            = @assistance.phone
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.assistance.address")}:"
            %br
            = @assistance.address
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.assistance.district")}:"
            %br
            = @assistance.district
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.assistance.city")}:"
            %br
            = @assistance.city
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.assistance.zip_code")}:"
            %br
            = @assistance.zip_code
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.assistance.email")}:"
            %br
            = @assistance.email
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.assistance.site")}:"
            %br
            = @assistance.site
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.assistance.observation")}:"
            %br
            = @assistance.observation
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.assistance.published")}:"
            %br
            = show_boolean(@assistance.published)
        
  = link_to t("back_list"), admin_assistances_path, :class => "btn btn-default"
  = link_to t("edit"), edit_admin_assistance_path(@assistance), class: "btn btn-default"
  = link_to "Nova #{Assistance.model_name.human()} ", new_admin_assistance_path, class: "btn btn-primary"


