/ sidebar: style can be found in sidebar.less
%section.sidebar
  / Sidebar user panel
  .user-panel
    .pull-left.image
      %img.img-circle{:alt => "User Image", :src => "/assets/AdminLTE/user2-160x160.jpg"}/
    .pull-left.info
      %p= current_user.name
      %a{:href => "#{logout_path}"}
        %i.fa.fa-circle.text-success
        Sair

  %ul.sidebar-menu
    %li.header MENU PRINCIPAL
    %li.treeview
      %a{:href => "#"}
        %i.fa.fa-dashboard
        %span Móveis
        %i.fa.fa-angle-left.pull-right
      %ul.treeview-menu    
        %li
          =link_to admin_product_line_product_categories_path(1) do
            %i.fa.fa-circle-o
            Categorias de Móveis
        %li
          =link_to admin_product_line_products_path(1) do
            %i.fa.fa-circle-o
            Produtos de Móveis
    
    %li.treeview
      %a{:href => "#"}
        %i.fa.fa-car
        %span Brinquedos
        %i.fa.fa-angle-left.pull-right
      %ul.treeview-menu    
        %li
          =link_to admin_product_line_product_categories_path(2) do
            %i.fa.fa-circle-o
            Categorias de Brinquedos
        %li
          =link_to admin_product_line_products_path(2) do
            %i.fa.fa-circle-o
            Produtos de Brinquedos
        %li
          =link_to admin_product_labels_path do
            %i.fa.fa-circle-o
            Selos dos Brinquedos
          
    
    
    %li.treeview
      %a{:href => "#"}
        %i.fa.fa-archive
        %span Utilidade Domestica
        %i.fa.fa-angle-left.pull-right
      %ul.treeview-menu    
        %li
          =link_to admin_product_line_product_categories_path(3) do
            %i.fa.fa-circle-o
            Categorias de UD
        %li
          =link_to admin_product_line_products_path(3) do
            %i.fa.fa-circle-o
            Produtos de UD

    %li
      = link_to admin_notices_path() do 
        %i.fa.fa-book
        %span Noticias

    %li
      = link_to edit_admin_about_path("xplast") do 
        %i.fa.fa-book
        %span Institucional
        
    %li
      = link_to admin_newsletters_path() do 
        %i.fa.fa-book
        %span Newsletters
    %li
      = link_to admin_assistances_path() do 
        %i.fa.fa-wrench
        %span Assistencias
    
    %li
      = link_to edit_admin_configuration_path("xplast") do 
        %i.fa.fa-cogs
        %span Configurações
        
        
        

  
