.container-fluid
  .row
    .col-md-12.col-lg-4
      %strong
        %p
          %span.fa.fa-copyright
          2016 XPlast Industria Paraguaya
      %p
        = @conf.description_about
      %p
        = @conf.description_distributed
      %p.sac
        =@conf.sac_number
    .col-xs-12.col-sm-4.col-md-4.col-lg-3.televendas.text-md-center.text-sm-center
      .row
        .col-xs-12.col-md-12.col-lg-3
          -if @white
            =image_tag("televendas-branco-icon.png", :class =>"img-responsive center-block")
          -else
            =image_tag("televendas-icon.png", :class =>"img-responsive center-block")
        .col-xs-12.col-md-12.col-lg-7.text-xs-center.text-sm-center.text-md-center
          %p
            =@conf.title_telesales
          %p
            =@conf.phone_number
    .col-xs-12.col-sm-4.col-md-4.col-lg-2
      -if @white
        =image_tag("sistema_certificado_abnt_branco.png", :class =>"img-responsive center-block")
      -else
        =image_tag("sistema_certificado_abnt.png", :class =>"img-responsive center-block")
    .col-xs-12.col-sm-4.col-md-4.col-lg-3.text-right.text-xs-center.text-sm-center.text-md-center.logo-footer
      =link_to "http://www.xplast.com.py" do
        -if @white
          =image_tag("logo-branco.png", :class =>"image_logo_footer")
        -else
          =image_tag("logo.png", :class =>"image_logo_footer")
        %p
          www.xplast.com.py
      %ul.list-unstyled.list-inline.text-right.text-xs-center.text-sm-center.text-md-center
        -if !@conf.link_facebook.blank?
          %li
            =link_to(image_tag("fb-icon-small.png"),@conf.link_facebook, target: "_blank")
        -if !@conf.link_instagram.blank?
          %li
            =link_to(image_tag("insta-icon-small.png"),@conf.link_instagram, target: "_blank")
        -if !@conf.link_linkedin.blank?
          %li
            =link_to(image_tag("in-icon-small.png"),@conf.link_linkedin, target: "_blank")