!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title
      = content_for?(:title) ? t("site_name") + " - " + yield(:title) : t("site_name")
    %meta{'name' => 'viewport', :content => 'width=device-width, initial-scale=1'}
    = render 'application/favicon'
    = csrf_meta_tag
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag "furnitures", media: "all"
    = yield(:head)
  %body
    .container-fluid#highlight
      .row
        .container
          .row
            .col-md-12.text-right
              %nav#language-nav
                %ul.list-unstyled.list-inline
                  = language_links
            .col-md-2
              =link_to(image_tag("logo.png"),root_path)
            .col-md-8.col-md-offset-2
              %nav#main-nav
                %ul.list-unstyled.list-inline.text-right
                  %li
                    =link_to("home", furnitures_root_path())
                  %li
                    =link_to(@conf.title_institutional, about_path())
                  -if @conf.catalog_furniture.file?
                    %li
                      =link_to(@conf.title_virtual_catalog,@conf.catalog_furniture.url, target: "_blank")
                    %li
                      =form_tag(furnitures_search_path, :method => :get, :class => "form-inline") do
                        .form-group
                          =text_field_tag :term
                          %button.btn.btn-default{:type => "submit"}
                            =@conf.title_search

                  -if !@conf.link_facebook.blank?
                    %li
                      =link_to(image_tag("fb-icon-small.png", height: "21", width: "17"), @conf.link_facebook, target: "_blank")
                  -if !@conf.link_instagram.blank?
                    %li
                      =link_to(image_tag("insta-icon-small.png", height: "21", width: "17"), @conf.link_instagram, target: "_blank")
                  -if !@conf.link_linkedin.blank?
                    %li
                      =link_to(image_tag("in-icon-small.png", height: "21", width: "17"), @conf.link_linkedin, target: "_blank")
    %nav.navbar.navbar-default
      .container#product-nav
        .navbar-header
          %button.navbar-toggle.collapsed{:type => "button", :'data-toggle' => "collapse", :'data-target' => "#menu-mobile", :'aria-expanded' => "false"}
            %span.sr-only
              Navegação aninhada para dispositivos móveis
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #menu-mobile.collapse.navbar-collapse
          %ul.nav.navbar-nav
            -if !@product_categories.blank?
              - i = 1
              -@product_categories.each do |product_category|
                %li
                  -if (i%2 == 0)
                    -class_show = "nav-light-blue"
                  -else
                    -class_show = ""
                  =link_to(product_category.title,  furnitures_category_path(product_category), class: class_show)
                - i = i + 1
    =yield
    %footer#footer-moveis
      =render file: "layouts/_footer_data.html.haml", white: @white = true
    .container
      .row
        .col-md-12.text-center
          =link_to(image_tag("logo-lemon-pepper.jpg"),"http://www.lemonp.com.br", target: "_blank")



  =javascript_include_tag 'furnitures'
  = render 'analytics/code'
  = yield(:footer)
