!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title
      = content_for?(:title) ? t("site_name") + " - " + yield(:title) : t("site_name")
    %meta{'name' => 'viewport', :content => 'width=device-width, initial-scale=1'}
    = render 'application/favicon'
    = csrf_meta_tag
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag "toys", media: "all"
    = yield(:head)
  %body
    .container-fluid{id: @type}
      .row#toys-nav-bg
        .container
          .row
            .col-md-12.text-right
              %nav#language-nav
                %ul.list-unstyled.list-inline
                  = language_links
            .col-md-2
              =link_to(image_tag("logo.png"),root_path)
            .col-md-8.col-md-offset-2
              %nav#main-nav
                %ul.list-unstyled.list-inline.text-right
                  %li
                    =link_to("home", toys_root_path())
                  %li
                    =link_to(@conf.title_institutional, about_path())
                  -if @conf.catalog_toys.file?
                    %li
                      =link_to(@conf.title_virtual_catalog,@conf.catalog_toys.url, target: "_blank")
                  %li
                    =form_tag(toys_search_path, :method => :get, :class => "form-inline") do
                      .form-group
                        =text_field_tag :term
                        %button.btn.btn-default{:type => "submit"}
                          =@conf.title_search
    -# Slider da página de Brinquedos
    .container-fluid
      .row
        .flexslider
          %ul.slides
            %li
              =image_tag("toy-highlight-#{params[:locale]}.jpg")
              /%img{:src => "/assets/toy-highlight.jpg"}
            /%li
            /  %img{:src => "/assets/toy-highlight.jpg"}
            /%li
            /  %img{:src => "/assets/toy-highlight.jpg"}
    =render file: "toys/_menu_toys.html.haml"
    =yield
    %footer#footer-moveis
      =render file: "layouts/_footer_data.html.haml", white: @white = true
    .container
      .row
        .col-md-12.text-center
          =link_to(image_tag("logo-lemon-pepper.jpg"),"http://www.lemonp.com.br", target: "_blank")
    =javascript_include_tag 'toys'
    = render 'analytics/code'
    = yield(:footer)
