-content_for :footer do 
  = stylesheet_link_tag "luminous-basic.min", media: "all"
  =javascript_include_tag 'Luminous.min'
  %script
    $(document).ready(function () {
    $('#da-slider').cslider({
    bgincrement	: 30,
    autoplay : false,
    interval : 6000
    });
    });
  %script
    new Luminous(document.querySelector('.zoom'));
.container
  .row#toy-product-box
    %section#toy-product
      .col-md-7
        .row
          .col-md-12.product-image-shadow
            .product-image-box
              -if @product_images.first.product_image_file.file?
                =link_to @product_images.first.product_image_file.url, class: "zoom", id: "link_big_image" do
                  =image_tag(@product_images.first.product_image_file.url("internal"), class: "img-responsive", id: "show_big_image")
                  %i.fa.fa-search-plus
        -if !@product_images.blank? 
          .row.top-35
            -@product_images.each do |product_image|
              .col-md-3
                =link_to(homes_load_image_path(image_prod: product_image.id), remote: true, class: "thumbnail") do
                  =image_tag(product_image.product_image_file.url("internal_thumb"), class: "img-responsive")
        -if !@product.movie_link.blank?
          .row
            .col-md-12.top-35
              .embed-responsive.embed-responsive-16by9
                %iframe.embed-responsive-item{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => @product.movie_link, :webkitallowfullscreen => ""}
      .col-md-5
        .col-md-6
          -if !@product.product_label_id.blank?
            -if @product.product_label.image_label.file?
              =image_tag(@product.product_label.image_label.url("otimize"), class: "img-responsive")
        .col-md-4
          -if @product.new
            =image_tag("news_2017.png", class: "img-responsive")
        .col-md-12
          %h1=@product.title
        .col-md-10
          %p#toy-product-description-header=@conf.title_description
        .col-md-2
          -if !@product.product_minimum_age.blank?
            .some-color.text-center#recomended-age
              %p="#{@product.product_minimum_age} +"
        .col-md-10.box_toy-product-description-text
          %p.toy-product-description-text=raw(@product.description)
        - if !(@product.product_length.blank? && @product.product_width.blank? && @product.product_height.blank? && @product.product_weight.blank? && @product.product_parts.blank?)
          .col-md-10
            %p#toy-product-description-header=@conf.title_product_specifications
        .col-md-10
          -if !@product.product_length.blank?    
            %p.toy-product-description-text= "#{@conf.title_length.titleize}: #{@product.product_length} mm"
          -if !@product.product_width.blank?
            %p.toy-product-description-text= "#{@conf.title_width.titleize}: #{@product.product_width} mm"
          -if !@product.product_height.blank?
            %p.toy-product-description-text= "#{@conf.title_height.titleize}: #{@product.product_height} mm"
          -if !@product.product_weight.blank?
            %p.toy-product-description-text= "#{@conf.title_weight.titleize}: #{@product.product_weight} Kg"
          -if !@product.product_parts.blank?
            %p.toy-product-description-text= "#{@conf.title_parts.titleize}: #{@product.product_parts}"
          -if !@product.ean.blank?
            %p.toy-product-description-text= "EAN: #{@product.ean}"
        .col-md-10
          %p#toy-product-description-header=@conf.title_packed_product_specifications_pack
        .col-md-10
          -if !@product.product_packed_length.blank?    
            %p.toy-product-description-text= "#{@conf.title_length.titleize}: #{@product.product_packed_length} mm"
          -if !@product.product_packed_width.blank?
            %p.toy-product-description-text= "#{@conf.title_width.titleize}: #{@product.product_packed_width} mm"
          -if !@product.product_packed_height.blank?
            %p.toy-product-description-text= "#{@conf.title_height.titleize}: #{@product.product_packed_height} mm"
          -if !@product.product_packed_weight.blank?
            %p.toy-product-description-text= "#{@conf.title_weight.titleize}: #{@product.product_packed_weight} Kg"
          -if !@product.product_packed_quantity.blank?
            %p.toy-product-description-text= "#{@conf.title_quantity}: #{@product.product_packed_quantity}"
        .col-md-10
          %p#toy-product-description-header 
            =@conf.title_share 
          .addthis_inline_share_toolbox
        -if @product.product_download.file?
          .col-md-10
            %p#toy-product-description-header 
              =@conf.title_download_images
            %p
              =link_to(@conf.title_download,@product.product_download.url, class: "btn btn-default",target: "_blank")

        
